<div
  class="vm-accordion-content"
  data-accordion-id="{{ accordion_id }}"
  {% if accordion_group_id != blank %}
  data-accordion-group-id="{{ accordion_group_id }}"
  {% endif %}>
  <div class="vm-accordion-content__inner">
    {{ content }}
  </div>
</div>