    <button class="vm-accordion-button" data-accordion-button-id="{{ accordion_id }}">
      {{ title }}
      <span class="vm-accordion-button__arrow">
        {% render "icon.carat" %}
      </span>      
    </button>