{% capture content %}
<div class="container">
  <div class="row row--mobile-collapse {% if image_position == "right" %}row--reverse{% endif %}">

    <div class="eight columns medium-down--one-whole">
      <div class="content-section--image-text-columns__image-wrapper">
        {{ image | img_url: 'x1800' | img_tag }}
      </div>
    </div>

    <div class="eight columns medium-down--one-whole">
      <div class="content-section--image-text-columns__text-wrapper">
        <div class="content-section--image-text-columns__text">
          {% if title != blank %}
            {% render "content-section.title" with {
              title: title | escape,
              id: id,
              title_tag: title_tag
            } %}
          {% endif %}

          {{ text_content }}
        </div>
      </div>
    </div>

  </div>
</div>
{% endcapture %}

{% render 'content-section' with {
  id: id,
  id_classes: "image-with-text"
  modifiers: modifiers,
  content: content,
  extra_classes: extra_classes,
  color_region: color_region,
  padding_top: padding_top,
  padding_bottom: padding_bottom,
  is_full_width: is_full_width
} %}
