<div class="row row--mobile-collapse faq__item u-margin-bottom-2">
  <div class="four columns medium-down--one-whole medium-down--offset-by-zero">
    <h4 class="faq__question subheading-2 ">
      {{ question }}
    </h4>
  </div>
  
  <div class="twelve columns medium-down--one-whole medium-down--offset-by-zero">
    <div class="faq__answer content--block-text">
      <p>{{ answer }}</p>
    </div>
  </div>
</div>