<div class="row row--mobile-collapse pfaq__item">
  <div class="four columns medium-down--one-whole medium-down--offset-by-zero">
    <h4 class="faq__question subheading-2 ">
      {{ question }}
    </h4>
  </div>
  
  <div class="twelve columns medium-down--one-whole medium-down--offset-by-zero">
    <p class="faq__answer paragraph--block-text">
      {{ answer }}
    </p>
  </div>
</div>