{% comment %}
** Mega menu - homepage partial **
- Static section
- Uses blocks
- Must be enabled through general settings
{% endcomment %}


<div class="mega-menu-desktop">
  <div
    class="vm-header-dropdown"
    data-dropdown-id="{{ section.settings.parent | handleize }}"
    data-dropdown-activation-type="hover"
    >
    <div class="header-dropdown__content">
      {% for block in section.blocks %}
        {% if block.type == "nav_link_list" %}
          {% render "header.desktop.mega-menu.nav-link-list" with {
            title: block.settings.title,
            link_list: block.settings.link_list,
            show_view_all_link: block.settings.show_view_all_link,
            view_all_url: block.settings.view_all_url,
            columns_desktop: block.settings.columns_desktop,
          } %}
        {% elsif block.type == "image" %}
          {% render "header.desktop.mega-menu.image" with {
            image: block.settings.image,
            url: block.settings.url,
            cta_text: block.settings.cta_text,
            cta_subtext: block.settings.cta_subtext,
            columns_desktop: block.settings.columns_desktop,
          } %}
        {% endif %}
      {% endfor %}
    </div>

  </div>
</div>