{% comment %}
title: text,
link_list: link_list,
show_view_all_link: checkbox,
view_all_url: text,
{% endcomment %}

<div class="header-desktop__mega-menu header-desktop__mega-menu--nav-link-list">

  <h4>{{ title }}</h4>

  {% if link_list %}
    <ul>
      {% for link in link_list.links %}
      <li>
        <a href="{{ link.url }}">{{ link.title }}</a>
      </li>
      {% endfor %}
    </ul>
  {% endif %}

  {% if show_view_all_link and view_all_url %}
    <div class="u-margin-top-2">
      <a href="{{ view_all_url }}" class="cta-link cta-link-3 cta-link--dark-alt">View All</a>
    </div>
  {% endif %}

</div>