<li class="mobile-menu-list-item mobile-menu-list-item__linklist">
  <a
    href="{{ title_link }}"
    data-no-instant>

    title: {{ title }}

    <span class="right icon-down-arrow"></span>
  </a>

  <ul>
    {% for sublink in links %}
      <li>
        <a href="{{ sublink.url }}">link: {{ sublink.title }}</a>
      </li>
    {% endfor %}
  </ul>
</li>