<div
  class="vm-header__search">
  <form
    action="{{ routes.search_url }}" 
    class="header__search-form">
    <div class="header__search-form__search-bar">
      <div class="input-wrapper">
        <span class="search-submit">
          {% render "icon.magnifying-glass" %}
        </span>
        
        <input
          type="text"
          name="q"
          placeholder="{{ 'general.search.title' | t: shop_name: shop.name }}"
          autocapitalize="off"
          autocomplete="off"
          autocorrect="off"
          class="search-terms"
        />

      </div>
      <button class="button button--square button--inverted" data-dropdown-button-id="search">
        {% render "icon.close" %}
      </button>
    </div>
  </form>
</div>