{% comment %}
** Mega menu - homepage partial **
- Static section
- Uses blocks
- Must be enabled through general settings
{% endcomment %}

<div class="mega-menu-wrapper">
  {% include "header.mega-menu-desktop" %}
  {% include "header.mega-menu-mobile" %}
</div>