<div
  class="header__logo">
  <a
    href="{{ shop.url }}"
    title="{{ shop.name }}">
    <img
      src="{{ section.settings.logo | img_url: '800x' }}"
      alt="{{ shop.name | escape }}"
    />
  </a>
</div>