<li class="mobile-menu-list-item mobile-menu-list-item__image">
  {% if image_link != blank %}
  <a href="{{ image_link }}">
  {% endif %}

  {% if image != nil %}
    {% render 'image-element',
      image: image,
      alt: image.alt
    %}
  {% endif %}
  
  {% if image_caption != blank %}
    <p class="mobile-mega-menu__image-caption">{{ image_caption }}</p>
  {% endif %}
    
  {% if image_link != blank %}
  </a>
  {% endif %}
</li>