<ul class="header-desktop__nav">
  {% for link in linklists[linklist].links %}
    {% assign is_dropdown = false %}
    {% if linklists[link.handle] != empty %}
      {% assign is_dropdown = true %}
    {% endif %}

    <li>
      <a
        href="{{ link.url }}"
        class="header-desktop__nav-link
        {% if link.active %}
          is-active
        {% endif %}"
        data-dropdown-button-id="{{ link.handle | strip }}"
      >
        <span>{{ link.title }}</span>

        <div class="header-desktop__nav-link__dropdown-arrow">
          {% render "icon.carat" %}
        </div>
      </a>
    </li>
  {% endfor %}

  {{ extra_links }}
</ul>
