<div
  class="vm-header__search">
  <form
    action="{{ routes.search_url }}" 
    class="header__search-form">
    <div class="input-wrapper">
      <span class="search-submit">
        {% render "icon.magnifying-glass" %}
      </span>
      
      <input
        type="text"
        name="q"
        placeholder="{{ 'general.search.title' | t: shop_name: shop.name }}"
        autocapitalize="off"
        autocomplete="off"
        autocorrect="off"
        class="search-terms"
      />
    </div>
  </form>
</div>