{% if section.settings.promo_text != blank %}
  <div
    class="promo-banner color-region--dark">
    <div
      class="promo-banner__content">
      {{ section.settings.promo_text }}
    </div>

    <div
      class="promo-banner__close-button js-promo-banner-close"></div>
  </div>
{% endif %}