{% comment %}
title: text,
link_list: link_list,
show_view_all_link: checkbox,
view_all_url: text,
parent: text,
{% endcomment %}

<div class="mobile-menu-list-item mobile-menu-list-item--nav-link-list">

  {% assign accordion_id = "vm-mobile-accordion--" | append: parent %}
  {% assign accordion_id = accordion_id | append: "--" | append: title | handleize %}
  
  <h5>{{ title }}</h5>
  
  {% if link_list %}
    <ul>
      {% for link in link_list.links %}
      <li>
        <a href="{{ link.url }}">{{ link.title }}</a>
      </li>
      {% endfor %}
    </ul>
  {% endif %}

  {% if show_view_all_link and view_all_url %}
    <h6 class="u-margin-top-1 u-margin-bottom-0"><a href="{{ view_all_url }}">View All</a></h6>
  {% endif %}

</div>