<li class="mobile-menu-list-item mobile-menu-list-item__linklist">  
  <h5>{{ title }}</h5>

  <ul>
    {% for sublink in links %}
    <li>
      <a href="{{ sublink.url }}">{{ sublink.title }}</a>
    </li>
    {% endfor %}
  </ul>
</li>