<ul class="header__menu">
  {% for link in linklists[linklist].links %}
    {% assign is_dropdown_link = false %}
    {% if linklists[link.handle] != empty %}
      {% assign is_dropdown_link = true %}
    {% endif %}

    <li>
      <a
        href="{{ link.url }}"
        class="{% if link.active %}active{% endif %}
        {% if is_dropdown_link %}header__dropdown-link{% endif %}" 
        data-dropdown-rel="{{ link.handle }}"
      >
        {{ link.title }}

        {% if is_dropdown_link %}
          <span class="icon-down-arrow"></span>
        {% endif %}
      </a>
    </li>
  {% endfor %}

  {{ extra_links }}
</ul>
