<div class="dropdown_container center" data-dropdown="search">
  <div class="dropdown" data-autocomplete-true>
    <form action="{{ routes.search_url }}" class="header_search_form">
      <span class="icon-search search-submit"></span>

      <input
        type="text"
        name="q"
        placeholder="{{ 'general.search.title' | t: shop_name: shop.name }}"
        autocapitalize="off"
        autocomplete="off"
        autocorrect="off"
        class="search-terms"
      />
    </form>
  </div>
</div>