{% capture card_content %}
  <p class="image-card--blog-post__timestamp paragraph-3">
    {{ blog_post.published_at | date: format: "month_day_year" }}
  </p>

  <p>{{ blog_post.excerpt | strip_html }}</p>

  <a href="{{ blog_post.url }}" class="cta-link cta-link-3">{{ 'blogs.general.continue_reading_html' | t }}</a>
{% endcapture %}

{% include "image-card" with {
  title: blog_post.title,
  url: blog_post.url,
  image: blog_post.image,
  card_content: card_content,
  extra_classes: extra_classes
} %}