{% assign title = section.settings.title %}
{% assign blog_widget_select = section.settings.blog_widget_select %}
{% assign home_page_articles = section.settings.home_page_articles %}
{% assign blog_tags = section.settings.blog_tags %}
{% assign blog_author = section.settings.blog_author %}
{% assign blog_date = section.settings.blog_date %}
{% assign blog_comment_count = section.settings.blog_comment_count %}
{% assign read_more_link = section.settings.read_more_link %}

{% capture content %}
<div class="container">
  <div class="row">
    <div class="sixteen columns">

      {% include "content-section.title" with {
        title: section.settings.title,
        with_accent: false
      } %}

    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    {% for blog_post in blogs[blog_widget_select].articles limit: home_page_articles %}
      {% assign extra_card_classes = "" %}
      {% if forloop.last %}
        {% assign extra_card_classes = "u-margin-bottom-0" %}
      {% endif %}
      <div class="{% if home_page_articles == 2 %}eight columns{% elsif home_page_articles == 3 %}one-third column{% else %}four columns{% endif %} medium-down--one-whole">
        {% include "image-card.blog-post" with {
          blog_post: blog_post,
          extra_classes: extra_card_classes
        } %}
      </div>
    {% endfor %}
  </div>
</div>
{% endcapture %}

{% include "content-section" with {
  title: title,
  content: content,
  color_region: section.settings.color_region,
  padding_top: section.settings.padding_top,
  padding_bottom: section.settings.padding_bottom,
} %}

