{% if type == 'block' %}
  {% assign title = block.settings.title %}
  {% assign settingCollection = block.settings.collection %}
  {% assign collection_style = block.settings.collection_style %}
  {% assign collection_description = block.settings.collection_description %}
  {% assign products_per = block.settings.products_per %}
  {% assign products_limit = block.settings.products_limit %}
{% else %}
  {% assign title = section.settings.title %}
  {% assign settingCollection = section.settings.collection %}
  {% assign collection_style = section.settings.collection_style %}
  {% assign collection_description = section.settings.collection_description %}
  {% assign products_per = section.settings.products_per %}
  {% assign products_limit = section.settings.products_limit %}
{% endif %}

{% if settingCollection == blank %}
  {%- assign section_onboarding = true -%}
  {% comment %}assign product length to be selected limit for onboarding{% endcomment %}
  {% assign products_length = products_limit | plus: 0 %}
{% else %}
  {%- assign section_onboarding = false -%}
{% endif %}

<div class="content-section">
  <div class="container featured_products">
    <div class="row">
      <div class="sixteen columns">

        {% include "content-section.title" with {
          title: title,
          with_accent: false,
          title_link: collections[settingCollection].url,
          title_link_text: "shop new arrivals",
          description: collections[settingCollection].description
        } %}

      </div>
    </div>
  </div>

  {% assign limit = products_limit %}
  {% assign collection = collections[settingCollection] %}
  {% assign products = collections[settingCollection].products %}
  {% assign products_per_row = products_per %}

  <div class="container featured-collection__products">
    <div class="row">
      {% render 'product-loop',
          limit: limit,
          products: products,
          products_per_row: products_per_row
      %}
    </div>
  </div>
</div>
