{% assign product_tags = product.tags | join: ' ' %}
{% if product_tags contains 'meta-size-chart-' %}
  {% for tag in product.tags %}
    {% if tag contains 'meta-size-chart-' %}
      <a href="javascript:;" class="size_chart" data-fancybox data-src="#size-chart{{product.id}}" data-type="inline" data-no-instant>{{ 'products.product.size_chart' | t }} <span class="icon-right-arrow"></span></a>
      {% render 'popup-size-chart', product_id: product.id %}
    {% endif %}
  {% endfor %}
{% elsif settings.size_chart != blank %}
  <a
    href="javascript:;"
    class="size_chart"
    data-fancybox
    data-src="#size-chart{{product.id}}"
    data-type="inline"
    data-no-instant>{{ 'products.product.size_chart' | t }} <span class="icon-right-arrow"></span></a>
{% endif %}