<div
  class="content-section content-section--vm-styleguide js-styleguide-section" 
  data-section-id ="#colors">
  <div class="container">
    {% render "styleguide.section-title" with {
      number: "02.",
      title: "Colors"
    } %}

    {% render "styleguide.subsection-title" with {
      number: "02a.",
      title: "Swatch"
    } %}
    
    {% capture subsection_row_content %}
    <div class="vm-styleguide__swatch">
      <div class="vm-styleguide__swatch-color vm-styleguide__swatch-color--black">
        <div class="vm-styleguide__swatch-color__color-square">
        </div>
        <h4>Sea Green</h4>
        <p class="paragraph-3">#1C4047</p>
      </div>

      <div class="vm-styleguide__swatch-color vm-styleguide__swatch-color--plum">
        <div class="vm-styleguide__swatch-color__color-square">
        </div>
        <h4>Plum</h4>
        <p class="paragraph-3">#714457</p>
      </div>

      <div class="vm-styleguide__swatch-color vm-styleguide__swatch-color--sand">
        <div class="vm-styleguide__swatch-color__color-square">
        </div>
        <h4>Sand</h4>
        <p class="paragraph-3">#DEC1A8</p>
      </div>

      <div class="vm-styleguide__swatch-color vm-styleguide__swatch-color--cream">
        <div class="vm-styleguide__swatch-color__color-square">
        </div>
        <h4>Cream</h4>
        <p class="paragraph-3">#F8F4F4</p>
      </div>
    </div>
    {% endcapture %}

    {% render "styleguide.subsection-row" with {
      content: subsection_row_content
    } %}

  </div>
</div>
