<div class="vm-styleguide__banner">
  <div class="container">
    <div class="row">

      <div class="twelve columns offset-by-two">
        {% render "page-heading" with {
          title: page.title
        } %}
      </div>

    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="twelve columns offset-by-four medium-down--one-whole">
        <ul>
          <li>
            <a class="js-section-link" href="#typography">
              <sup>01.</sup>
              <span>Typography</span>
            </a>

            <!--
            <ul class="js-subsection-list" data-section="#typography">
              <li>
                <a href="#fonts">
                  <sup>01.a</sup>
                  <span>Fonts</span>
                </a>
              </li>

              <li>
                <a href="#headings">
                  <sup>01.b</sup>
                  <span>Headings</span>
                </a>
              </li>

              <li>
                <a href="#subheadings">
                  <sup>01.c</sup>
                  <span>Subheadings</span>
                </a>
              </li>

              <li>
                <a href="#paragraph-text">
                  <sup>01.d</sup>
                  <span>Paragraph Text</span>
                </a>
              </li>
            </ul>
            -->
          </li>

          <li>
            <a href="#colors" class="js-section-link">
              <sup>02.</sup>
              <span>Colors</span>
            </a>

            <!--
            <ul class="js-subsection-list" data-section="#colors">
              <li>
                <a href="#swatch">
                  <sup>02.a</sup>
                  <span>Swatch</span>
                </a>
              </li>

              <li>
                <a href="#color-shades">
                  <sup>02.b</sup>
                  <span>Color shades</span>
                </a>
              </li>

              <li>
                <a href="#color-regions">
                  <sup>02.c</sup>
                  <span>Regions</span>
                </a>
              </li>

              <li>
                <a href="#color-ratios">
                  <sup>02.d</sup>
                  <span>Ratios</span>
                </a>
              </li>
            </ul> 
            -->             
          </li>

          <li>
            <a href="#components" class="js-section-link">
              <sup>03.</sup>
              <span>Components</span>
            </a>

            <!--
            <ul class="js-subsection-list" data-section="#colors">
              <li>
                <a href="#button">
                  <sup>03.a</sup>
                  <span>Button</span>
                </a>
              </li>

              <li>
                <a href="#image-card">
                  <sup>03.b</sup>
                  <span>Image Card</span>
                </a>
              </li>

              <li>
                <a href="#cta-link">
                  <sup>03.c</sup>
                  <span>CTA Link</span>
                </a>
              </li>

              <li>
                <a href="#heading-with-accent">
                  <sup>03.d</sup>
                  <span>Heading w/ Accent</span>
                </a>
              </li>
            </ul>
            -->
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>