<div
  class="content-section content-section--vm-styleguide js-styleguide-section"
  data-section="#components">
  <div class="container">
    
    {% render "styleguide.section-title" with {
      number: "03.",
      title: "Components"
    } %}

    {% render "styleguide.subsection-title" with {
      number: "03a.",
      title: "Button"
    } %}

    {% capture subsection_row_content %}
      <button class="button">
        Primary
      </button>
    {% endcapture %}

    <!-- heading: "Default", -->
    {% render "styleguide.subsection-row" with {
      heading: "Primary",
      content: subsection_row_content
    } %}

    {% capture subsection_row_content %}
      <button class="button button--secondary">
        Secondary
      </button>
    {% endcapture %}

    {% render "styleguide.subsection-row" with {
      heading: "Secondary",
      content: subsection_row_content
    } %}

    {% render "styleguide.subsection-title" with {
      number: "03b.",
      title: "CTA Link"
    } %}

    {% capture subsection_row_content %}
      <a class="cta-link" href="#">
        CTA Link
      </a>
    {% endcapture %}

    <!-- heading: "Default", -->
    {% render "styleguide.subsection-row" with {
      content: subsection_row_content
    } %}

  </div>
</div>