<div class="vm-styleguide__section">
  <div class="container">
    <div class="twelve columns offset-by-four">
      <div class="content-section">
        <h2 class="vm-styleguide__content-section-title">
          <sup>02.</sup>
          <span>Colors</span>
          <span class="anchor" id="colors"></span>
        </h2>
      </div>
    </div>
  </div>
 
   <div class="container">
    <div class="four columns">
      <h4 class="vm-styleguide-content__section-subheading">
        Swatch
      </h4>
    </div>

    <div class="twelve columns">
      <div class="vm-styleguide__section">
        <div class="vm-styleguide__swatch">
          <div class="vm-styleguide__swatch-color vm-styleguide__swatch-color--sea-green">
            <div class="vm-styleguide__swatch-color__color-square">
            </div>
            <h4>Sea Green</h4>
            <p class="paragraph-3">#1C4047</p>
          </div>

          <div class="vm-styleguide__swatch-color vm-styleguide__swatch-color--plum">
            <div class="vm-styleguide__swatch-color__color-square">
            </div>
            <h4>Plum</h4>
            <p class="paragraph-3">#714457</p>
          </div>

          <div class="vm-styleguide__swatch-color vm-styleguide__swatch-color--sand">
            <div class="vm-styleguide__swatch-color__color-square">
            </div>
            <h4>Sand</h4>
            <p class="paragraph-3">#DEC1A8</p>
          </div>

          <div class="vm-styleguide__swatch-color vm-styleguide__swatch-color--cream">
            <div class="vm-styleguide__swatch-color__color-square">
            </div>
            <h4>Cream</h4>
            <p class="paragraph-3">#FAF8F7</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>