<div class="vm-styleguide__subsection-row">
  <div class="row">
    <div class="one-whole columns">
      <h4 class="vm-styleguide-content__subsection-row-subheading">
        {{ heading }}
      </h4>

      {{ content }}
    </div>
  </div>
</div>