<div class="vm-styleguide__subsection-row">
  <div class="row">
    <div class="twelve offset-by-four columns medium-down--one-whole medium-down--offset-by-zero">
      <h4 class="vm-styleguide-content__subsection-row-subheading">
        {{ heading }}
      </h4>

      {{ content }}
    </div>
  </div>
</div>