<div class="vm-styleguide__section">
  <div class="container">
    <div class="twelve columns offset-by-four">
      <div class="content-section">
        <h2 class="vm-styleguide__content-section-title">
          <sup>03.</sup>
          <span>Components</span>
          <span class="anchor" id="components"></span>
        </h2>
      </div>
    </div>
  </div>
 
  <div class="vm-styleguide__subsection">
    <div class="container">
      <div class="twelve columns offset-by-four">
        <h3 class="heading--with-accent">
          Buttons
        </h3>
      </div>
    </div>

     <div class="container">
      <div class="four columns">
        <h4 class="vm-styleguide-content__section-subheading">
          Default
        </h4>
      </div>

      <div class="twelve columns">
        <div class="vm-styleguide__section">
          <button class="button">
            Primary
          </button>

          <button class="button button--secondary">
            Secondary
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="vm-styleguide__subsection">
    <div class="container">
      <div class="twelve columns offset-by-four">
        <h3 class="heading--with-accent">
          CTA Link
        </h3>
      </div>
    </div>

     <div class="container">
      <div class="twelve columns offset-by-four">
        <div class="vm-styleguide__section">
          <a class="cta-link" href="#">
            CTA Link
          </a>
        </div>
      </div>
    </div>
  </div>
</div>