.header-desktop {
  position: relative;
  z-index: $vm-z-index-header-content;
  background-color: $vm-color-white;

  a {
    color: $vm-navbar-text-color;
  }

  @include respond-to("medium-down") {
    display: none;
  }
}

.header__logo {
  width: 10%;
}

.header-desktop__nav {
  width: 45%;

  &:last-child {
    text-align: right;
  }
}

.header-desktop__navbar {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding: 0 get-vm-spacer(2);
}
