@use "sass:math";

$header-desktop-logo-width: 260px;
$header-desktop-logo-height: 55px;
$header-desktop-nav-width: calc(
  50% - #{math.div($header-desktop-logo-width, 2)}
);

.header-desktop {
  position: relative;
  z-index: $vm-z-index-header-content;
  background-color: $vm-color-white;

  a {
    color: $vm-navbar-text-color;
  }

  @include respond-to("large-down") {
    display: none;
  }

  .header__logo {
    width: $header-desktop-logo-width;
    position: relative;
    top: 2px;
    margin-left: calc(50% - #{math.div($header-desktop-logo-width, 2)});

    svg {
      width: $header-desktop-logo-width;
      height: $header-desktop-logo-height;
    }
  }

  .header-desktop__logo-row {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;    
    padding: get-vm-spacer(0.5) get-vm-spacer(2);

    .header-desktop__nav {
      margin-left: auto;
    }
  }

  .header-desktop__navbar {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 0 get-vm-spacer(2);
  }

  .header-desktop__nav {
    padding: 0;
    margin: 0;
    // width: $header-desktop-nav-width;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
    ul {
      padding: 0;
      margin: 0;
    }
    
    li {
      display: inline-block;
      margin: 0;
      border: 0;
      position: relative;
      vertical-align: top;
      margin-right: get-vm-spacer(0.5);
      
      &:last-child {
        margin-right: 0;
      }
    }
  }

  .header-desktop__nav-link,
  .header-desktop__nav-button {
    @include vm-paragraph-3();
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: transparent;
    color: $vm-navbar-text-color;
    margin-bottom: 0;
    outline: 0;
    transition: color 0.2s linear;
    line-height: 1;
    height: auto;

    svg {
      transition: fill 0.2s linear;
    }

    .header-desktop__nav-link__dropdown-arrow {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      line-height: 0;
      opacity: 0;
      margin: 0;
    }

    &.is-dropdown-button {
      .header-desktop__nav-link__dropdown-arrow {
        opacity: 1;
      }
    }
  }

  .header-desktop__nav-link {
    padding: get-vm-spacer(1) get-vm-spacer(1);
    margin-right: 5px;

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      height: 4px;
      background: $vm-color-sand;
      left: 0;
      right: 0;
      transform: scaleX(0);
      transform-origin: 0;
      transition: transform 0.2s;
    }

    .vm-icon {
      &.vm-icon--carat {
        margin-right: -6px;
      }
  
      &.vm-icon--user {
        margin-left: -6px;
      }
    }

    &:hover,
    &.is-active {
      color: $vm-color-sand;

      &:after {
        transform: scaleX(1);
      }

      svg {
        fill: $vm-color-sand;
      }
    }
  }

  .header-desktop__nav-button {
    height: 44px;
    padding: 0 get-vm-spacer(1);
    transition: all 0.2s;
    
    .vm-icon.vm-icon--user,
    .vm-icon.vm-icon--bag {
      margin-left: -6px;
    }
    
    &:hover {
      background-color: $vm-color-cream;
    }
    
    &.header-desktop__nav-button--square {
      padding: 0;
      width: 44px;
    }

    &.header-desktop__nav-button--login {
      margin-left: get-vm-spacer(0.5);
    }
  }
}
