/* Components - Buttons
================================================== */

a.button,
button,
input[type='submit'],
input[type='reset'],
input[type='button'],
a.action_button,
input.action_button[type='submit'],
input.action_button[type='reset'],
input.action_button[type='button'] {
  display: inline-block;
  background: $vm-button-background-color;
  color: $vm-button-text-color;
  border: 1px solid $vm-button-border-color;
  border-radius: 0;
  padding: 0 2rem;
  text-align: center;
  cursor: pointer;
  min-height: 44px;
  height: 44px;
  line-height: 1.2;
  vertical-align: top;
  font-size: $vm-subheading-2-font-size;
  font-weight: $vm-subheading-font-weight;
  letter-spacing: $vm-subheading-2-letter-spacing;
  text-transform: uppercase;
  text-decoration: none;
  @include inline-flexbox();
  @include align-items(center);
  @include justify-content(center);
  transition: all 0.1s linear;

  &:hover {
    background-color: $vm-button-hover-background-color;
    border: 1px solid $vm-button-hover-border-color;
    color: $vm-button-hover-text-color;
  }

  &:active {
    outline: 0;
  }
}

.add_to_cart,
.product_form input.add_to_cart {
  width: 100%;
  margin-bottom: 0px;
}

.button.button--secondary,
.action_button.action_button--secondary {
  background-color: $vm-button-secondary-background-color;
  border: 1px solid $vm-button-secondary-border-color;
  color: $vm-button-secondary-text-color;
  box-shadow: none;
  @include flex(1 0 100%);
  max-width: 100%;

  &:hover,
  &:focus {
    background-color: $vm-button-secondary-hover-background-color;
    border-color: $vm-button-secondary-hover-border-color;
    color: $vm-button-secondary-hover-text-color;
  }
}


.button.button--link {
  background: transparent;
  border: 0 none;
  padding: 0;
  margin: 0;
  height: auto;
  min-height: auto;
  color: $vm-link-color;
  text-decoration: none;
  position: relative;
  transition: color $vm-link-transition-speed;

  &:hover {
    color: $vm-link-hover-color;
    text-decoration: underline;
  }
}

.button.button--inverted {
  background: $vm-color-white;
  color: $vm-color-sea-green;
  border-color: $vm-color-white;

  &:hover {
    background-color: $vm-button-hover-background-color;
    border: 1px solid $vm-button-hover-border-color;
    color: $vm-button-hover-text-color;
  }
}

.button.button--secondary.button--inverted {
  background-color: transparent;
  border-color: $vm-color-white;
  color: $vm-color-white;

  &:hover,
  &:focus {
    background-color: $vm-button-secondary-hover-background-color;
    border-color: $vm-button-secondary-hover-border-color;
    color: $vm-button-secondary-hover-text-color;
  }
}

/* Animation for checkmark on add to cart button */

button.add_to_cart {
  position: relative;

  .text {
    display: block;
    width: 100%;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
  }

  .fadeInDown.text {
    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;
  }
}

button .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;

  path {
    stroke-dasharray: 19.79 19.79;
    stroke-dashoffset: 19.79;
    opacity: 0;
  }

  &.checkmark-active path {
    -webkit-animation: drawCheckmark 0.5s linear alternate forwards;
    animation: drawCheckmark 0.5s linear alternate forwards;
  }
}

@keyframes drawCheckmark {
  from {
    stroke-dashoffset: 19.79;
    opacity: 1;
  }
  to {
    stroke-dashoffset: 0;
    opacity: 1;
  }
}

@-webkit-keyframes drawCheckmark {
  from {
    stroke-dashoffset: 19.79;
    opacity: 1;
  }
  to {
    stroke-dashoffset: 0;
    opacity: 1;
  }
}

@-webkit-keyframes fadeCheckmark {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeCheckmark {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  button .checkmark {
    path {
      stroke-dashoffset: 0;
      opacity: 0;
    }
    &.checkmark-active path {
      animation: fadeCheckmark 0.5s linear alternate forwards;
    }
  }
  @keyframes fadeCheckmark {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

label.tos_label {
  display: inline;
  font-weight: normal;
  text-transform: none;
  cursor: pointer;
  padding-left: 5px;
}

.tos {
  text-align: center;
  margin: 15px 20px 15px 0;
}

.disabled {
  pointer-events: none;
}

.add_to_cart span.icon-lock {
  margin-right: 10px;
  font-size: larger;
  &:before {
    margin: 0;
  }
}

.shopify-product-form {
  margin-bottom: 0;
}

//Shopify smart payment buttons
.add_to_cart.action_button {
  min-height: 44px;
  margin-bottom: 0;
  // height: 100%;
}

.shopify-payment-button__button--branded,
.shopify-payment-button__button--unbranded {
  display: none;
}

button.shopify-payment-button__more-options {
  box-shadow: none;
  text-transform: none;
  font-size: 0.8rem;
  letter-spacing: 0;
  padding: 16px 0 28px;
  max-width: 80%;
  margin: 0 auto;
  position: absolute;
  top: 100%;
  left: 50%;
  font-weight: normal;
  @include prefix(transform, translateX(-50%), ms webkit spec);

  &:hover {
    background-color: transparent;
    border: none;
  }
}
