/* #Color regions
================================================== */

.color-region,
.color-region--light {
  background-color: $vm-color-white;
  color: $vm-color-black;
}

.color-region--light-alt {
  background-color: $vm-color-cream;
}

.color-region--dark,
.color-region--dark-alt {
  color: $vm-color-white;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    color: $vm-color-white;
  }

  a {
    color: $vm-color-white;
  }
}

.color-region--dark {
  background-color: $vm-color-black;

  *::selection {
    color: $vm-color-black;
    background: $vm-color-cream;
  }
}

.color-region--dark-alt {
  background-color: $vm-color-forest-green;

  *::selection {
    color: $vm-color-sea-green;
    background: $vm-color-cream;
  }
}
