/* #Color regions
================================================== */

.color-region,
.color-region--light {
  background-color: $vm-color-white;
  color: $vm-color-black;
}

.color-region--light-alt {
  background-color: $vm-color-cream;
}

.color-region--dark,
.color-region--dark-alt,
.color-region--dark-alt-2 {
  color: $vm-color-white;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    color: $vm-color-white;
  }

  a {
    color: $vm-color-cream;
    border-color: $vm-color-cream;

    &:hover {
      color: rgba($vm-color-cream, 0.7);
      border-color: rgba($vm-color-cream, 0.7);
    }
  }

  *::selection {
    color: $vm-color-black;
    background: $vm-color-cream;
  }
}

.color-region--dark {
  background-color: $vm-color-black;
  // background-color: $vm-color-forest-green;
}

.color-region--dark-alt {
  background-color: $vm-color-forest-green;
}

.color-region--dark-alt-2 {
  background-color: $vm-color-coffee-bean;
}
