/* Components - FAQ
================================================== */

.faq {
}

.faq__item-row {
  margin-bottom: 2rem;

  a {
    text-decoration: underline;
  }
}

.faq__question {
  margin-top: 7px;
}

.faq__answer {
}
