/* Components - Header
================================================== */

.logo {
  line-height: 0;
}

.header {
  z-index: 1000;
  width: 100%;
  top: 0;

  a,
  a:visited,
  select.currencies {
    // color: {{ settings.nav_color }};
    color: $vm-navbar-text-color;
  }

  // div.container {
  //   padding-top: 5px;
  //   padding-bottom: 5px;
  // }
}

.dropdown.menu {
  @include vm-dropdown-menu-boxshadow();
}

body.is-active {
  overflow-y: hidden;

  #header {
    bottom: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
  }
}

#header.mobile_nav-fixed--true,
.mobile_nav-fixed--false.is-active #header {
  position: fixed;
  z-index: 1001;
  width: 100%;
  top: 0;
  left: 0;
}

#header {
  display: none;
  pointer-events: all;

  .top_bar {
    text-align: center;
    height: 40px;

    @include flexbox();
    @include align-items(center);
    .icon-search {
      z-index: 3;

      &:before {
        font-size: 18px;
      }
    }

    a {
      &.right {
        left: auto;
        right: 15px;
        font-size: 20px;
        padding-top: 8px;
        top: 4px;
        z-index: 1;
      }

      &.mobile_nav {
        @include flexbox();
        @include align-items(center);
        z-index: 1;
      }
    }

    a span {
      display: inline-block;
      padding-left: 4px;
      position: relative;
    }
  }

  @include respond-to('medium-down') {
    display: block;
  }
}

#header .top_bar a.icon-bag:before,
#header .top_bar a.icon-cart:before {
  font-size: 18px !important;
}

.nav ul.mobile_menu li a {
  display: inline-block;
}

.menu .vertical-menu {
  li {
    position: relative;
  }
}

.vertical-menu {
  display: inline;
}

.menu .vertical-menu li:hover .vertical-menu_submenu {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s ease-in;
  pointer-events: all;
  z-index: 2000;
}

.menu .vertical-menu_submenu li:hover .vertical-menu_sub-submenu {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s ease-in;
  pointer-events: all;
  z-index: 2000;
}

.menu .vertical-menu_submenu {
  position: absolute;
  left: 0;
  top: 100%;
  padding-left: 0;
  margin: 0;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease-in;
  pointer-events: none;
  text-align: left;
  width: 270px;

  li {
    padding: 0 20px;
    display: block;
  }

  a {
    display: block;
  }

  span.icon-down-arrow {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
}

.menu .vertical-menu_submenu.is-visible,
.menu .vertical-menu_sub-submenu.is-visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s ease-in;
  pointer-events: all;
  z-index: 2000;
}

.menu .vertical-menu_sub-submenu {
  position: absolute;
  left: 100%;
  top: 0;
  padding-left: 0;
  margin: 0;
  visibility: hidden;
  opacity: 0;
  transition: opacity 5s ease-in;
  pointer-events: none;
  width: 270px;

  li {
    padding: 0 20px;
    display: block;
  }

  a {
    display: block;
  }
}

.vertical-menu_submenu.vertical-menu--align-right {
  right: 0;
  left: auto;
}

.vertical-menu_sub-submenu.vertical-menu--align-right {
  right: 100%;
  left: auto;
}

// adds default cursor when parent mega menu doesn't have a link to it
li > a.url-deadlink {
  cursor: default;
}

/*  Mobile nav  */

#header .mobile_nav.dropdown_link {
  width: 25%;

  span.menu_title {
    display: none;
    position: absolute;
    top: 1px;
    left: 40px;
  }
}

.mobile_nav .hamburger-menu-icon {
  width: 25px;
  height: 40px;
  position: relative;
  top: 4px;
  float: left;
  margin: 0 8px 0 5px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  transition: 0.1s ease-in-out;
  cursor: pointer;
}

.mobile_nav .hamburger-menu-icon span {
  display: block !important;
  position: absolute !important;
  height: 1px !important;
  width: 100%;
  // background: {{ settings.top_bar_color }};
  background: $vm-navbar-text-color;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  padding: 0 !important;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  transition: 0.1s ease-in-out;
}

.mobile_nav .hamburger-menu-icon span:nth-child(1) {
  top: 8px;
}

.mobile_nav .hamburger-menu-icon span:nth-child(2),
.mobile_nav .hamburger-menu-icon span:nth-child(3) {
  top: 16px;
}

.mobile_nav .hamburger-menu-icon span:nth-child(4) {
  top: 24px;
}

.mobile_nav .hamburger-menu-icon.open span:nth-child(1) {
  top: 9px;
  width: 0%;
  left: 50%;
}

.mobile_nav .hamburger-menu-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.mobile_nav .hamburger-menu-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.mobile_nav .hamburger-menu-icon.open span:nth-child(4) {
  top: 9px;
  width: 0%;
  left: 50%;
}

#mobile_menu {
  margin: 10px 20px;

  li {
    padding-right: 0;
    display: block;

    a span.icon-down-arrow {
      padding: 0 15px !important;
    }
  }

  .sublink ul {
    display: none;
    margin-left: 0;
    padding-left: 10px;
  }
}

/* Currency / language switcher on mobile */

.mobile-menu__disclosure {
  .selectors-form__wrap {
    @include justify-content(center);
    @include flex-direction(column);
  }

  .selectors-form__item {
    margin-left: 0;

    &:first-of-type .disclosure__toggle {
      border-top: none;
    }
  }

  .disclosure {
    padding-top: 0;
  }

  .disclosure-list__item {
    padding: 0;
  }

  button.disclosure__button {
    @include justify-content(flex-start);
    // font-size: {{ settings.top_bar_font_size }}px;
    // color: {{ settings.nav_color }};
    padding-left: 0;
    min-height: 0;
    height: unset;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    line-height: 1.9em;

    &:hover,
    &:focus {
      // color: {{ settings.nav_color_hover }};
    }
  }
}

#mobile_menu li.sublink span.currency-code {
  display: inline;
  padding-left: 0;
}

.feature_image.editor-hover--true {
  .main_nav,
  .dropdown {
    // @include background-opacity({{ settings.header_bg_color }}, {% if settings.transparent_header %}0.9{% else %}1{% endif %});
    clear: both;
    transition: all 0.3s linear;
    animation: fadeIn 0.3s linear none;
  }
}

.top_bar {
  height: 40px;
  // background-color: {{ settings.top_bar_bg_color }};
  background-color: $vm-navbar-background-color;
  padding: 0 0 0 10px;

  .social_icons {
    float: left;
    margin: 0;
    padding-left: 10px;

    li {
      padding: 5px;
    }
  }

  a {
    @include flexbox();
    @include align-items(center);
  }

  ul.social_icons a {
    display: inline;
    @include flex(none);
  }

  .top_bar--right {
    @include flexbox();
    @include align-items(center);
    margin-left: auto;
    height: 40px;

    .icon-search {
      display: inline-block;
      line-height: 0;
      padding-right: 15px;
    }

    .cart_container {
      display: inline-block;
    }
  }

  .mini-cart__item__title {
    a {
      display: block;
    }

    span {
      color: $vm-navbar-text-color;
    }

    .sale {
      color: $vm-sale-price-color;
      margin-right: 3px;
    }

    .was_price {
      color: $vm-was-price-color;
    }
  }
}

.main_nav,
.dropdown {
  // @include background-opacity({{ settings.header_bg_color }}, {% if settings.transparent_header %}0.9{% else %}1{% endif %});
  background-color: $vm-navbar-background-color;
  clear: both;
  transition: all 0.3s linear;
  animation: fadeIn 0.3s linear none;
}

.sticky_nav {
  position: fixed;
  width: 100%;
  z-index: 35;
  top: 0;
  left: 0;
  padding: 0;
  /* Translate -100% to move off screen */
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  transition: all 300ms ease-in-out;

  .mini_cart {
    font-size: 18px;
    @include flexbox();
    @include align-items(flex-start);
    padding-top: 15px;

    &:before {
      padding-top: 3px;
      margin: 0;
    }

    .cart_count {
      margin: 0;
      padding: 0 0 0 8px;
    }
  }

  .main_nav.menu-position--inline div.logo {
    width: 16%;
  }

  .main_nav.menu-position--block {
    .logo {
      padding-left: 20px;
      width: 16%;
      text-align: left;

      a {
        // padding-top: 12px;
        // padding-bottom: 12px;
      }
    }

    .nav {
      width: 84%;
      clear: none;
      float: left;
    }
  }
}

.is-active .sticky_nav {
  bottom: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}

.sticky_nav--stick {
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
  opacity: 1;
  @include respond-to('medium-down') {
    display: none;
  }
}

.sticky_nav--unstick {
  opacity: 0;
  transition: opacity 0s;
}

.sticky_nav ul.menu,
.sticky_nav .mini_cart {
  // font-size: {{ settings.nav_font_size }}px;
  padding-bottom: 0 !important;
}

.menu.center,
.menu.align_right,
.menu.align_left {
  margin: 0 20px;
}

.menu {
  display: block;
  border: none;
  padding: 0;
  margin: 0;

  li {
    display: inline-block;
    margin: 0;
    border: 0;
  }
}

.nav ul li a.sub-menu {
  padding: 10px 4px 10px 4px;
  z-index: 1001;
}

.nav ul li:hover a.sub-menu {
  // color: {{ settings.nav_color }};
}

.menu a,
.menu a:visited,
.menu a:active,
#header span.menu_title,
.menu a span,
select.currencies,
.mini_cart span {
  $navbar-padding: 1rem;
  @include vm-paragraph-2();
  display: block;
  position: relative;
  color: $vm-navbar-text-color;
  padding-top: $navbar-padding;
  padding-bottom: $navbar-padding;
  margin-bottom: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: 0;
  transition: color 0.1s linear;

  .icon-down-arrow {
    position: relative;
    top: 2px;
    font-size: 12px;
  }
}

.mini_cart:hover span {
  color: $vm-link-hover-color;
}

.menu li,
#header span.menu_title,
.menu a span,
select.currencies,
.mini_cart span {
  padding-left: 5px;
  padding-right: 5px;
}

#header span.menu_title {
  cursor: pointer;
  height: 40px;
  line-height: 20px;
  margin-top: -2px;
}

.menu li {
  position: relative;
  vertical-align: top;
  padding-right: 10px;
}

.shopify-currency-form {
  margin-bottom: 0;
}

select.currencies {
  height: 40px;
  min-height: 40px;
  padding-top: 0;
  padding-bottom: 0;
  cursor: pointer;

  // @if (lightness({{ settings.top_bar_bg_color }}) > 50) {
  //   background-image: url({{ "select.png" | asset_url }}); // Lighter background
  // } @else {
  //   background-image: url({{ "select_light.png" | asset_url }}); // Darker background
  // }

  @include respond-to('medium-down') {
    font-size: 16px;
  }
}

#mobile_menu select.currencies {
  padding-left: 0;
}

.feature_image .header .menu a,
.feature_image .header .menu a:visited,
.feature_image .header .menu a span {
  // color: {{ settings.nav_color_home }};
}

.menu a.active,
.menu a.active span,
.menu a.active_link,
.menu a.active_link span,
.menu a:hover,
.menu a:hover span,
.feature_image .header .menu a.active,
.header_bar a.active,
.feature_image .header .menu a:focus {
  color: $vm-navbar-text-hover-color;
}

.nav .menu a {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 100%;
    border-bottom: solid 3px $vm-navbar-text-hover-color;
    transition: right 0.2s;
  }

  &:hover {
    &:after {
      right: 0;
    }
  }
}

// .menu li a[href]:hover,
// .menu li a:focus,
// .menu a[href]:hover span,
// .menu a {
// }

.menu a.top_link:hover,
.menu a.dropdown_link:hover,
.menu a.active_link {
  color: $vm-navbar-text-hover-color;

  &:after {
    right: 0;
  }
  // border-bottom: solid 3px $vm-navbar-text-hover-color;
}

.menu a.active,
.menu a.top_link:hover,
.menu a.dropdown_link:hover,
.menu a.active_link {
  border-bottom-color: $vm-navbar-text-hover-color;
}

.feature_image a.top_link:hover {
  border-bottom: solid 1px $vm-navbar-text-hover-color;
}

.menu a span {
  display: inline;
  vertical-align: middle;
}

.top_bar a,
.top_bar a:visited,
.top_bar a:active,
.top_bar select.currencies,
a.mini_cart,
.feature_image .header .top_bar .menu a,
.feature_image .header .top_bar .menu a span,
.cart_container .mini_cart:hover {
  // color: {{ settings.top_bar_color }};
  color: $vm-navbar-text-color;
  // font-size: {{ settings.top_bar_font_size }}px;
  // letter-spacing: {{ settings.top_bar_letter_spacing }}px;
}

.cart_container .mini_cart:hover {
  color: $vm-navbar-text-hover-color;
}
.top_bar li a:hover,
.top_bar li a[href]:hover,
.top_bar li a[href]:hover span,
.top_bar li a:active,
.top_bar li a:hover span,
.top_bar a:active span,
.top_bar .currencies:hover,
.feature_image .header .top_bar .menu a:hover,
.feature_image .header .top_bar .menu a:hover span {
  // color: {{ settings.top_bar_color_hover }};
  color: $vm-navbar-text-hover-color;
}

.top_bar li {
  padding-left: 10px;
  padding-right: 10px;
}

.top_bar .menu a,
.top_bar .social_icons a {
  height: 40px;
  line-height: 40px;
  padding: 0;
}

/*  Mini cart  */
.mini_cart,
.nav a.mini_cart {
  float: right;
  text-align: center;
  cursor: pointer;
  // background-color: {{ settings.top_bar_cart_bg_color }};
  background-color: $vm-navbar-background-color;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 5px;
  height: 40px;
  z-index: 2001;

  @include respond-to('medium-up') {
    padding-left: 15px;
    padding-right: 15px;
  }

  @include respond-to('medium-down') {
    right: 0;
  }
}

.cart h6 {
  margin-top: 0;
}

.cart_container {
  float: right;

  hr {
    border-top-width: 0px;
  }

  li.mini-cart__item {
    @include flexbox();
    @include justify-content(space-between);
  }
}

.top_bar a.mini_cart span {
  padding-top: 0;
  padding-bottom: 0;
  line-height: 40px;
}

a.tos_icon,
.cart_content a.tos_icon {
  // font-size: 13px;
  // color: {{settings.link_color}};

  // &:visited {
  //   color: {{settings.link_color}};
  // }

  // &:hover {
  //   color: {{settings.link_hover_color}};
  // }
}

.cart_content__continue-shopping {
  display: none;
}

.no-touchevents {
  a.cart_content__continue-shopping.secondary_button {
    display: none;
  }
}

.no-touchevents,
.touchevents {
  a.cart_content__continue-shopping.secondary_button {
    display: none;

    @include respond-to('medium-down') {
      display: block;
      border-top: 0;
      margin: 0 auto;
      padding-top: 0;
      padding-bottom: 10px;
      margin-bottom: 10px;
      position: static;
      font-size: inherit;
      letter-spacing: inherit;
    }
  }
}

.mini_cart span {
  display: inline-block;
}

.cart_container .cart_content {
  display: none;
}

.cart_container.active_link .cart_content {
  display: block;
  overflow-y: auto;
  max-height: calc(90vh - 100px);
}

.cart_container.active_link .cart_content::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

.cart_container.active_link .cart_content::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

//Prevent mini cart from appearing on cart page for touchscreen devices
html.touchevents .cart .cart_container {
  pointer-events: none;
}

#cart_form p.modal_price {
  margin-bottom: 0;
  padding-bottom: 0;
}

#cart_form .product-quantity-box {
  margin: 15px 0;
  width: 130px;
}

.cart_content .product-quantity-box {
  margin: 15px 0 0;
  width: 130px;
}

.cart_content .product-plus,
.cart_content .product-minus,
#cart_form .product-plus,
#cart_form .product-minus {
  &.is-disabled {
    pointer-events: none;
  }
}

.cart_content .product-quantity-box .quantity,
#cart_form .product-quantity-box .quantity {
  padding: 0 5px;
  width: 30%;
  min-height: 30px;
  height: 30px;
}

.cart_content .product-quantity-box .product-plus,
#cart_form .product-quantity-box .product-plus {
  font-size: 15px;
  line-height: 30px;
  height: 30px;
  padding-right: 2px;
  width: 25%;
}

.cart_content .product-quantity-box .product-minus,
#cart_form .product-quantity-box .product-minus {
  font-size: 15px;
  line-height: 30px;
  height: 30px;
  padding-right: 2px;
  width: 25%;
}

#cart_form .product-quantity-box .product-minus,
#cart_form .product-quantity-box .product-plus,
.nav .product-quantity-box .product-minus,
.nav .product-quantity-box .product-plus {
  padding-right: 0;
}

#cart_form .icon-minus,
#cart_form .icon-plus {
  position: relative;
  left: 1px;
}

.cart_container.active_link .mini_cart,
.cart_container.active_link .mini_cart span {
  // background-color: {{ settings.minicart_bg_color }};
  // color: {{ settings.regular_color }} !important;
}

.cart_content {
  top: 40px;
  right: 0;
  position: absolute;
  z-index: 2000;
  // border: 1px solid $vm-border-color;
  border-top: 0;
  border-right: 0;
  width: 100%;
  max-width: 320px;
  background: $vm-color-white;
  @include vm-dropdown-menu-boxshadow();

  @include respond-to('medium-up') {
    max-width: 420px;
  }
}

div.cart_content form {
  margin: 15px 0 0 0;
  padding: 0;
}

.mini-cart__item.animated,
.cart__item.animated {
  animation-duration: 0.7s;
}

.mini-cart__item--image {
  width: 40%;
}

.cart_content {
  li.mini-cart__item {
    position: relative;
  }

  li.mini-cart__item a.cart__remove-btn {
    position: absolute;
    top: 0;
    right: 0;

    &:active {
      position: absolute;
    }

    .remove-icon {
      margin-left: 0;

      &:before {
        font-size: 25px;
      }
    }
  }
}

#header {
  .top_bar a span.remove-icon {
    // color: {{ settings.regular_color }};
  }

  li.mini-cart__item a.cart__remove-btn {
    top: 0;
  }
}

.cart_content .mini-cart__item--content {
  @include flexbox();
  @include flex-direction(column);
  @include flex(1);
  @include flex-wrap(wrap);
  position: relative;

  .mini-cart__item__title {
    @include flexbox();
    @include flex-direction(column);
    padding-right: 20px;
  }

  .price {
    padding-top: 10px;
    line-height: 1;
    text-align: left;
  }
}

.cart__item {
  @include flexbox();
  @include align-items(center);
  margin: 10px 0;
  padding: 10px 0;
  position: relative;
  border-bottom: 1px solid $vm-border-color;

  .cart__item--title {
    margin-right: 15%;

    a {
      border: 0 none;
    }
  }

  .cart__item--discount,
  .cart__item--discount .label {
    color: $vm-sale-price-color;
    margin-top: 15px;
  }

  @include respond-to('medium-down') {
    .cart__item--image {
      max-width: 33.333%;
    }

    .cart__item--content {
      margin-left: 20px;
    }

    .cart__item_--title {
      margin-right: 20px;
    }
  }
}

.cart_discounts {
  @include flexbox();
  @include align-items(flex-start);
  line-height: 1;

  .cart_discounts--title {
    width: 60%;
    margin-right: 20px;
  }

  .cart_discounts--price {
    width: calc(40% - 20px);
    text-align: right;
  }
}

.cart__remove-btn {
  @include flexbox();
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 10px;
  border-bottom-width: 0 !important;

  span.remove-text,
  span.remove-icon {
    color: $vm-body-text-color;
  }

  &:hover span,
  &:active span {
    color: $vm-link-hover-color;
  }

  @include respond-to('large-down') {
    .remove-text {
      display: none;
    }
  }

  .remove-icon {
    margin-left: 5px;

    &:before {
      font-family: Arial, 'Helvetica CY', 'Nimbus Sans L', sans-serif !important;
      font-size: 25px;
      line-height: 1em;
      display: block;
      content: '\00d7';
    }
  }
}

.cart .cart_subtotal {
  font-weight: bold;
  font-size: larger;
}

.cart_content .cart_subtotal {
  text-align: left;
  font-weight: bold;
}

.cart_content a,
.cart_content a:visited,
.cart_content a:hover,
.cart_content a .price,
.cart_content a .price span {
  // color: {{ settings.regular_color }} !important;
}

.cart_content a .price span {
  padding-left: 5px;
}

.cart_content ul {
  list-style: none;
  margin: 0;
  padding: 15px 20px;

  li {
    padding-left: 0;
    padding-right: 0;

    &:empty {
      margin-bottom: 0;
    }

    .cart_discounts--title {
      text-align: left;
    }
  }
}

.cart_content ul li {
  list-style: none;
  clear: both;
}

.cart_content .action_button {
  width: 100%;
}

.top_bar [class^='icon-']:before,
.top_bar [class*=' icon-']:before,
.mini_cart {
  // font-size: {{ settings.top_bar_font_size | plus: 3 }}px;
  margin-right: 0;
  vertical-align: middle;
}

#customer_login_guest,
#customer_login {
  display: inline;
  @include respond-to('small-down') {
    display: block;
  }
}

input[type='submit'].guest_button,
input[type='button'].guest_button {
  // color: {{ settings.link_color }};
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: transparent;
  border: 0;
  padding: 0;
  text-align: left;

  &:hover {
    background: transparent;
    border: 0;
    // color: {{ settings.link_hover_color }};
  }

  @include respond-to('medium-up') {
    text-align: center;
  }
}

.menu ul li .mini_cart span {
  padding-left: 5px;
  top: -1px;
}

.sticky_nav div.logo img {
  margin: 0 auto;
}

.dropdown_container {
  clear: both;
  width: 100%;
  display: none;
}

.dropdown_container img {
  max-width: 100%;
}

.dropdown {
  position: absolute;
  width: 100%;
  z-index: 1000;
  @include vm-dropdown-menu-boxshadow();
}

.dropdown_content {
  display: table;
  width: 100%;
  margin: 0 auto;
}

.dropdown_container.mega-menu .dropdown_content {
  @include flexbox();
  @include flex-direction(row);
  width: 100%;
  margin: 0 auto;
}

.mega-menu__richtext,
.mega-menu__image-caption-link {
  padding: 0 5px;

  img {
    margin-bottom: 10px;
  }
}

.mega-menu__richtext a,
.mega-menu__richtext a:active,
.mega-menu__richtext a:hover {
  display: inline-block;
  text-transform: none;
}

.mega-menu__image-caption-link {
  text-align: center;
  margin-bottom: 10px;

  a,
  a:visited,
  a:active,
  a:hover {
    text-transform: none;
    display: block;
  }
}

.mega-menu__image-caption,
.mobile-mega-menu__image-caption {
  margin: 10px 0;
}

.dropdown_content a p,
.mobile-mega-menu a p {
  padding: 0;
}

.dropdown_content p,
.mobile-mega-menu p {
  // font-family: {{ settings.nav__font.family }}, {{ settings.nav__font.fallback_families }};
  // font-size: {{ settings.nav_font_size }}px;
  // font-style: {{ settings.nav__font.style }};
  // color: {{ settings.nav_color }};
  padding-top: 12px;
  padding-bottom: 12px;
  position: relative;
  display: block;
  // text-rendering: optimizeLegibility;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: 0;
  margin-bottom: 0;
}

.dropdown_column__menu {
  & + .dropdown_column__menu {
    margin-top: 2rem;
  }
}

.dropdown_narrow {
  width: 60%;
}

.dropdown_column {
  display: table-cell;
  padding: 15px 20px 30px;
  width: 16.666%;
  vertical-align: top;

  img {
    max-width: 100%;
  }

  ul {
    margin: 0;
    padding: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  ul.dropdown_title {
    h5 {
      margin-bottom: 0;
    }

    a {
      // TODO - this overrides ".menu a" styling.
      @include vm-subheading-2();
    }
  }

  ul.dropdown_item {
    text-align: center;
  }
}

.dropdown_container.mega-menu .dropdown_column {
  display: inline-block;
  padding: 2rem 1rem;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 16.666%;
  flex: 1 0 16.666%;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  vertical-align: top;
}

.dropdown_column li {
  display: block;
}

.dropdown_column li a,
.dropdown_column li a:hover,
.dropdown_column li a:active {
  padding-bottom: 0;
}

.dropdown_row {
  display: table-row;
}

select.currencies {
  border: 0 !important;
  background-color: transparent;
  margin-bottom: 0 !important;
  min-width: 65px;
  outline: 0;
  background-position: 96.5% 55%;
  background-size: 18px 12px;
  text-shadow: none !important;
  box-shadow: none !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  appearance: none;
}

select.currencies:active {
  border: 0;
  outline: 0;
  text-shadow: 0;
  box-shadow: 0;
}

select.currencies option {
  // @include background-opacity({{ settings.header_bg_color }}, {% if settings.transparent_header %}{% if settings.header_bg_color == "#ffffff" %}0.9{% else %}0.6{% endif %}{% else %}1{% endif %});
  // color: {{ settings.nav_color }};
}

.menu li.currencies {
  padding: 0;
}

.dropdown .header_search_form {
  .search-terms {
    $height: 50px;
    height: $height;
    min-height: $height;
    border: 0 none;
    border-bottom: 1px solid $vm-border-color;

    &:focus,
    &:active {
      border-bottom: 1px solid $vm-color-sand;
    }
  }

  @include respond-to('medium-down') {
    .search__results {
      margin-top: 30px;
    }
  }
}

.main_nav {
  div.logo {
    // height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      display: block;
      color: $vm-navbar-text-color;
      outline: 0;
    }
  }
}

.menu-position--inline.logo-position--left div.logo {
  padding-left: 20px;
  text-align: left;
}

.menu-position--inline.logo-position--left div.logo.logo--text a {
  padding-top: 12px;
  padding-bottom: 12px;
}

.menu-position--inline.logo-position--center {
  .logo {
    text-align: center;

    img {
      margin: 0 auto;
    }
  }
}

.menu-position--block.logo-align--left div.logo {
  padding-left: 20px;
  text-align: left;
}

.menu-position--block.logo-align--center div.logo {
  text-align: center;
  width: 100%;

  img {
    margin: 0 auto;
  }
}

div.logo {
  width: 16%;
  float: left;
  height: 55px;
  padding: 0 1%;
  max-width: 200px;

  img {
    max-height: 100%;
  }

  &.text-align--center img {
    margin: 0 auto;
  }

  &.text-align--left {
    padding-left: 20px;
  }
}

.primary_logo {
  display: block;
}

.secondary_logo {
  display: none;
}

header.feature_image.secondary_logo--true {
  img.primary_logo,
  img.secondary_logo {
    display: none;
  }
}

header.secondary_logo--true:not(.feature_image) {
  img.secondary_logo {
    display: none !important;
  }
  img.primary_logo {
    display: inline !important;
  }
}

/* Adjust link text size on mobile */
@media only screen and (max-width: 798px) {
  // /*#header .top_bar a.mobile_logo.no_menu_title {top:5px;}
  a.mobile_nav.dropdown_link.no_menu {
    margin-right: 35px;
  }
}

@media (max-width: 400px) {
  #header .top_bar a.mobile_logo.no_menu_title {
    position: initial;
    width: 60%;
    font-size: 4.5vw !important;
    top: initial;
    line-height: 45px;
  }

  #header .mobile_nav.dropdown_link.no_menu {
    width: 10%;
  }
}

/* Add Custom Order Cart */
#cart_note_container {
  padding: 5px 30px 0 30px;
}

#cart_note_container textarea {
  margin: 0;
}

#cart_note_container hr {
  border-top: 1px solid #d6d6d6;
}
