/* Components - Homepage Banner
================================================== */

.image-card {
  margin-bottom: get-vm-spacer(3);

  .image-card__link,
  img {
    transition: all 0.4s;
  }

  .image-card__link {
    color: $vm-color-sea-green;

    &:hover {
      color: $vm-color-sand;

      img {
        transform: scale(1.02) translateX(2px);
      }
    }
  }

  .image-card__image {
  }

  .image-card__title {
    margin: get-vm-spacer(1) 0 0;
  }

  .image-card__content {
  }
}

// TODO - this doesn't go here
.image-card--blog-post {
  .image-card__title {
    margin-bottom: 0;
  }

  .image-card--blog-post__timestamp {
    margin-bottom: 1rem;
  }
}
