/* Components - Page Banner
================================================== */
.page-banner {
  position: relative;

  .page-banner__background-image-desktop,
  .page-banner__background-image-mobile {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
  }

  .page-banner__background-image-desktop {
    display: block;
  }

  .page-banner__background-image-mobile {
    display: none;
  }

  &.page-banner--aspect-ratio-desktop-2-1 {
    aspect-ratio: 2/1;
  }

  &.page-banner--aspect-ratio-desktop-3-1 {
    aspect-ratio: 3/1;
  }

  @include respond-to("medium-up") {
    &.page-banner--aspect-ratio-desktop-2-1,
    &.page-banner--aspect-ratio-desktop-3-1 {
      display: flex;
      align-items: center;
      justify-content: center;

      .content-section {
        padding: 0;
        flex-grow: 1;
      }
    }
  }

  @include respond-to("medium-down") {
    .page-banner__background-image-desktop {
      display: none;
    }

    .page-banner__background-image-mobile {
      display: block;
    }

    &.page-banner--aspect-ratio-mobile-unconstrained {
      aspect-ratio: unset;
    }

    &.page-banner--aspect-ratio-mobile-1-1,
    &.page-banner--aspect-ratio-mobile-2-1 {
      display: flex;
      align-items: center;

      .content-section {
        padding: 0;
      }
    }

    &.page-banner--aspect-ratio-mobile-1-1 {
      aspect-ratio: 1/1;
    }

    &.page-banner--aspect-ratio-mobile-2-1 {
      aspect-ratio: 2/1;
    }
  }
}
