/* #Promo banner
================================================== */
// TODO - put in #header section

.promo-banner {
  background-color: $vm-color-plum;
  text-align: center;
  color: $vm-color-white;
  width: 100%;
  z-index: 5000;
  overflow: hidden;
  padding: 0.75rem 1.5rem;
  display: none;
  position: relative;
  z-index: $vm-z-index-header-content;

  p {
    @include vm-paragraph-3();
    margin-bottom: 0;
  }

  .promo-banner__content {
    margin: 0 auto;
  }

  .promo-banner__close-button {
    $size: 35px;
    position: absolute;
    top: 0.75rem;
    right: 0;
    display: block;
    overflow: visible;
    width: $size;
    height: $size;
    margin: 0;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    color: $vm-color-white;
    border: 0;
    outline: 0;
    background: transparent;
    z-index: 1000;

    &:before {
      font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif !important;
      font-size: 20px;
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: $size;
      content: "\00d7";
      text-align: center;
    }
  }
}

.promo-banner-show .promo-banner {
  display: block;
}
