/* # Product media
================================================== */

.product-gallery__model model-viewer,
.product-gallery__video iframe {
  width: 100%;
  min-height: 450px;
}

.product-gallery__model {
  position: relative;

  model-viewer {
    width: 100%;
    min-height: 500px;
  }
}

.view-in-your-space.action_button {
  padding: 0;
  width: 100%;
  @include flexbox();
  @include justify-content(center);
  @include align-items(center);
  min-height: 44px;
  // background: {{ settings.shop_bg_color | color_darken: 10 }};
  color: $product-media-fill-color;
  font: inherit;
  text-transform: none;
  border-radius: 0px;
  border: 0;

  svg {
    path {
      &:first-child {
        stroke: $product-media-fill-color;
      }

      &:last-child {
        fill: $product-media-fill-color;
      }
    }
  }
}

.show-gallery-arrows--true
  .shopify-model-viewer-ui
  .shopify-model-viewer-ui__controls-area {
  right: 50px;
  bottom: 10px;
}

.shopify-model-viewer-ui {
  .shopify-model-viewer-ui__button {
    color: $product-media-fill-color;
    background: $product-media-bg-color;

    &[hidden] {
      display: none;
    }
  }

  .shopify-model-viewer-ui__button--poster:hover,
  .shopify-model-viewer-ui__button--poster:focus {
    color: rgba($product-media-fill-color, 0.55);
  }

  .shopify-model-viewer-ui__controls-area {
    background: $product-media-bg-color;
    border: 1px solid rgba($product-media-fill-color, 0.05);
  }

  .shopify-model-viewer-ui__button--control:not(:last-child) {
    &:after {
      border-bottom: 1px solid rgba($product-media-fill-color, 0.05);
    }
  }
}

.video-on-hover,
.swap-true .plyr--youtube,
.video-controls-enabled--false {
  .plyr__controls,
  .plyr__control--overlaid {
    opacity: 0;
    & > * {
      pointer-events: none;
      cursor: auto;
    }
  }
}

// Accessibility styling

.product_gallery .gallery-cell {
  visibility: hidden;

  &.is-selected {
    visibility: visible;
  }
}

.product_gallery_nav {
  .media-badge {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 33%;
    max-height: 33%;
    min-width: 20px;
    width: 25px;
    height: 25px;

    svg {
      width: 100%;
      height: 100%;
    }

    path {
      &:first-child {
        fill: $product-media-bg-color;
      }

      &:last-child {
        fill: $product-media-fill-color;
      }
    }

    g {
      path {
        &:first-child {
          stroke: $product-media-fill-color;
        }
      }
    }

    .media-badge__outline {
      stroke: rgba($product-media-fill-color, 0.05);
    }
  }
}

// Set product media height
.gallery-wrap {
  &.product-height-set {
    model-viewer {
      margin: 0 auto;
    }

    .product_gallery img,
    .product_gallery .plyr--html5 video {
      width: 100%;
    }

    .product_gallery img {
      @include object-fit(contain);
    }

    .product_gallery .plyr--youtube .plyr__video-embed {
      height: 100%;
    }
  }
}
