/* Components - Quick shop
================================================== */

.js-quick-shop {
  display: none;
}

.quickshop-forms__container {
  display: none;
}

.quick-shop__lightbox .fancybox-content {
  width: 90%;
  max-width: 900px;
  // {% if settings.use_newsletter_border == true %}
  //   border: 5px solid $vm-border-color;
  // {% endif %}
  // background-color: {{ settings.modal_background_color }};
  cursor: pointer !important;
}

.quick-shop__lightbox .fancybox-close-small svg path {
  // fill: {{ settings.modal_text_color }};

  &:hover {
    // fill: darken({{ settings.modal_text_color }}, 0.8);
  }
}

.quick-shop {
  .product_gallery img {
    // background-color: {{ settings.modal_background_color }};
  }

  .container {
    max-width: 100%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    // color: {{ settings.modal_text_color }};

    .gallery-wrap.eight.columns {
      width: calc(55% - 40px);
      margin: 0;
      margin-right: 40px;
      min-height: 1px;
      transition: opacity 1s 0.3s linear;

      &.align-gallery-right {
        float: right;
        margin-right: 0;
        margin-left: 40px;
      }
    }

    .text-modal-wrap.six.columns {
      width: 45%;
      margin: 0;
      min-height: 1px;
      transition: opacity 0.3s linear;
    }

    .new_banner_product:empty,
    .sale_banner_product:empty,
    .preorder_banner_product:empty {
      display: none;
    }
  }

  img[alt*='[right]'],
  img[alt*='[left]'],
  img[alt*='[center]'] {
    //hide full-width-image template images in quick-shop
    display: none;
  }
}

h3.quick-shop__title a {
  // color: {{ settings.modal_text_color }};
}

.quick-shop .product_gallery {
  opacity: 0;
  transition: opacity 0.3s;
}

.quick-shop .product_gallery.flickity-enabled {
  opacity: 1;
}

.quick-shop__gallery {
  &.gallery-arrows--false {
    .product_gallery_nav .flickity-prev-next-button {
      display: none;
    }
  }
}

/* Inline quick shop */

.quick-shop-style--inline {
  .collection_swatches {
    display: none;
  }

  .inline-quickshop {
    margin-top: 10px;
  }

  .product-quantity-box,
  .items_left {
    display: none;
  }

  .purchase-details__spb--false {
    margin-left: 0;
  }
}

.quick-shop-style--popup,
.quick-shop-style--inline {
  .product-details {
    .title,
    .brand,
    .shopify-review,
    .price,
    .sold_out {
      padding: 0;
      margin: 5px 0;
    }
  }
}

.quick-shop-style--popup {
  .quick_shop {
    margin: 5px 0;
  }
}

// Purchase button sizing
.quick-shop-style--inline {
  &.four,
  &.one-fifth {
    .action_button--secondary {
      margin-bottom: 10px;
    }
    .action_button--secondary,
    .shopify-payment-button {
      min-width: 100%;
      margin-left: 0;
      margin-right: 0;
    }
  }
}
