/* Components - Swatch
================================================== */

$select-button-size: 40px;
$select-button-label-size: 34px;

@mixin vm-tooltip() {
  text-align: center;
  background: rgba($vm-color-sea-green, 0.9);
  color: #fff;
  bottom: 100%;
  padding: 5px 10px;
  display: block;
  position: absolute;
  width: 120px;
  font-size: 13px;
  left: #{30 * 0.5 - 50}px;
  margin-bottom: 15px;
  filter: alpha(opacity=0);
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: all 0.25s ease-out;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
  z-index: 10000;

  &:before {
    bottom: -20px;
    content: " ";
    display: block;
    height: 20px;
    left: 0;
    position: absolute;
    width: 100%;
  }

  /* CSS triangle */
  &:after {
    content: " ";
    border-left: solid transparent 10px;
    border-right: solid transparent 10px;
    border-top: solid rgba($vm-color-sea-green, 0.9) 10px;
    bottom: -10px;
    height: 0;
    left: 50%;
    margin-left: -13px;
    position: absolute;
    width: 0;
  }
}

.selector-wrapper label {
  margin-bottom: 0.5em;
}

.product_section .product_form {
  opacity: 0;
  transition: opacity 0.2s ease;
}

.product_section .product_form.is-visible {
  opacity: 1;
}

.selector-wrapper,
.select {
  display: none;
}

.swatch_options {
  margin-bottom: 1em;
}

.product-swatch {
  .product-swatch__title {
    margin: 0.5em 0;
  }

  .product-swatch__items {
    display: flex;
    flex-direction: row;
  }
}

.vm-select-buttons {
  margin-bottom: get-vm-spacer(1);
}

.vm-select-buttons__options {
  display: flex;
  flex-wrap: wrap;
}

.vm-select-button {
  position: relative;
  margin: 0 8px 8px 0;
  min-width: $select-button-size;
  min-height: $select-button-size;
  cursor: pointer;

  input {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    z-index: 9000;
    cursor: pointer;

    &:checked {
      & + label {
        border: 1px solid $vm-color-sea-green;
      }
    }

    &:focus {
      & + label {
        box-shadow: 0 0 0 2px rgba($vm-color-sea-green, 0.2);
      }
    }
  }

  label {
    border: 1px solid rgba($vm-color-sea-green, 0.2);
    min-width: $select-button-size;
    min-height: $select-button-size;
    border-radius: 3px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  .crossed-out {
    @include diagonal-line;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: none;
  }

  .tooltip {
    @include vm-tooltip();
  }

  &.vm-select-button--no-text-transform {
    label {
      text-transform: none;
    }
  }

  &.vm-select-button--soldout {
    .crossed-out {
      border-radius: 50%;
      display: block;
      height: 100%;
      width: 100%;
      pointer-events: none;
      @include object-fit(fill);
    }

    label {
      filter: alpha(opacity=60);
      opacity: 0.6;
    }
  }

  &.vm-select-button--color {
    border: 0 none;
    border-radius: 50%;
    // line-height: $select-button-label-size;
    width: $select-button-size;
    height: $select-button-size;

    label {
      padding: 0;
      margin: 0;
      border-radius: 50%;
      background-position: center;
      background-size: cover;
      border-color: transparent;
    }

    .vm-select-button--color__background-color {
      $inset: 8px;
      border-radius: 50%;
      position: absolute;
      top: $inset;
      right: $inset;
      bottom: $inset;
      left: $inset;
    }
  }
}
