/* Components - Swatch
================================================== */

$swatch-element-size: 40px;
$swatch-label-size: 34px;

.selector-wrapper label {
  margin-bottom: 0.5em;
}

.product_section .product_form {
  opacity: 0;
  transition: opacity 0.2s ease;
}

.product_section .product_form.is-visible {
  opacity: 1;
}

.selector-wrapper,
.select {
  display: none;
}

.swatch_options {
  margin-bottom: 1em;
}

.swatch {
  .option_title {
    margin: 0.5em 0;
  }

  /* Hide radio buttons.*/
  input {
    display: none;
  }

  label {
    float: left;
    min-width: $swatch-element-size;
    margin: 0;
    font-size: 13px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    padding: 10px;
  }

  .color label {
    min-width: $swatch-label-size;
    height: $swatch-label-size !important;
    line-height: $swatch-label-size;
    background-position: center;
    background-size: cover;
  }
}

.swatch-element {
  border: #e2e2e2 1px solid;
  min-width: $swatch-element-size;
  min-height: $swatch-element-size;
  border-radius: 3px;
  float: left;
  -webkit-transform: translateZ(0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0px 8px 8px 0;
  position: relative;

  &.color {
    padding: 3px;
  }

  &.color,
  &.color label {
    border-radius: 50%;
    border: #e2e2e2 1px solid;
  }

  &.color label {
    padding: 0;
    margin: 0;
    width: $swatch-label-size;
    height: $swatch-label-size;
  }

  &.swatch--active {
    border-color: $vm-color-sea-green;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 1);
  }
}

.swatch_options input:checked + .swatch-element {
  border-color: $vm-color-sea-green;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 1);
}

.swatch {
  .swatch-element {
    .crossed-out {
      @include diagonal-line;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      display: none;
    }

    &.soldout .crossed-out {
      border-radius: 50%;
      display: block;
      height: 100%;
      width: 100%;
      pointer-events: none;
      @include object-fit(fill);
    }

    &.soldout label {
      filter: alpha(opacity=60);
      opacity: 0.6;
    }

    &:hover .tooltip {
      filter: alpha(opacity=100);
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }

  /* Tooltips */
  .tooltip {
    text-align: center;
    background: #333;
    background: rgba(#333, 0.9);
    color: #fff;
    bottom: 100%;
    padding: 5px 10px;
    display: block;
    position: absolute;
    width: 120px;
    font-size: 13px;
    left: #{30 * 0.5 - 50}px;
    margin-bottom: 15px;
    /* Make it invisible by default */
    filter: alpha(opacity=0);
    -khtml-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    visibility: hidden;
    /* Animations */
    transform: translateY(10px);
    transition: all 0.25s ease-out;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    z-index: 10000;

    &:before {
      bottom: -20px;
      content: " ";
      display: block;
      height: 20px;
      left: 0;
      position: absolute;
      width: 100%;
    }

    /* CSS triangle */
    &:after {
      content: " ";
      border-left: solid transparent 10px;
      border-right: solid transparent 10px;
      border-top: solid rgba(#333, 0.9) 10px;
      bottom: -10px;
      height: 0;
      left: 50%;
      margin-left: -13px;
      position: absolute;
      width: 0;
    }
  }
}

.vm-select-buttons {
}

.vm-select-buttons__options {
  display: flex;
  flex-wrap: wrap;
}

.vm-select-button {
  position: relative;
  margin: 0 8px 8px 0;
  width: $swatch-element-size;
  height: $swatch-element-size;
  cursor: pointer;

  input,
  label {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  input {
    // width: 0;
    // height: 0;
    opacity: 0;
    // visibility: hidden;
    z-index: 9000;
    cursor: pointer;
  }

  label {
    border: #e2e2e2 1px solid;
    min-width: $swatch-element-size;
    min-height: $swatch-element-size;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  input:checked + label {
    // background: red;
    border: 1px solid $vm-color-sea-green;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 1);
  }
}
