/* Components - Swatch
================================================== */

$select-button-size: 40px;
$select-button-label-size: 34px;

.selector-wrapper label {
  margin-bottom: 0.5em;
}

.selector-wrapper,
.select {
  // display: none;
}

.swatch_options {
  margin-bottom: 1em;
}

.product-swatch {
  .product-swatch__title {
    margin: 0.5em 0;
  }

  .product-swatch__items {
    display: flex;
    flex-direction: row;
  }
}

.vm-select-buttons {
  margin-bottom: get-vm-spacer(1);
}

.vm-select-buttons.vm-select-buttons--color {
  .vm-select-buttons__color-name,
  .vm-select-buttons__color-name:empty {
    height: 1em;
    margin: 0 0 get-vm-spacer(1);
  }
}

.vm-select-buttons__options {
  display: flex;
  flex-wrap: wrap;
}

.vm-select-button {
  position: relative;
  margin: 0 8px 8px 0;
  min-width: $select-button-size;
  min-height: $select-button-size;
  cursor: pointer;

  input {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    z-index: 9000;
    cursor: pointer;

    &:checked {
      & + label {
        border: 1px solid $vm-color-sea-green;
      }
    }

    &:focus {
      & + label {
        box-shadow: 0 0 0 2px rgba($vm-color-sea-green, 0.2);
      }
    }
  }

  label {
    border: 1px solid rgba($vm-color-sea-green, 0.2);
    min-width: $select-button-size;
    min-height: $select-button-size;
    border-radius: 3px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0 get-vm-spacer(0.5);
  }

  .crossed-out {
    @include diagonal-line;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: none;
  }

  &.vm-select-button--no-text-transform {
    label {
      text-transform: none;
    }
  }

  &.vm-select-button--soldout {
    .crossed-out {
      border-radius: 50%;
      display: block;
      height: 100%;
      width: 100%;
      pointer-events: none;
      @include object-fit(fill);
    }

    label {
      filter: alpha(opacity=60);
      opacity: 0.6;
    }
  }

  &.vm-select-button--color {
    border: 0 none;
    border-radius: 50%;
    // line-height: $select-button-label-size;
    width: $select-button-size;
    height: $select-button-size;

    label {
      padding: 0;
      margin: 0;
      border-radius: 50%;
      background-position: center;
      background-size: cover;
      border-color: transparent;
    }

    .vm-select-button--color__background-color {
      $inset: 8px;
      border-radius: 50%;
      position: absolute;
      top: $inset;
      right: $inset;
      bottom: $inset;
      left: $inset;
    }
  }
}
