/* General - Forms/Inputs
// TODO - decide whether the contact form page stuff is needed.
================================================== */

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #888;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}

/* #Forms
================================================== */

form {
  margin-bottom: 20px;
}

fieldset {
  margin-bottom: 20px;
}

input[type='text'],
input[type='password'],
input[type='email'],
input[type='search'],
input[type='url'],
input[type='tel'],
input[type='number'],
input[type='date'],
input[type='month'],
input[type='week'],
input[type='time'],
input[type='range'],
input[type='color'],
select,
textarea {
  display: block;
  width: 100%;
  height: 44px;
  min-height: 44px;
  padding: 0 10px;
  margin: 0;
  line-height: 22px;
  border: 1px solid $vm-border-color;
  outline: none;
  background: #fff;
  // TODO - not this color
  color: #5f6a7d;
  font-size: 13px;
  // TODO - use font stack variable
  font-family: $vm-body-font;
  margin-bottom: 15px;
  -webkit-appearance: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include respond-to('small-down') {
    font-size: 16px;
  }
}
input[type='text']:active,
input[type='text']:focus,
input[type='password']:active,
input[type='password']:focus,
input[type='email']:active,
input[type='email']:focus,
input[type='search']:active,
input[type='search']:focus,
input[type='url']:active,
input[type='url']:focus,
input[type='tel']:active,
input[type='tel']:focus,
input[type='number']:active,
input[type='number']:focus,
input[type='date']:active,
input[type='date']:focus,
input[type='month']:active,
input[type='month']:focus,
input[type='week']:active,
input[type='week']:focus,
input[type='time']:active,
input[type='time']:focus,
input[type='range']:active,
input[type='range']:focus,
input[type='color']:active,
input[type='color']:focus,
select:active,
select:focus,
textarea:active,
textarea:focus {
  border: 1px solid #aaa;
  color: #444;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='text']::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type='text']::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}
input[type='number'] {
  -moz-appearance: textfield !important; //To ensure arrows arent present in firefox
}

select::-ms-expand {
  display: none;
}

select {
  background: #fff url('select.png') no-repeat 96% 50%;
  background-size: 18px 12px;
  border: 1px solid #d9dbdc;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
}

label,
legend,
.option_title {
  display: block;
  font-weight: bold;
  // font-size: 13px;
  text-align: left;
  margin-bottom: 8px;
  @include vm-subheading-3()
    // text-transform: {{ settings.button_font_style }};;;;;;;;;;
}

input[type='checkbox'] {
  display: inline;
}

label span,
legend span {
  font-weight: bold;
  font-size: 13px;
  color: #444;
}

textarea {
  min-height: 120px;
  padding: 15px 9px;
}

.acceptsMarketing {
  margin-bottom: 20px;
  label {
    display: inline;
    margin-left: 5px;
  }
}

input.sign_up[type='submit'] {
  margin-left: 5px;
  display: inline-block;
}

input.contact_email[type='email'] {
  width: 320px;
  display: inline-block;
  float: left;
}

.btn.action_button,
input.btn.action_button[type='submit'],
input.btn.action_button[type='button'] {
  width: inherit;
}

/* #Contact Form
================================================== */

div.container.contact-form-container {
  padding-top: 0;
}

.contact-form {
  .contact-form__content {
    margin-bottom: 20px;
  }
}

.contact-form,
.custom-contact-form {
  label {
    margin-bottom: 12px;
  }

  ul li label {
    // font-family: {{ settings.regular__font.family }}, {{ settings.regular__font.fallback_families }};
    // text-transform: {{ settings.regular_font_style }};
    // font-weight: {{ settings.regular__font.weight }};
  }
}

.contact-form__position--right,
.custom-contact-form__position--right {
  float: right;
}

.custom-contact-form {
  .contact-block {
    margin-bottom: 20px;
  }

  .custom-contact-form__image {
    margin-bottom: 20px;
  }

  .custom-contact-form__social .social_icons {
    padding: 0;
    margin-bottom: 40px;
  }

  .custom-contact-form__logo {
    max-width: 150px;
    margin: 0 auto 20px auto;
  }

  .contact-block--checkbox,
  .contact-block--radio {
    ul {
      padding: 0;
      margin: 0;

      li {
        margin-bottom: 8px;
        list-style: none;
        @include flexbox;
        @include align-items(baseline);

        input {
          margin-right: 10px;
          position: relative;
          top: 2px;
        }

        label {
          margin-bottom: 0;
        }

        &:last-child label {
          margin-bottom: 0;
        }
      }
    }
  }
}

.page-contact {
  .footer {
    margin-top: 0;
  }

  .custom-contact-form {
    margin-top: 25px;
  }
}
