/* General - Forms/Inputs
// TODO - decide whether the contact form page stuff is needed.
================================================== */

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #888;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}

/* #Forms
================================================== */

form {
  margin-bottom: 20px;
}

fieldset {
  margin-bottom: 20px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="search"],
input[type="url"],
input[type="tel"],
input[type="number"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="range"],
input[type="color"],
select,
textarea {
  display: block;
  width: 100%;
  height: 44px;
  min-height: 44px;
  padding: 0 get-vm-spacer(0.5);
  margin: 0;
  line-height: 22px;
  border: 0 none;
  border-bottom: 1px solid $vm-border-color;
  outline: none;
  background: transparent;
  border-radius: 0;
  color: $vm-color-black;
  font-size: $vm-paragraph-3-font-size;
  font-family: $vm-body-font;
  margin-bottom: get-vm-spacer(1);
  -webkit-appearance: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include respond-to("small-down") {
    font-size: 16px;
  }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="text"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type="text"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
input[type="number"] {
  -moz-appearance: textfield !important; //To ensure arrows arent present in firefox
}

select::-ms-expand {
  display: none;
}

select {
  // background: #fff url('select.png') no-repeat 96% 50%;
  background: $vm-color-cream
    url("data:image/svg+xml;utf8,%3Csvg%20id%3D%22Layer_1%22%20data-name%3D%22Layer%201%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpolygon%20points%3D%2212%2016.44%206.93%2011.05%208.03%2010.02%2012%2014.25%2015.97%2010.02%2017.07%2011.05%2012%2016.44%22%20fill%3D%22%231c4747%22%2F%3E%3C%2Fsvg%3E")
    no-repeat 100% 48%;
  background-size: 34px 23px;
  appearance: none;
  text-indent: 0.01px;
  cursor: pointer;
}

label,
legend,
.option_title {
  display: block;
  font-weight: bold;
  // font-size: 13px;
  text-align: left;
  margin-bottom: 8px;
  @include vm-subheading-3()
    // text-transform: {{ settings.button_font_style }};;;;;;;;;;
;
}

input[type="checkbox"] {
  display: inline;
  vertical-align: middle;
}

label > input[type="checkbox"] {
  padding-left: get-vm-spacer(1);
}

.checkbox-field {
  position: relative;

  label {
    margin-bottom: 0;
  }
}

label span,
legend span {
  font-weight: bold;
  font-size: 13px;
  color: #444;
}

textarea {
  min-height: 120px;
  padding: 15px 9px;
}

.acceptsMarketing {
  margin-bottom: 20px;
  label {
    display: inline;
    margin-left: 5px;
  }
}

input.sign_up[type="submit"] {
  margin-left: 5px;
  display: inline-block;
}

input.contact_email[type="email"] {
  width: 320px;
  display: inline-block;
  float: left;
}

.btn.action_button,
input.btn.action_button[type="submit"],
input.btn.action_button[type="button"] {
  width: inherit;
}

/* #Contact Form
================================================== */

div.container.contact-form-container {
  padding-top: 0;
}

.contact-form {
  .contact-form__content {
    margin-bottom: 20px;
  }
}

.contact-form,
.custom-contact-form {
  label {
    margin-bottom: 12px;
  }

  ul li label {
    // font-family: {{ settings.regular__font.family }}, {{ settings.regular__font.fallback_families }};
    // text-transform: {{ settings.regular_font_style }};
    // font-weight: {{ settings.regular__font.weight }};
  }
}

.contact-form__position--right,
.custom-contact-form__position--right {
  float: right;
}

.custom-contact-form {
  .contact-block {
    margin-bottom: 20px;
  }

  .custom-contact-form__image {
    margin-bottom: 20px;
  }

  .custom-contact-form__social .social_icons {
    padding: 0;
    margin-bottom: 40px;
  }

  .custom-contact-form__logo {
    max-width: 150px;
    margin: 0 auto 20px auto;
  }

  .contact-block--checkbox,
  .contact-block--radio {
    ul {
      padding: 0;
      margin: 0;

      li {
        margin-bottom: 8px;
        list-style: none;
        @include flexbox;
        @include align-items(baseline);

        input {
          margin-right: 10px;
          position: relative;
          top: 2px;
        }

        label {
          margin-bottom: 0;
        }

        &:last-child label {
          margin-bottom: 0;
        }
      }
    }
  }
}

.page-contact {
  .footer {
    margin-top: 0;
  }

  .custom-contact-form {
    margin-top: 25px;
  }
}
