/* general/grid
================================================== */

@use "sass:math";

.container {
  position: relative;
  max-width: $grid-widescreen;
  margin: 0 auto;
  padding: 0 $gutter;

  .container {
    padding: 0;
  }

  @include respond-to("large-down") {
    max-width: $grid-large;
  }
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: -(math.div($gutter, 2));
  margin-left: -(math.div($gutter, 2));

  &.row--reverse {
    flex-direction: row-reverse;
  }

  &.row--align-items-center {
    align-items: center;
  }

  &.row--justify-content-center {
    justify-content: center;
  }

  @include respond-to("medium-down") {
    &.row--mobile-collapse {
      flex-direction: column;

      &.row--mobile-reverse {
        flex-direction: column-reverse;
      }
    }
  }
}

.column,
.columns {
  padding-left: math.div($gutter, 2);
  padding-right: math.div($gutter, 2);
  box-sizing: border-box;
  flex-grow: 0;
  flex-shrink: 0;
}

@mixin column-width($width) {
  max-width: $width;
  flex-basis: $width;
}

@mixin container-column-generator($breakpoint: "") {
  /* Base Grid */
  .#{$breakpoint}one {
    @include column-width(percentage(math.div(1, 16)));
  }
  .#{$breakpoint}two {
    @include column-width(percentage(math.div(2, 16)));
  }
  .#{$breakpoint}three {
    @include column-width(percentage(math.div(3, 16)));
  }
  .#{$breakpoint}four {
    @include column-width(percentage(math.div(4, 16)));
  }
  .#{$breakpoint}five {
    @include column-width(percentage(math.div(5, 16)));
  }
  .#{$breakpoint}six {
    @include column-width(percentage(math.div(6, 16)));
  }
  .#{$breakpoint}seven {
    @include column-width(percentage(math.div(7, 16)));
  }
  .#{$breakpoint}eight {
    @include column-width(percentage(math.div(8, 16)));
  }
  .#{$breakpoint}nine {
    @include column-width(percentage(math.div(9, 16)));
  }
  .#{$breakpoint}ten {
    @include column-width(percentage(math.div(10, 16)));
  }
  .#{$breakpoint}eleven {
    @include column-width(percentage(math.div(11, 16)));
  }
  .#{$breakpoint}twelve {
    @include column-width(percentage(math.div(12, 16)));
  }
  .#{$breakpoint}thirteen {
    @include column-width(percentage(math.div(13, 16)));
  }
  .#{$breakpoint}fourteen {
    @include column-width(percentage(math.div(14, 16)));
  }
  .#{$breakpoint}fifteen {
    @include column-width(percentage(math.div(15, 16)));
  }
  .#{$breakpoint}sixteen {
    @include column-width(percentage(math.div(16, 16)));
  }

  /** Whole */
  .#{$breakpoint}one-whole {
    @include column-width(100%);
  }

  /* Halves */
  .#{$breakpoint}one-half {
    @include column-width(percentage(math.div(1, 2)));
  }

  /* Thirds */
  .#{$breakpoint}one-third {
    @include column-width(percentage(math.div(1, 3)));
  }
  .#{$breakpoint}two-thirds {
    @include column-width(percentage(math.div(2, 3)));
  }

  /* Fourths */
  .#{$breakpoint}one-fourth {
    @include column-width(percentage(math.div(1, 4)));
  }
  .#{$breakpoint}two-fourths {
    @include column-width(percentage(math.div(2, 4)));
  }
  .#{$breakpoint}three-fourths {
    @include column-width(percentage(math.div(3, 4)));
  }

  /* Fifths */
  .#{$breakpoint}one-fifth {
    @include column-width(percentage(math.div(1, 5)));
  }
  .#{$breakpoint}two-fifths {
    @include column-width(percentage(math.div(2, 5)));
  }
  .#{$breakpoint}three-fifths {
    @include column-width(percentage(math.div(3, 5)));
  }
  .#{$breakpoint}four-fifths {
    @include column-width(percentage(math.div(4, 5)));
  }

  /* Sixths */
  .#{$breakpoint}one-sixth {
    @include column-width(percentage(math.div(1, 6)));
  }
  .#{$breakpoint}two-sixths {
    @include column-width(percentage(math.div(2, 6)));
  }
  .#{$breakpoint}three-sixths {
    @include column-width(percentage(math.div(3, 6)));
  }
  .#{$breakpoint}four-sixths {
    @include column-width(percentage(math.div(4, 6)));
  }
  .#{$breakpoint}four-sixths {
    @include column-width(percentage(math.div(5, 6)));
  }
}

@mixin grid-push-generator($breakpoint: "") {
  $prefix: "#{$breakpoint}--";

  @include respond-to($breakpoint) {
    .#{$prefix}offset-by-zero {
      margin-left: 0;
    }

    .#{$prefix}offset-by-one {
      margin-left: percentage(math.div(1, 16));
    }
    .#{$prefix}offset-by-two {
      margin-left: percentage(math.div(2, 16));
    }
    .#{$prefix}offset-by-three {
      margin-left: percentage(math.div(3, 16));
    }
    .#{$prefix}offset-by-four {
      margin-left: percentage(math.div(4, 16));
    }
    .#{$prefix}offset-by-five {
      margin-left: percentage(math.div(5, 16));
    }
    .#{$prefix}offset-by-six {
      margin-left: percentage(math.div(6, 16));
    }
    .#{$prefix}offset-by-seven {
      margin-left: percentage(math.div(7, 16));
    }
    .#{$prefix}offset-by-eight {
      margin-left: percentage(math.div(8, 16));
    }
    .#{$prefix}offset-by-nine {
      margin-left: percentage(math.div(9, 16));
    }
    .#{$prefix}offset-by-ten {
      margin-left: percentage(math.div(10, 16));
    }
    .#{$prefix}offset-by-eleven {
      margin-left: percentage(math.div(11, 16));
    }
    .#{$prefix}offset-by-twelve {
      margin-left: percentage(math.div(12, 16));
    }
    .#{$prefix}offset-by-thirteen {
      margin-left: percentage(math.div(13, 16));
    }
    .#{$prefix}offset-by-fourteen {
      margin-left: percentage(math.div(14, 16));
    }
    .#{$prefix}offset-by-fifteen {
      margin-left: percentage(math.div(15, 16));
    }
  }
}

/*================ Build Base Grid Classes ================*/
@include container-column-generator();
@include responsive-display-helper();
@include responsive-text-align-helper();

$breakpoint-has-widths: ($large-down, $medium-down, $small-down);
$breakpoint-has-push: ($large-down, $medium-down);

// /*================ Build Responsive Grid Classes ================*/
@each $breakpoint in $breakpoint-has-widths {
  @include respond-to($breakpoint) {
    @include container-column-generator("#{$breakpoint}--");
    @include responsive-display-helper("#{$breakpoint}--");
    @include responsive-text-align-helper("#{$breakpoint}--");
  }
}

// /*================ Build Grid Push Classes ================*/

//Styles applied only on larger screen sizes
@include respond-to("small-up") {
  /* Offsets */
  .offset-by-one {
    margin-left: percentage(math.div(1, 16));
  }
  .offset-by-two {
    margin-left: percentage(math.div(2, 16));
  }
  .offset-by-three {
    margin-left: percentage(math.div(3, 16));
  }
  .offset-by-four {
    margin-left: percentage(math.div(4, 16));
  }
  .offset-by-five {
    margin-left: percentage(math.div(5, 16));
  }
  .offset-by-six {
    margin-left: percentage(math.div(6, 16));
  }
  .offset-by-seven {
    margin-left: percentage(math.div(7, 16));
  }
  .offset-by-eight {
    margin-left: percentage(math.div(8, 16));
  }
  .offset-by-nine {
    margin-left: percentage(math.div(9, 16));
  }
  .offset-by-ten {
    margin-left: percentage(math.div(10, 16));
  }
  .offset-by-eleven {
    margin-left: percentage(math.div(11, 16));
  }
  .offset-by-twelve {
    margin-left: percentage(math.div(12, 16));
  }
  .offset-by-thirteen {
    margin-left: percentage(math.div(13, 16));
  }
  .offset-by-fourteen {
    margin-left: percentage(math.div(14, 16));
  }
  .offset-by-fifteen {
    margin-left: percentage(math.div(15, 16));
  }
}

@each $breakpoint in $breakpoint-has-push {
  @include respond-to($breakpoint) {
    @include grid-push-generator($breakpoint);
  }
}

.use-narrow-grid-rows {
  .row {
    margin-left: get-vm-spacer(5);
    margin-right: get-vm-spacer(5);
  }

  @include respond-to("medium-down") {
    .row {
      margin: 0;
    }
  }
}
