/* General - Links
================================================== */

a,
a:visited {
  color: $vm-link-color;
  text-decoration: none;
  position: relative;
  transition: color $vm-link-transition-speed;
}

a:hover,
a:focus {
  color: $vm-link-hover-color;
}

p a {
  text-decoration: underline;
}

a,
button,
input,
select,
textarea,
label,
summary {
  touch-action: manipulation;
}

