/* General - Lists
================================================== */

ul,
ol {
  margin-bottom: get-vm-spacer(1);

  li {
    margin-bottom: get-vm-spacer(0.5);
  }

  ul,
  ol {
    margin: get-vm-spacer(0.5) 0 get-vm-spacer(0.5) get-vm-spacer(2);

    li {
      margin-bottom: get-vm-spacer(0.5);
    }
  }
}

ul {
  list-style: disc outside;

  &.square {
    list-style: square outside;
  }

  &.circle {
    list-style: circle outside;
  }

  &.disc {
    list-style: disc outside;
  }

  &.large li {
    line-height: 21px;
  }

  &.none {
    list-style: none outside;
    margin-left: 0;
  }

  &.border {
    list-style: none outside;
    line-height: 26px;

    li {
      border-bottom: 1px solid $vm-border-color;
      list-style: none outside none;
      padding: 12px 0;
      margin-bottom: 0;
    }
  }
}

ol {
  list-style: decimal;
}
