/* General - Misc
================================================== */

// TODO - ???
.feature img {
  position: relative;
  top: 7px;
  margin-right: 5px;
  width: 25px;
  height: 25px;
}

.onboard-text {
  margin: 0;
}

.page-divider {
  opacity: 0;
  border-top: 0;
}

.active-divider {
  opacity: 1;
}

.feature p {
  font-size: smaller;
}

#featured_links {
  padding: 20px 0;

  h2 {
    padding-top: 15px;
  }
}

// #featured_links .column,
// #featured_links .columns {
//   opacity: 1;
// }

//Add default spacing to allow room for stars (from Shopify review app)
.slider-gallery .shopify-product-reviews-badge {
  height: 30px;
  display: block;
}

//Add spacing below review stars (from Shopify review app)
.spr-badge + .feature_divider {
  margin-top: 15px;
}

.spr-badge {
  padding: 5px 0;
}

.thumbnail .spr-badge-caption {
  display: none;
}

div#shopry-review-photos a {
  display: block !important;
}

//Feature divider variables
// $borderWidth: {{ settings.headline_border }}px;
$borderWidth: 0;
$borderWidthHr: 4px;
$borderStyle: solid;

.feature_divider {
  width: 100%;
  height: 0;
  display: block;
  border: 0;
  border-color: $vm-color-sea-green;
  border-bottom-width: $borderWidth;
  border-bottom-style: $borderStyle;

  &.no-margin {
    margin-bottom: 0px;
  }
}

div.container.bottom-fix {
  padding-bottom: 0px;
}

#target {
  padding: 20px;
  text-align: center;
}

.items_left {
  color: $vm-was-price-color;
}

.quantity_label {
  display: inline;
  font-size: smaller;
}

.remove_item a {
  font-size: smaller;
  // color: {{ settings.regular_color }};
}

input.quantity {
  width: 48px;
  display: inline;
  margin-bottom: 0;
  padding: 8px 5px;
}

ul.cart_items {
  padding-top: 0;
  padding-bottom: 0;
}

.cart_content li.mini-cart__item {
  padding: 0 0 15px 0;
  margin-bottom: 15px;
  border-bottom: 1px solid $vm-border-color;
}

.cart_content .notification-discount {
  color: $vm-sale-price-color;
  padding: 15px 0 0;
  margin: 0;
  line-height: 1;
}

li.mini-cart__item a,
li.mini-cart__item a:active,
#header li.mini-cart__item a,
#header li.mini-cart__item a:active {
  position: relative;
  font-size: inherit;
  text-align: left;
}

.cart_image {
  float: left;
  width: 100%;
  max-width: 100px;
  min-width: 100px;
  text-align: center;
  padding-right: 20px;

  img {
    display: block;
  }

  @include respond-to('small-down') {
    padding-right: 10px;
  }
}

a.continue {
  text-align: right;
  font-size: 32px;
  margin-right: 15px !important;
  padding: 10px 0 5px 0 !important;
  opacity: 0.8;

  &:hover {
    opacity: 1;
  }
}

.empty_cart {
  text-align: center;
  font-size: 18px;
  padding: 40px 0 25px 0;
  color: inherit;
}

#shipping-calculator.columns {
  float: none;
}

.cart__blocks {
  margin-top: 30px;
}

input[type='button'].get-rates.action_button {
  margin-top: 0;
}

#get-rates-submit {
  margin-top: -1px;
}
#customer_login {
  margin-bottom: 2px;
}
.multi_select {
  display: none;
}

.allow-clickthrough {
  pointer-events: none !important;
}

.hidden {
  display: none;
}

.hidden--mobile {
  @include respond-to('small-down') {
    display: none !important; /* Force on mobile devices */
  }
}

.remove {
  // color: {{ settings.regular_color }};
  color: $vm-color-sea-green;
}

.relative {
  position: relative;
}

.half-bottom {
  margin-bottom: 10px !important;
}

.add-bottom {
  margin-bottom: 20px !important;
}

.right {
  float: right;
  position: relative;
}
.left {
  float: left;
}
.inline {
  display: inline;
}
.center {
  text-align: center;
}
.relative {
  position: relative;
}
.align_right {
  text-align: right;
}
.align_left {
  text-align: left;
}
.text-align--center {
  text-align: center;
}
.text-align--left {
  text-align: left;
}
.text-align--right {
  text-align: right;
}
p.warning {
  text-align: center;
  font-weight: bold;
}

.warning--quantity {
  clear: both;
  display: inline-block;
  margin-top: 15px;
  width: auto;
  text-align: left;
}

.large--right {
  @include respond-to('medium-up') {
    float: right;
    position: relative;
  }
}

.visuallyhidden {
  position: absolute !important;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.mini-cart__item p.warning {
  margin-top: 5px;
  text-align: left;
}
.container div.mobile_only,
span.mobile_only,
.mobile_only {
  display: none;
}

.no_border {
  border: none !important;
}

.extra_padding {
  padding-top: 4px;
}

div.hidden {
  display: none;
}

div.is-absolute {
  position: absolute !important;
  top: 0;
  margin-top: 0;
}

.full-width-image {
  width: 100%;
}

#instantclick-bar {
  z-index: 100000;
  height: 4px;
}

.items_left {
  margin: 0 0 15px;
  line-height: 1.6em;
  font-size: normal;
  font-style: italic;
  color: $vm-was-price-color;
}

.cart .paypal-button + .paypal-button {
  display: none;
}

.shopify-reviews.reviewsVisibility--false {
  display: none;
}

div.container {
  margin: 0 auto;
}

.featured_text {
  font-size: 18px;
  line-height: 36px;
}

.large_text {
  font-size: 28px;
  line-height: 50px;
}

// Page content
.container.content {
  margin-bottom: $vm-content-section-padding;
}

.featured_content,
.featured_content h1,
.featured_content h2,
.featured_content h3,
.featured_content h4,
.featured_content h5,
.featured_content h6 {
  // color: {{ settings.shop_home_page_content_text_color }};
}

.featured_content {
  // background-color: {{ settings.shop_home_page_content_bg_color }};
}

.nav_arrows {
  float: right;
}

.sku {
  margin: 0;
}

#category {
  width: 100%;
}

/* Currency / language switcher in header */

#header__selector-form {
  .icon-arrow-down {
    font-size: 9px;
  }

  .disclosure__toggle {
    background-color: transparent;
    border: none;
    position: relative;
    padding: 0 0 0 16px;
    // letter-spacing: {{ settings.top_bar_letter_spacing }}px;

    &:hover,
    &:focus {
      background-color: transparent;
    }
  }

  .disclosure__list-wrap {
    border: none;
    bottom: initial;
    position: absolute;
    top: 100%;

    .disclosure-list {
      list-style: none;
    }
  }

  .disclosure-list__item {
    display: block;
  }

  button.disclosure__button {
    // letter-spacing: {{ settings.top_bar_letter_spacing }}px;
  }

  .currency-preview {
    position: relative;

    select.currencies {
      background-image: none;
      z-index: 1000;
    }

    .icon-down-arrow {
      position: absolute;
      top: 50%;
      right: 10px;
      // color: {{ settings.top_bar_color }};
      -ms-transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      z-index: 999;
      &:hover {
        color: inherit;
      }
    }

    &:hover {
      .icon-down-arrow,
      select.currencies {
        // color: {{ settings.top_bar_color_hover }};
      }
    }
  }
}
