/* General - Misc
================================================== */

// TODO - ???
.feature img {
  position: relative;
  top: 7px;
  margin-right: 5px;
  width: 25px;
  height: 25px;
}

.onboard-text {
  margin: 0;
}

.page-divider {
  opacity: 0;
  border-top: 0;
}

.active-divider {
  opacity: 1;
}

.feature p {
  font-size: smaller;
}

.thumbnail .spr-badge-caption {
  display: none;
}

div#shopry-review-photos a {
  display: block !important;
}

div.container.bottom-fix {
  padding-bottom: 0px;
}

#target {
  padding: 20px;
  text-align: center;
}

.items_left {
  color: $vm-was-price-color;
}

.quantity_label {
  display: inline;
  font-size: smaller;
}

.remove_item a {
  font-size: smaller;
}

input.quantity {
  width: 48px;
  display: inline;
  margin-bottom: 0;
  padding: 8px 5px;
}

ul.cart_items {
  padding: 0;
  margin: 0;
}

.cart_content li.mini-cart__item {
  padding: 0 0 15px 0;
  margin-bottom: 15px;
  border-bottom: 1px solid $vm-border-color;
}

.cart_content .notification-discount {
  color: $vm-sale-price-color;
  padding: 15px 0 0;
  margin: 0;
  line-height: 1;
}

li.mini-cart__item a,
li.mini-cart__item a:active,
#header li.mini-cart__item a,
#header li.mini-cart__item a:active {
  position: relative;
  font-size: inherit;
  text-align: left;
}

.cart_image {
  float: left;
  width: 100%;
  max-width: 100px;
  min-width: 100px;
  text-align: center;
  padding-right: 20px;

  img {
    display: block;
  }

  @include respond-to("small-down") {
    padding-right: 10px;
  }
}

a.continue {
  text-align: right;
  font-size: 32px;
  margin-right: 15px !important;
  padding: 10px 0 5px 0 !important;
  opacity: 0.8;

  &:hover {
    opacity: 1;
  }
}

.empty_cart {
  text-align: center;
  font-size: 18px;
  padding: 40px 0 25px 0;
  color: inherit;
}

#shipping-calculator.columns {
  float: none;
}

.cart__blocks {
  margin-top: 30px;
}

input[type="button"].get-rates.action_button {
  margin-top: 0;
}

#get-rates-submit {
  margin-top: -1px;
}
#customer_login {
  margin-bottom: 2px;
}
.multi_select {
  display: none;
}

.allow-clickthrough {
  pointer-events: none !important;
}

.hidden {
  display: none;
}

.hidden--mobile {
  @include respond-to("small-down") {
    display: none !important; /* Force on mobile devices */
  }
}

.remove {
  // color: {{ settings.regular_color }};
  color: $vm-color-sea-green;
}

.relative {
  position: relative;
}

.half-bottom {
  margin-bottom: 10px !important;
}

.add-bottom {
  margin-bottom: 20px !important;
}

.right {
  float: right;
  position: relative;
}
.left {
  float: left;
}
.inline {
  display: inline;
}
.center {
  text-align: center;
}
.relative {
  position: relative;
}
.align_right {
  text-align: right;
}
.align_left {
  text-align: left;
}

.text-align--center {
  text-align: center;
}

.text-align--left {
  text-align: left;
}

.text-align--right {
  text-align: right;
}

p.warning {
  text-align: center;
  font-weight: bold;
}

.warning--quantity {
  clear: both;
  display: inline-block;
  margin-top: 15px;
  width: auto;
  text-align: left;
}

.large--right {
  @include respond-to("medium-up") {
    float: right;
    position: relative;
  }
}

.visuallyhidden {
  position: absolute !important;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.mini-cart__item p.warning {
  margin-top: 5px;
  text-align: left;
}
.container div.mobile_only,
span.mobile_only,
.mobile_only {
  display: none;
}

.no_border {
  border: none !important;
}

.extra_padding {
  padding-top: 4px;
}

div.hidden {
  display: none;
}

div.is-absolute {
  position: absolute !important;
  top: 0;
  margin-top: 0;
}

.full-width-image {
  width: 100%;
}

#instantclick-bar {
  z-index: 100000;
  height: 4px;
}

.items_left {
  margin: 0 0 15px;
  line-height: 1.6em;
  font-size: normal;
  font-style: italic;
  color: $vm-was-price-color;
}

.cart .paypal-button + .paypal-button {
  display: none;
}

.shopify-reviews.reviewsVisibility--false {
  display: none;
}

.featured_text {
  font-size: 18px;
  line-height: 36px;
}

.large_text {
  font-size: 28px;
  line-height: 50px;
}

// Page content
.container.content {
  margin-bottom: $vm-content-section-padding;
}

.nav_arrows {
  float: right;
}

.sku {
  margin: 0;
}

#category {
  width: 100%;
}

/* Currency / language switcher in header */

#header__selector-form {
  .icon-arrow-down {
    font-size: 9px;
  }

  .disclosure__toggle {
    background-color: transparent;
    border: none;
    position: relative;
    padding: 0 0 0 16px;
    // letter-spacing: {{ settings.top_bar_letter_spacing }}px;

    &:hover,
    &:focus {
      background-color: transparent;
    }
  }

  .disclosure__list-wrap {
    border: none;
    bottom: initial;
    position: absolute;
    top: 100%;

    .disclosure-list {
      list-style: none;
    }
  }

  .disclosure-list__item {
    display: block;
  }

  button.disclosure__button {
    // letter-spacing: {{ settings.top_bar_letter_spacing }}px;
  }

  .currency-preview {
    position: relative;

    select.currencies {
      background-image: none;
      z-index: 1000;
    }

    .icon-down-arrow {
      position: absolute;
      top: 50%;
      right: 10px;
      // color: {{ settings.top_bar_color }};
      -ms-transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      z-index: 999;
      &:hover {
        color: inherit;
      }
    }

    &:hover {
      .icon-down-arrow,
      select.currencies {
        // color: {{ settings.top_bar_color_hover }};
      }
    }
  }
}

/* #Custom Styles
================================================== */

.left-none {
  left: 0 !important;
}

.color .one-half.grid__item {
  padding: 20px 50px;
}

.newsletter-text p {
  font-size: 13px;
}

.newsletter_section h2 {
  font-size: 33px;
  text-transform: none !important;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .color .one-half {
    width: 100% !important;
  }

  .color .one-half.grid__item {
    padding: 0;
  }

  .newsletter_section h2 {
    font-size: 20px;
    text-align: center;
  }

  .newsletter_section .newsletter-text p {
    text-align: center;
  }
  p.close {
    right: 6px !important;
  }
  .news .one-half {
    width: 100% !important;
  }
  .mobile_padding {
    padding-bottom: 0;
  }
}

// TODO - ???
@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
  .color .one-half {
    width: 75%;
    margin: 0 auto;
    float: none;
    display: block;
  }
  .color .one-half.grid__item {
    padding: 10px;
  }
  p.close {
    right: 6px !important;
  }
  .news .one-half {
    width: 75%;
    margin: 0 auto;
    float: none;
    display: block;
  }
  .news h2 {
    font-size: 33px;
    text-transform: none !important;
  }
  .news .newsletter-text p {
    font-size: 17px;
  }
  .mobile_padding {
    padding-bottom: 0;
  }
}

// TODO - ??? what is this
@media only screen and (min-device-width: 1024px) and (max-device-width: 1100px) {
  .color .input-row {
    width: 85%;
  }
  p.close {
    right: 6px !important;
  }
  .news h2 {
    font-size: 23px;
  }
  .mobile_padding {
    padding-bottom: 0;
  }
}
.news {
  width: 100% !important;
}
.newsletter-section {
  position: fixed;
  z-index: 99;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}
div#shopify-section-footer {
  z-index: 999;
  width: 100%;
  float: left;
  position: relative;
}
p.close {
  position: absolute;
  right: 6px;
  top: -2px;
  cursor: pointer;
}
.stacktable {
  width: 100%;
}
.st-head-row {
  padding-top: 1em;
}
.st-head-row.st-head-row-main {
  font-size: 1.5em;
  padding-top: 0;
}
.st-key {
  width: 49%;
  text-align: right;
  padding-right: 1%;
}
.st-val {
  width: 49%;
  padding-left: 1%;
}
.stacktable.large-only {
  display: table;
}
.stacktable.small-only {
  display: none;
}

.authorsec {
  padding: 30px 0;
}
.authorsec h5.title5new1 {
  border-bottom: none;
  font-weight: 900;
  font-size: 22px;
}

.authorlist {
}
.authorlist .listingdiv h4 {
  color: #686767;
  font-size: 18px;
  font-weight: 900;
}
.authorlist .listingdiv .img img {
  width: auto;
  max-width: 100%;
}
.authorlist {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.authorlist .listingdiv {
  width: 23%;
  margin-right: 12px;
}
.authorlist .listingdiv:nth-child(4n) {
  margin-right: 0;
}

.listingdiv .side {
  color: #dfd3c3;
}

@media (max-width: 800px) {
  .stacktable.large-only {
    display: none;
  }
  .stacktable.small-only {
    display: table;
  }
}

@media (max-width: 568px) {
  .newsletter_section {
    max-height: 75vh;
    position: fixed;
    bottom: 0;
  }
  .newsletter_section .close {
    font-size: 30px;
  }
  .newsletter_section h2 {
    font-size: 1.35em !important;
    text-align: center;
  }
  .newsletter_section .one-half.grid__item {
    width: 100%;
    padding: 4vw;
  }
}

.link-promo {
  z-index: 1;
}

.sold-out {
  font-weight: 700;
}

@media (max-width: 767px) {
  .gallerynewsec h2.title {
    font-size: 20px;
  }
  .gallerynewsec {
    font-size: 15px;
  }
  .gallerynewsec p {
    margin: 0 0 15px;
  }
  .gallerylist {
    flex-wrap: wrap;
  }
  .gallerylist li {
    width: 100%;
    margin: 0 0 20px;
  }
  .gallerylist li:last-child {
    margin: 0;
  }
}

.new {
  position: relative;
  display: inline;
  padding: 5px;
  border-radius: 2px;
  font-size: 12px;
}

#estimated-shipping,
.excluding_tax {
  display: block;
}

.cart_page_image {
  text-align: center;
  margin: 1rem 0 2rem;
  display: block;
  border-width: 0 !important;

  img {
    width: 100%;
    display: block;
  }
}

.cart_content_info {
  padding: 0;

  h5 {
    padding: 0;
    margin-bottom: 10px;
    margin-top: 0;
  }

  .price_total {
    clear: both;
    padding: 0;
    margin-bottom: 20px;
    font-size: 20px;
  }
}

.subtotal {
  padding-top: 20px;
  padding-left: 40px;

  @include respond-to("medium-down") {
    padding-left: 0;
  }
}

.continue-shopping {
  display: block;
  text-align: center;
  margin-top: 1rem;
}

.subtotal_amount {
  font-size: 1.4em;
  font-weight: bold;
}

button.update {
  width: 30%;
  float: right;
}

.size_chart {
  float: right;
  padding-top: 5px;
}

#size-chart {
  display: none;
}

#size-chart h5 {
  padding: 15px 0 0 0;
  text-align: center;
}

.price_total_text {
  font-weight: normal;
  display: none;
}

.was_price {
  text-decoration: line-through;
  color: $vm-was-price-color;
  text-shadow: none;
  font-weight: normal;
  opacity: 0.7;
}

.cart_savings {
  text-align: left;
}

.savings {
  // font-size: {{ settings.regular_font_size }}px;
  display: block;
}
