/* General - Tables
================================================== */

// TODO- put this elseehwere
table tr.order_summary td.label {
  text-align: right;
}

table {
  width: 100%;
  margin-bottom: get-vm-spacer(1);

  td {
    text-align: left;
    padding: get-vm-spacer(0.5);
  }

  tr {
    &:nth-child(odd) {
      background-color: $vm-color-cream;
    }
  }

  thead {
    font-weight: 600;

    tr:nth-child(odd) {
      background-color: $vm-color-white;
    }
  }
}

table.table--blank {
  th,
  td {
    border-right: 0 none;
    border-left: 0 none;
  }

  tr {
    border-top: 0 none;
    border-bottom: 0 none;
  }
}
