.header-mobile {
  position: relative;
  z-index: $vm-z-index-header-content;
  background-color: $vm-color-white;

  .header-mobile__navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 get-vm-spacer(1);
    height: get-vm-spacer(3);
  }

  .header-mobile__logo-wrapper {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header-mobile__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $vm-color-sea-green;

    svg {
      width: 30px;
      height: 30px;
    }

    // img {
    //   max-height: get-vm-spacer(2);
    //   width: auto;
    // }
  }

  .header-mobile__nav {
    display: flex;
    width: 45%;

    &.header-mobile__nav--right {
      justify-content: flex-end;
    }
  }

  .header-mobile__nav-button {
    display: flex;
    // padding: get-vm-spacer(1);
    padding: 0;
    width: 44px;
    height: 44px;
    background-color: transparent;
    color: $vm-color-sea-green;
    fill: $vm-color-sea-green;

    .cart_count {
      margin-left: 2px;
    }

    &:active {
      background-color: $vm-color-sand;
    }
  }

  .header-mobile__hamburger-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 44px;

    &:hover {
      background-color: $vm-color-cream;
    }

    .header-mobile__hamburger {
      // display: flex;
      // align-items: center;
      // justify-content: center;
      // flex-direction: column;
      // width: get-vm-spacer(2);
      // height: get-vm-spacer(2);
      flex-grow: 1;
      flex-shrink: 0;
      padding: 0 10px;
      // transition: all 0.2s;

      span {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 1;
        display: block;
        height: 2px;
        width: 100%;
        margin: 5px 0;
        background-color: $vm-color-sea-green;
      }
    }
  }

  @include respond-to("large-up") {
    display: none;
  }
}
