.header-mobile {
  position: relative;
  z-index: $vm-z-index-header-content;
  background-color: $vm-color-white;

  .header-mobile__navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 get-vm-spacer(1);
    height: get-vm-spacer(4);
    
    @include respond-to("medium-down") {
      height: get-vm-spacer(3);
    }
  }

  .header-mobile__logo-wrapper {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header-mobile__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $vm-color-sea-green;

    svg {
      width: 30px;
      height: 30px;
    }
  }

  .header-mobile__nav {
    display: flex;
    width: 45%;

    &.header-mobile__nav--right {
      justify-content: flex-end;
    }
  }

  .header-mobile__nav-button {
    display: flex;
    padding: 0;
    width: 44px;
    height: 44px;
    background-color: transparent;
    border: 2px solid transparent;
    color: $vm-color-sea-green;
    fill: $vm-color-sea-green;
    transition: all 0.2s;
    
    .vm-icon.vm-icon--bag {
      margin-left: -6px;
    }

    .cart_count {
      position: relative;
      top: 1px;
    }
    
    &:hover,
    &:active {
      background-color: $vm-color-cream;
      // color: $vm-color-sand;
      // fill: $vm-color-sand;
    }
    
    &:active {      
      border-color: $vm-color-sea-green;
    }
  }

  .header-mobile__hamburger-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 44px;

    &:hover {
      background-color: $vm-color-cream;
    }

    .header-mobile__hamburger {
      flex-grow: 1;
      flex-shrink: 0;
      padding: 0 10px;

      span {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 1;
        display: block;
        height: 2px;
        width: 100%;
        margin: 5px 0;
        background-color: $vm-color-sea-green;
      }
    }
  }

  @include respond-to("large-up") {
    display: none;
  }
}
