.header-mobile {
  background-color: $vm-color-white;

  .header-mobile__navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header-mobile__logo {
    display: block;
    padding: get-vm-spacer(1);

    img {
      max-height: get-vm-spacer(2);
      width: auto;
    }
  }

  .header-mobile__nav {
    display: flex;
  }

  .header-mobile__nav-button {
    display: flex;
    padding: get-vm-spacer(1);
    background-color: transparent;
    color: $vm-color-sea-green;
    fill: $vm-color-sea-green;

    &:active {
      background-color: $vm-color-sand;
    }
  }

  .header-mobile__hamburger-button {
    .header-mobile__hamburger {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: get-vm-spacer(2);
      height: get-vm-spacer(2);
      transition: all 0.2s;

      span {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 1;
        display: block;
        height: 2px;
        width: 100%;
        margin: 3px 0;
        background-color: $vm-color-sea-green;
        transition: all 0.2s;
      }
    }

    &.is-open {
      .header-mobile__hamburger {
      }
    }
  }

  @include respond-to("medium-up") {
    display: none;
  }
}
