.mega-menu-mobile {
  display: block;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  img {
    max-width: 100%;
  }

  a {
    display: block;
    // padding: 5px 0;
    color: $vm-color-black;

    &:hover {
      color: $vm-link-hover-color;
    }
  }

  @include respond-to("large-up") {
    display: none;
  }
}

.mobile-menu-accordion-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  color: $vm-color-black;
  fill: $vm-color-black;
  width: 100%;
  text-align: left;
  padding: get-vm-spacer(1.5) get-vm-spacer(1);
  border-bottom: 1px solid rgba($vm-color-black, 0.4);

  // TODO - don't break accessibility
  &:active,
  &:focus {
    background: $vm-color-cream;
    color: $vm-color-black;
    border-bottom: 1px solid rgba($vm-color-black, 0.4);
  }
}

.mobile-menu-accordion-content {
  display: none;
  padding: get-vm-spacer(1) 0;

  &.is-open {
    display: block;
  }
}

.mega-menu-mobile__block {
  margin-bottom: get-vm-spacer(2);

  &:last-child {
    margin-bottom: 0;
  }
}

.mobile-menu-list-item--nav-link-list {
  li {
    @include vm-paragraph-3();
    margin: get-vm-spacer(0.5) 0;
  }
}

.mobile-menu-list-item--image {
  a {
    display: flex;
  }

  .mobile-menu-list-item--image__image-wrapper {
    aspect-ratio: 1/1;
    overflow: hidden;
    width: 50%;
    flex-shrink: 0;
    flex-grow: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .mobile-menu-list-item--image__text-wrapper {
    padding-top: get-vm-spacer(1);
    padding-left: get-vm-spacer(1);
  }
}
