/* typography/blockquote
================================================== */

blockquote,
blockquote p {
  @include vm-paragraph-2();
  font-style: italic;
}

blockquote {
  border: 0;
  background: $vm-color-cream;
  padding: get-vm-spacer(3);
  margin: 0 0 get-vm-spacer(2);

  p:last-child {
    margin-bottom: 0;
  }

  cite {
    @include vm-paragraph-3();
    display: block;

    a,
    a:visited {
      color: #555;
    }

    &:before {
      content: "\2014 \0020";
    }
  }

  @include respond-to("medium-down") {
    padding: get-vm-spacer(1);
    margin: 0 0 get-vm-spacer(1);
  }
}
