/* general/typography/page-heading
================================================== */

.page-heading {
  margin: get-vm-spacer(5) 0;

  &.page-heading--with-breadcrumbs {
    margin: 0 0 get-vm-spacer(3);
  }

  &.page-heading--no-padding {
    margin: 0;
  }

  &.page-heading--center {
    text-align: center;
  }

  @include respond-to("medium-down") {
    margin: get-vm-spacer(3) 0;

    &.page-heading--with-breadcrumbs {
      margin: 0 0 get-vm-spacer(3);
    }
  }
}

.page-heading__title {
  padding: 0;
  margin: 0;
}
