/* Sections
  ==============================================================================*/

.content-section {
  padding: $vm-content-section-padding 0;

  // Compensate for the sticky nav
  .content-section__anchor {
    position: relative;
    top: -$vm-content-section-padding;
  }


  @include respond-to('large-up') {
    &.content-section--is-full-width {
      .container {
        max-width: none !important;
        padding: 0;
      }
    }
  }

  @include respond-to('medium-down') {
    padding: $vm-content-section-mobile-padding 0;

    .content-section__anchor {
      position: relative;
      top: -$vm-content-section-mobile-padding;
    }
  }

  &.content-section--2x-padding {
    padding: ($vm-content-section-padding * 2) 0;

    @include respond-to('medium-down') {
      padding: ($vm-content-section-mobile-padding * 2) 0;
    }
  }

  &.content-section--2x-padding-top {
    padding-top: ($vm-content-section-padding * 2);

    @include respond-to('medium-down') {
      padding-top: ($vm-content-section-mobile-padding * 2);
    }
  }

  &.content-section--2x-padding-bottom {
    padding-bottom: ($vm-content-section-padding * 2);

    @include respond-to('medium-down') {
      padding-bottom: ($vm-content-section-mobile-padding * 2);
    }
  }
}

.content-section__heading {
  display: flex;
  flex-direction: column;

  .content-section__heading__title-link {
    position: relative;
    // Slight adjustment to bring up to the actual title baseline
    bottom: 1px;

    color: $vm-body-text-color;

    .icon-right-arrow {
      font-size: 13px;
    }

    &:hover {
      color: $vm-link-hover-color;
    }
  }

  &.content-section__heading--align-center {
    text-align: center;
    align-items: center;
    justify-content: center;

    .content-section__heading__title-wrapper {
      width: auto;
    }
  }

  @include respond-to('medium-down') {
    &.content-section__heading--mobile-align-left {
      text-align: left;
      align-items: baseline;
      justify-content: space-between;
    }

    &.content-section__heading--mobile-align-center {
      text-align: center;
      align-items: center;
      justify-content: center;
    }
  }
}

.content-section__heading__title-wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: get-vm-spacer(2);
  width: 100%;

  @include respond-to('medium-down') {
    margin-bottom: get-vm-spacer(1);

    .content-section__heading__title-link {
      @include vm-subheading-3();
    }
  }
}

.content-section__heading__title {
  margin-bottom: 0;

  &.heading--with-accent {
    margin-bottom: get-vm-spacer(2);
  }

  &.content-section__heading__title--align-center {
    text-align: center;
  }

  @include respond-to('medium-down') {
    &.content-section__heading__title--align-left {
      text-align: left;
    }

    &.content-section__heading__title--align-center {
      text-align: center;
    }
  }
}

.content-section__heading__description {
  margin-bottom: get-vm-spacer(2);
}
