.vm-drawer {
  display: block;
  background-color: #fff;
  // transform: translateX(100%);
  transition: all 0.2s;
  position: fixed;
  top: 4rem;
  // right: 0;
  width: 75%;
  bottom: 0;
  overflow-y: scroll;
  padding: get-vm-spacer(1);

  // TODO - move this into somewhere else
  //        'accordion' or something
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  &.vm-drawer--left {
    left: 0;
    transform: translateX(-100%);
  }

  &.vm-drawer--right {
    right: 0;
    transform: translateX(100%);
  }

  &.is-open {
    transform: translateX(0);
  }
}
