$vm-drawer-desktop-width: 450px;
$vm-drawer-mobile-width: 80%;

@mixin vm-header-drawer() {
  display: block;
  background-color: #fff;
  position: fixed;
  top: 0;
  width: $vm-drawer-desktop-width;
  bottom: 0;
  overflow-y: scroll;
  padding: get-vm-spacer(1) get-vm-spacer(2);
  z-index: $vm-z-index-header-drawer;

  .vm-header-drawer__header {
    display: flex;
    padding: 0 0 get-vm-spacer(1);
    border-bottom: 1px solid $vm-color-black;
  }

  .vm-header-drawer__header__close-button {
    $size: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 10px;
    width: $size;
    height: $size;
    color: $vm-color-black;
    background: #fff;

    &:hover {
      background: $vm-color-cream;
      color: $vm-color-black;
    }
  }

  &.vm-header-drawer--left {
    left: 0;
    transform: translateX(-100%);
  }

  &.vm-header-drawer--right {
    right: 0;
    transform: translateX(100%);
  }

  &.is-active {
    transition: all 0.4s;
  }

  &.is-open {
    transform: translateX(0);
  }

  @include respond-to("medium-down") {
    padding: get-vm-spacer(1);
    width: $vm-drawer-mobile-width;
  }
}

.vm-header-drawer {
  &:not(.vm-mobile-only-drawer) {
    @include vm-header-drawer();
  }

  &.vm-mobile-only-drawer {
    .vm-header-drawer__header {
      display: none;
    }

    @include respond-to("large-down") {
      @include vm-header-drawer();

      .vm-header-drawer__header {
        display: block;
      }
    }
  }

  &.vm-header-drawer--right {
    .vm-header-drawer__header {
      align-items: flex-end;
    }
  }
}
