@mixin vm-header-dropdown() {
  position: absolute;
  width: 100%;
  z-index: $vm-z-index-header-dropdown;
  display: none;
  background-color: #fff;
  @include vm-dropdown-menu-boxshadow();
  padding: get-vm-spacer(1) get-vm-spacer(2) get-vm-spacer(2);

  img {
    max-width: 100%;
  }

  &.is-open {
    display: block;
  }

  @include respond-to("medium-down") {
    padding: get-vm-spacer(1);
  }
}

.vm-header-dropdown {
  &:not(.vm-desktop-only-header-dropdown) {
    @include vm-header-dropdown();
  }

  &.vm-desktop-only-header-dropdown {
    @include respond-to("medium-up") {
      @include vm-header-dropdown();
    }
  }
}

// TODO - move to mega-menu
.header-dropdown__content {
  display: flex;
  padding: get-vm-spacer(2);
  // align-items: center;
  justify-content: center;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  li {
    display: block;
    margin-bottom: get-vm-spacer(0.5);
  }

  a {
    color: $vm-color-sea-green;

    &:hover {
      color: $vm-color-sand;
    }
  }
}

.header-dropdown__content-block {
  display: flex;
  padding: get-vm-spacer(2);
  // align-items: center;
  justify-content: center;
}

.header-dropdown__column {
  padding-right: 0 get-vm-spacer(1);
  flex-grow: 0;
  flex-shrink: 0;

  &.header-dropdown__column--span-1 {
    flex-basis: 250px;
  }
  
  &.header-dropdown__column--span-2 {
    flex-basis: 500px;
  }
}
