@mixin vm-header-dropdown() {
  position: absolute;
  width: 100%;
  z-index: $vm-z-index-header-dropdown;
  display: none;
  background-color: #fff;
  @include vm-dropdown-menu-boxshadow();
  padding: get-vm-spacer(1) get-vm-spacer(2) get-vm-spacer(2);

  img {
    max-width: 100%;
  }

  &.is-open {
    display: block;
  }

  @include respond-to("medium-down") {
    padding: get-vm-spacer(1);
  }
}

.vm-header-dropdown {
  &:not(.vm-desktop-only-header-dropdown) {
    @include vm-header-dropdown();
  }

  &.vm-desktop-only-header-dropdown {
    @include respond-to("medium-up") {
      @include vm-header-dropdown();
    }
  }
}

// TODO - move to mega-menu
.header-dropdown__content {
  padding: get-vm-spacer(2);

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  li {
    display: block;
    margin-bottom: get-vm-spacer(0.5);
  }

  a {
    color: $vm-color-black;

    &:hover {
      color: $vm-link-hover-color;
    }
  }
}

.header-dropdown__content-block {
  display: flex;
  padding: get-vm-spacer(2);
  // align-items: center;
  justify-content: center;
}

.header-dropdown__column {
  // padding: 0 get-vm-spacer(1);
  // border-right: 1px solid $vm-color-black;
  padding-left: get-vm-spacer(1.5);
  padding-right: get-vm-spacer(1.5);

  &.header-dropdown__column--has-border {
    border-right: 1px solid rgba($vm-color-black, 0.2);
  }
}

.header-dropdown__column-inner {
  flex-grow: 0;
  flex-shrink: 0;
}
