.header__dropdown-container {
  display: none;
  background-color: #fff;

  img {
    max-width: 100%;
  }

  &.is-active {
    display: block;
  }
}

.header__dropdown {
  position: absolute;
  width: 100%;
  z-index: 1000;
  @include vm-dropdown-menu-boxshadow();
  transition: all 0.3s linear;
  animation: fadeIn 0.3s linear none;
}

.header-dropdown__content {
  padding: get-vm-spacer(2);
  display: flex;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
}

.header-dropdown__column {
  padding: 0 get-vm-spacer(2);
}

.header__search-form {
  .search-terms {
    $height: 50px;
    height: $height;
    min-height: $height;
    border: 0 none;
    border-bottom: 1px solid $vm-border-color;

    &:focus,
    &:active {
      border-bottom: 1px solid $vm-color-sand;
    }
  }

  @include respond-to("medium-down") {
    .search__results {
      margin-top: 30px;
    }
  }
}
