.header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  // width: 16%;
  height: 55px;
  // padding: 0 1%;
  max-width: 200px;

  a {
    display: block;
  }

  img {
    max-height: 100%;
    max-width: 100%;
  }
}
