// TODO - put in head/desktop/_nav
.header-desktop__nav {
  display: block;
  padding: 0;
  margin: 0 get-vm-spacer(1);

  ul {
    padding: 0;
    margin: 0;
  }

  li {
    display: inline-block;
    margin: 0;
    border: 0;
    position: relative;
    vertical-align: top;
    padding-right: 10px;
  }

  .vm-header-dropdown-link,
  .header-desktop__nav-link {
    $navbar-padding: get-vm-spacer(2);
    @include vm-paragraph-3();
    display: block;
    position: relative;
    color: $vm-navbar-text-color;
    padding-top: $navbar-padding;
    padding-bottom: $navbar-padding;
    margin-bottom: 0;
    outline: 0;
    transition: color 0.1s linear;

    .icon-down-arrow {
      position: relative;
      top: 2px;
      font-size: 12px;
    }

    .header-desktop__nav-link__dropdown-arrow {
      display: inline-block;
      opacity: 0;
    }

    &.is-dropdown-button {
      .header-desktop__nav-link__dropdown-arrow {
        opacity: 1;
      }
    }
  }
}
