/* Definitions - Typography
================================================== */

// TODO - make separate entrypoints for each page group
@import 'pages/_blog.scss';
@import 'pages/_product.scss';
@import 'pages/_product-list.scss';
@import 'pages/_faq.scss';
@import 'pages/_team.scss';

.page-banner .container.content {
  margin-top: $vm-content-section-padding;
  margin-bottom: $vm-content-section-padding;
}

.page-narrow .container.content {
  margin-bottom: $vm-content-section-padding;
}
