/* utilities/colors
================================================== */

.u-background-color-black {
  background-color: $vm-color-black !important;
}

.u-background-color-plum {
  background-color: $vm-color-plum !important;
}

.u-background-color-sand {
  background-color: $vm-color-sand !important;
}

.u-background-color-cream {
  background-color: $vm-color-cream !important;
}

.u-background-color-white {
  background-color: #fff !important;
}

.u-text-color-black {
  color: $vm-color-plum !important;
}

.u-text-color-plum {
  color: $vm-color-plum !important;
}

.u-text-color-sand {
  color: $vm-color-sand !important;
}

.u-text-color-cream {
  color: $vm-color-cream !important;
}

.u-text-color-white {
  color: #fff !important;
}
