/* utilities/visibility
================================================== */

.u-hidden {
  display: none;
}

.u-hidden-medium-down {
  @include respond-to("medium-down") {
    display: none;
  }
}

.u-hidden-medium-up {
  @include respond-to("medium-up") {
    display: none;
  }
}

.u-hidden-large-up {
  @include respond-to("large-up") {
    display: none;
  }
}
