/* Eternity Bracelets Page
================================================== */

@use "sass:math";

@import '../_variables.scss';
@import '../_mixins.scss';

.page-eternity-bracelets {
  .row {
    display: flex;
    flex-direction: row;
    padding: 0 5rem;
    // TODO - make global
    margin-bottom: 0;
  }

  .column,
  .columns {
    flex-grow: 1;
  }

  @include respond-to('medium-down') {
    .row {
      padding: 0;
      flex-direction: column;

      &.row--mobile-flip {
        flex-direction: column-reverse;
      }
    }
  }
}

.eternity-bracelets__image-wrapper {
  display: flex;
  padding: 0 1rem 0;
  align-items: center;
  justify-content: center;

  @include respond-to('medium-down') {
    padding: 2rem 2rem 0;
  }
}

.eternity-bracelets__content-wrapper {
  padding: 2rem 1rem 0;

  @include respond-to('medium-down') {
    padding: 0;
  }
}

.content-section.content-section--eternity-bracelets-banner {
  padding-top: 0;

  .page-heading {
    // Compensate for the floating navbar
    text-align: center;
  }

  @include respond-to('medium-down') {
    padding-bottom: 0;

    .page-heading {
      padding: 7rem 0 3rem;
    }
  }
}

.eternity-bracelets__banner-row {
  height: 25rem;
  margin-bottom: $gutter;
  display: flex;
  align-items: flex-end;
  justify-content: stretch;

  &:last-child {
    margin-bottom: 0;
  }
}

.eternity-braclets__banner-image {
  display: flex;
  align-items: center;
  justify-content: center;

  @include respond-to('medium-down') {
    width: 100%;
    flex-basis: 100%;
    margin: 0;
  }

  &.eternity-braclets__banner-image--large {
    @include respond-to('medium-down') {
      display: none;
    }
  }

  &.eternity-braclets__banner-image--medium {
    padding-bottom: $gutter;
    margin-bottom: -3px;

    @include respond-to('medium-down') {
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }

  &.eternity-braclets__banner-image--small {
    margin-right: 20%;

    @include respond-to('medium-down') {
      display: none;
    }
  }
}

.eternity-bracelets__graphic-placeholder {
  background-color: $vm-color-plum;
  height: 15rem;
}

.eternity-bracelets__how-it-works__list {
  list-style: none;
  counter-reset: how-it-works-counter;
  padding-left: 3rem;

  li {
    position: relative;
    counter-increment: how-it-works-counter;
    margin-bottom: 2rem;

    &:before {
      content: counter(how-it-works-counter) '. ';
      position: absolute;
      left: -2rem;
      top: -3px;
      color: $vm-color-sand;
      font-size: 30px;
      font-family: $vm-font-orpheus;
      font-weight: bold;
      text-align: right;
    }
  }
}

.eternity-bracelets__chain-style-list {
  padding: 0 7rem;
  margin-top: 3rem;

  @include respond-to('medium-down') {
    padding: 0;
    margin: 3rem 0 2rem;
  }
}

.eternity-bracelets__chain-style {
  display: flex;
  margin-bottom: 0.5rem;

  .dots-spacer {
    flex-grow: 1;
    margin: 0 0.5rem 3px;
    border-bottom: 1px dotted rgba($vm-color-sea-green, 0.6);
  }

  h3,
  h4 {
    flex: 0 0 auto;
    margin: auto 0 0;
  }

  h3 {
    margin-bottom: -4px;
  }
}

// CTA
.content-section.content-section--eternity-bracelets-cta {
  text-align: center;
  padding-top: 0;

  @include respond-to('medium-down') {
    padding: 0 0 3rem;
  }
}

// FAQ
.content-section.content-section--eternity-bracelets-faq {
  background: $vm-color-cream;
}

.eternity-bracelets__faq-item {
  margin-bottom: 2rem;
}
