/* Eternity Bracelets Page
================================================== */

@use "sass:math";

@import '../_variables.scss';
@import '../_mixins.scss';

.eternity-bracelets__image-wrapper {
  background-color: red;
  display: flex;
  padding: 0 2rem 0;
  align-items: center;
  justify-content: center;

  @include respond-to('medium-down') {
    padding: 2rem 2rem 0;
  }
}

.eternity-bracelets__content-wrapper {
  padding: 2rem;

  @include respond-to('medium-down') {
    padding: 0;
  }
}

.content-section.content-section--eternity-bracelets-banner {
  padding-top: 0;

  .page-heading {
    // Compensate for the floating navbar
    text-align: center;
  }

  @include respond-to('medium-down') {
    padding-bottom: 0;

    .page-heading {
      padding: 7rem 0 3rem;
    }
  }
}

.eternity-bracelets__banner-row {
  height: 25rem;
  margin-bottom: $gutter;
  display: flex;
  align-items: flex-end;
  justify-content: stretch;

  &:last-child {
    margin-bottom: 0;
  }
}

.eternity-braclets__banner-image {
  display: flex;
  align-items: center;
  justify-content: center;

  @include respond-to('medium-down') {
    width: 100%;
    flex-basis: 100%;
    margin: 0;
  }

  &.eternity-braclets__banner-image--large {
    @include respond-to('medium-down') {
      display: none;
    }
  }

  &.eternity-braclets__banner-image--medium {
    padding-bottom: $gutter;
    margin-bottom: -3px;

    @include respond-to('medium-down') {
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }

  &.eternity-braclets__banner-image--small {
    margin-right: 20%;

    @include respond-to('medium-down') {
      display: none;
    }
  }
}

// CTA
.content-section.content-section--eternity-bracelets-cta {
  text-align: center;

  @include respond-to('medium-down') {
    padding: 0 0 3rem;
  }
}
