/* Styleguide
  ==============================================================================*/

@import '../_variables.scss';
@import '../_mixins.scss';

.vm-styleguide {
  max-width: 700px;
  margin: 0 auto;
}

.vm-styleguide__font-example {
  font-size: $vm-heading-2-font-size;
  line-height: $vm-heading-2-line-height;

  &.vm-styleguide__font-example--poppins {
    font-family: $vm-font-poppins;
  }

  &.vm-styleguide__font-example--orpheus {
    font-family: $vm-font-orpheus;
    font-weight: 700;
  }
}

.vm-styleguide__banner {
  padding: get-vm-spacer(5) 0;
  background-color: $vm-color-plum;
  color: $vm-color-white;

  .page-heading {
    margin-top: 0;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;

    ul {
      padding: get-vm-spacer(2) 0 get-vm-spacer(2) get-vm-spacer(4);
    }

    a {
      @include vm-heading-3();
      position: relative;
      color: $vm-color-white;
      padding: 0 0.2rem;
      transition: all 0.2s;

      &:hover {
        opacity: 0.6;
      }

      sup {
        position: absolute;
        top: 30%;
        left: -2.2rem;
        font-size: 0.6em;
        color: $vm-color-sand;
      }

      &.active {
        color: $vm-color-sand;
      }
    }
  }
}

.vm-styleguide__section-title,
.vm-styleguide__subsection-title {
  position: relative;

  sup {
    position: absolute;
    top: 50%;
    transform: translateY(-1rem);
    left: -4rem;
    color: $vm-color-sand;
  }

  // Compensate for the sticky nav
  .anchor {
    position: absolute;
    top: -5rem;
  }
}

.vm-styleguide__sidebar-contents {
  position: sticky;
  top: 10rem;
}

.vm-styleguide__subsection-list {
  list-style: none;
  padding-left: 0;

  a {
    @include vm-subheading-1();
  }

  sup {
    color: $vm-color-sand;
  }
}

.vm-styleguide__section-title {
  padding-bottom: get-vm-spacer(2);
  border-bottom: 7px solid $vm-color-cream;
  margin-bottom: get-vm-spacer(2);
}

.vm-styleguide__subsection-title {
  margin-top: get-vm-spacer(7);
  margin-bottom: get-vm-spacer(7);
}

.vm-styleguide__subsection {
  margin: get-vm-spacer(2) 0 get-vm-spacer(3);
}

.vm-styleguide__content-section-description {
  margin: get-vm-spacer(5) 0;
}

.vm-styleguide__subsection-row {
  margin-bottom: get-vm-spacer(2);
}

.vm-styleguide-content__subsection-row-subheading {
  color: $vm-color-sand;
}

.vm-styleguide__swatch {
  display: flex;
}

.vm-styleguide__swatch-color {
  padding: ($gutter * 0.5);
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 25%;
  width: 25%;

  h4 {
    margin: 1rem 0;
  }

  p {
    margin: 0;
  }

  .vm-styleguide__swatch-color__color-square {
    padding-top: 100%;
  }

  &.vm-styleguide__swatch-color--sea-green
    .vm-styleguide__swatch-color__color-square {
    background-color: $vm-color-sea-green;
  }

  &.vm-styleguide__swatch-color--plum
    .vm-styleguide__swatch-color__color-square {
    background-color: $vm-color-plum;
  }

  &.vm-styleguide__swatch-color--sand
    .vm-styleguide__swatch-color__color-square {
    background-color: $vm-color-sand;
  }

  &.vm-styleguide__swatch-color--cream
    .vm-styleguide__swatch-color__color-square {
    background-color: $vm-color-cream;
  }
}
