{% capture section_content %}
  <div class="container">
    <div class="row">
      <div class="one-whole columns">

        cta cards
      
      </div>
    </div>
  </div>
{% endcapture %}

{% render "content-section" with {
  content: section_content,
  color_region: section.settings.color_region
} %}

{% schema %}
{
  "name": "CTA Cards",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Title"
    },
    {
      "type": "select",
      "id": "color_region",
      "label": "Color Region",
      "options": [
        {
          "value": "light",
          "label": "Light"
        },
        {
          "value": "light-alt",
          "label": "Light - alternative"
        },
        {
          "value": "dark",
          "label": "Dark"
        },
        {
          "value": "dark-alt",
          "label": "Dark - alternative"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "cta_card",
      "name": "CTA Card",
      "settings": [
        {
           "type": "text",
           "id": "title",
           "label": "Title"
        }
      ]
    }
  ]
}
{% endschema %}
