<div class="content-section content-section--eternity-bracelets-how-it-works">
  <div class="container">
    <div class="row row--mobile-flip">

      <div class="six columns medium-down--one-whole">
        <div class="eternity-bracelets__image-wrapper">
          {{ section.settings.image | img_url: 'x500' | img_tag }}
        </div>
      </div>
  
      <div class="ten columns medium-down--one-whole">
        <div class="eternity-bracelets__content-wrapper">
          {% include "content-section.title" with {
            title: section.settings.title | escape,
          } %}
      
          <ol class="eternity-bracelets__how-it-works__list">
            {% for block in section.blocks %}
              <li>
                {{ block.settings.text }}
              </li>
            {% endfor %}
          </ol>
    
        </div>
      </div>

    </div>
  </div>
</div>

{% schema %}
{
  "name": "How it works",
  "settings": [
    {
      "id": "title",
      "label": "Title",
      "type": "text",
      "default": "How does it work?"
    },
    {
      "id": "image",
      "label": "Image",
      "type": "image_picker"
    }
  ],
  "blocks": [
    {
      "type": "how_it_works_item",
      "name": "How it works item",
      "settings": [
        {
          "id": "text",
          "label": "Text",
          "type": "textarea"
        }
      ]
    }
  ]
}
{% endschema %}