<div class="content-section content-section--eternity-bracelets-banner">
  <div class="container">
    <div class="row">
      <div class="sixteen columns">
        
        <div class="page-heading">
          <h1 class="page-heading__title page-heading__title--no-accent">
            {{ section.settings.title }}
          </h1>
        </div>

      </div>
    </div>
    
    <div class="row">
      <div class="eight columns medium-down--one-whole">
        <div class="eternity-braclets__banner-image eternity-braclets__banner-image--large">
          <img src="{{ section.settings.image_1 | img_url: 'x1200' }}" />
        </div>
        
      </div>
      
      <div class="eight columns medium-down--one-whole">
        <div class="eternity-braclets__banner-image eternity-braclets__banner-image--medium">
          <img src="{{ section.settings.image_2 | img_url: 'x900' }}"" />
        </div>

        <div class="eternity-braclets__banner-image eternity-braclets__banner-image--small">
          <img src="{{ section.settings.image_3 | img_url: 'x900' }}" />
        </div>
      </div>

    </div>
  </div>
</div>

{% schema %}
{
  "name": "Banner",
  "settings": [
    {
      "id": "title",
      "label": "Title",
      "type": "text",
      "default": "Eternity Bracelets"
    },
    {
      "id": "image_1",
      "label": "Image 1",
      "type": "image_picker"
    },
    {
      "id": "image_2",
      "label": "Image 2",
      "type": "image_picker"
    },
    {
      "id": "image_3",
      "label": "Image 3",
      "type": "image_picker"
    }
  ]
}
{% endschema %}