<div class="content-section content-section--eternity-bracelets-banner">
  <div class="container">
    <div class="row">
      <div class="sixteen columns">
        
        {% render "page-heading" with {
          title: section.settings.title,
          with_banner_padding: true
        } %}

      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Banner",
  "settings": [
    {
      "id": "title",
      "label": "Title",
      "type": "text",
      "default": "Eternity Bracelets"
    }
  ]
}
{% endschema %}