<div class="content-section content-section--image-text-columns content-section--eternity-bracelets-overview">
  <div class="container">
    <div class="row">

      <div class="eight columns medium-down--one-whole">
        <div class="content-section--image-text-columns__text-wrapper">
          {% include "content-section.title" with {
            title: section.settings.title | escape,
          } %}
          
          <p class="paragraph--block-text">
            {{ section.settings.content }}
          </p>
        </div>
      </div>
      
      <div class="eight columns medium-down--one-whole">
        <div class="content-section--image-text-columns__image-wrapper">
          {{ section.settings.image | img_url: 'x500' | img_tag }}
        </div>
      </div>

    </div>
  </div>
</div>

{% schema %}
{
  "name": "Overview",
  "settings": [
    {
      "id": "title",
      "label": "Title",
      "type": "text",
      "default": "What does \"permanent jewelry\" mean?"
    },
    {
      "id": "content",
      "label": "Content",
      "type": "textarea",
      "default": "Our skilled bench jewelers will weld on a custom fit bracelet to your wrist using a painless, quick, and easy process. Because the bracelet is welded on, it does not have a clasp and therefore will “permanently” stay on (until you decide to remove it)."
    },
    {
      "id": "image",
      "label": "Image",
      "type": "image_picker"
    }
  ]
}
{% endschema %}