<div class="content-section content-section--eternity-bracelets-banner">
  <h1>Eternity Bracelets</h1>

  <div class="eternity-bracelets__banner-wrapper">
    <div class="eternity-braclets__banner-photo eternity-braclets__banner-photo--large"></div>
    <div class="eternity-braclets__banner-photo eternity-braclets__banner-photo--small"></div>
  </div>
</div>