{% capture text_content %}
<p class="paragraph--block-text">
  {{ section.settings.content }}
</p>
{% endcapture %}

{% include 'content-section.image-with-text' with {
  id: "eternity-bracelets-overview",
  title: section.settings.title,
  image_position: section.settings.image_position
  image: section.settings.image
  text_content: text_content
} %}

{% schema %}
{
  "name": "Overview",
  "settings": [
    {
      "id": "title",
      "label": "Title",
      "type": "text",
      "default": "What does \"permanent jewelry\" mean?"
    },
    {
      "id": "content",
      "label": "Content",
      "type": "textarea",
      "default": "Our skilled bench jewelers will weld on a custom fit bracelet to your wrist using a painless, quick, and easy process. Because the bracelet is welded on, it does not have a clasp and therefore will “permanently” stay on (until you decide to remove it)."
    },
    {
      "id": "image",
      "label": "Image",
      "type": "image_picker"
    }
  ]
}
{% endschema %}