{% assign featured_promos_per_row = section.settings.featured_promos_per_row | minus: 0 %}
{% assign title_on_image = section.settings.promo_text_on_image_enabled %}

<div class="featured-promotions">
  <div class="content-section content-section--no-padding-top">

    {% if section.settings.title %}
      <div class="container">
        <div class="row">
          <div class="sixteen columns">

            {% include "content-section.title" with {
              title: section.settings.title | escape,
              with_accent: false
            } %}

          </div>
        </div>
      </div>
    {% endif %}
    
    <div class="container">
      <div class="row">
        
        {% for block in section.blocks %}
          <div class="one-third columns">
            <div class="image-card image-card--collection collection-card" {{ block.shopify_attributes }}>
              <a href="{{ block.settings.link }}">
                <div class="image-card__image">
                  {% render 'image-element',
                    image: block.settings.image,
                    alt: block.settings.image.alt,
                    stretch_width: true
                  %}
                </div>
              
                <div class="image-card__content">
                  <h4 class="image-card__title">{{ block.settings.title | strip_html }}</h4>
                
                  <!-- {% if block.settings.text != blank %}
                    <div class="description">{{ block.settings.text }}</div>
                  {% endif %} -->
                </div>
              </a>
            </div>
          </div>
        {% endfor %}

      </div>
    </div>

  </div>
</div>

{% schema %}
{
  "name": "Featured promotions",
  "class": "featured-promotions-section",
  "max_blocks": 12,
  "settings": [
	{
    "type": "text",
    "id": "title",
	  "label": "Title"
	},
    {
      "type": "checkbox",
      "id": "featured_promos_grid",
      "label": "Wide display",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "promo_text_on_image_enabled",
      "label": "Show title on image",
      "default": true
    },
    {
      "type": "range",
      "id": "featured_promos_per_row",
      "label": "Promotions per row",
      "min": 2,
      "max": 4,
      "step": 1,
      "default": 3
    },
    {
      "type": "select",
      "id": "featured_links_animation",
      "label": "Promotions animation",
      "options": [
        {
          "value": "fadeIn",
          "label": "Fade In"
        },
        {
          "value": "fadeInUp",
          "label": "Fade Up"
        },
        {
          "value": "fadeInDown",
          "label": "Fade Down"
        },
        {
          "value": "",
          "label": "None"
        }
      ],
      "default": "fadeInDown"
    },
    {
      "type": "select",
      "id": "feature_style",
      "label": "Promotions style",
      "options": [
        {
          "value": "circle",
          "label": "Circle"
        },
        {
          "value": "square",
          "label": "Square"
        },
        {
          "value": "rounded",
          "label": "Rounded"
        }
      ],
      "default": "square"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Promotion",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "840 x 840px recommended"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Header",
          "default": "Feature"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Promotion description details.</p>"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button label"
        }
      ]
    }
  ],
  "presets": [{
    "name": "Featured promotions",
    "category": "Image",
    "settings": {
      "featured_promos_grid": true
    },
    "blocks": [
      {
        "type": "image",
        "settings": {

        }
      },
      {
        "type": "image",
        "settings": {

        }
      },
      {
        "type": "image",
        "settings": {

        }
      }
    ]
  }]
}

{% endschema %}
