{% capture text_content %}
<ul>
  {% for block in section.blocks %}
    <li>
        {{ block.settings.text }}
    </li>
  {% endfor %}
</ul>
{% endcapture %}

{% if section.blocks.size > 0 %}
{% render "content-section.image-with-text" with {
  id: "requirements",
  extra_classes: "u-padding-top-0"
  title: section.settings.title,
  text_content: text_content,
  image: section.settings.image,
  image_position: "right",
  extra_classes: "u-padding-top-0"
} %}
{% endif %}

{% schema %}
{
  "name": "Requirements",
  "settings": [
    {
      "id": "title",
      "label": "Title",
      "type": "text",
      "default": "Requirements"
    },
    {
      "id": "description",
      "label": "Description",
      "type": "text"
    },
    {
      "id": "image",
      "label": "Image",
      "type": "image_picker"
    }
  ],
  "blocks": [
    {
      "type": "requirement",
      "name": "Requirement",
      "settings": [
        {
          "id": "text",
          "label": "Text",
          "type": "text"
        }
      ]
    }
  ]
}
{% endschema %}