{% capture content %}
<div class="container">
  <div class="row">
    <div class="eight columns offset-by-four medium-down--one-whole medium-down--offset-by-zero u-text-align-center">
      <p class="paragraph--block-text paragraph-1">
        {{ section.settings.cta_lead_text }}
      </p>

      <div>
        <a class="button" href="{{ section.settings.cta_link }}" target="_blank">{{ section.settings.cta_text }}</a>
      </div>
    </div>
  </div>
</div>
{% endcapture %}


{% include "content-section" with {
  id: "heirloom-reworks-cta",
  color_region: "light",
  content: content
} %}

{% schema %}
{
  "name": "CTA",
  "settings": [
    {
      "id": "cta_lead_text",
      "label": "CTA lead-in text",
      "type": "text",
      "default": "Interested?"
    },
    {
      "id": "cta_text",
      "label": "CTA Button text",
      "type": "text",
      "default": "Get started"
    },
    {
      "id": "cta_link",
      "label": "CTA Button link",
      "type": "text",
      "default": "#"
    }
  ]
}
{% endschema %}