{% capture content %}
<div class="container">
  <div class="sixteen columns">

    {% include "content-section.title" with {
      title: section.settings.title,
      heading_align: "center",
      title_tag: "h4"
    } %}

    <div class="logo-bar">
      {% for block in section.blocks %}
        <div class="logo-bar__item" {{ block.shopify_attributes }}>
          {% if block.settings.link != blank %}
            <a href="{{ block.settings.link }}" class="logo-bar__link">
          {% endif %}

          {% if block.settings.image != blank %}
            {% render 'image-element',
                    image: block.settings.image,
                    alt: block.settings.image.alt
            %}
          {% else %}
            {{ 'logo' | placeholder_svg_tag: 'placeholder-svg' }}
          {% endif %}

          {% if block.settings.link != blank %}
            </a>
          {% endif %}
        </div>
      {% endfor %}
    </div>

  </div>
</div>
{% endcapture %}

{% include "content-section" with {
  title: section.settings.title,
  content: content,
  color_region: section.settings.color_region,
  padding_top: section.settings.padding_top,
  padding_bottom: section.settings.padding_bottom,
} %}

{% schema %}
  {
    "name": "Logo bar",
    "class": "logo-list-section",
    "max_blocks": 20,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Logo list"
      },
      {
        "type": "select",
        "id": "color_region",
        "label": "Color Region",
        "options": [
          {
            "value": "light",
            "label": "Light"
          },
          {
            "value": "light-alt",
            "label": "Light - alternative"
          },
          {
            "value": "dark",
            "label": "Dark"
          },
          {
            "value": "dark-alt",
            "label": "Dark - alternative"
          }
        ]
      },
      {
        "type": "select",
        "id": "padding_top",
        "label": "Top Padding (in spacing units)",
        "options": [
          {
            "value": "default",
            "label": "Default (5)"
          },
          {
            "value": "0",
            "label": "0"
          },
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "8",
            "label": "8"
          },
          {
            "value": "10",
            "label": "10"
          }
        ]
      },
      {
        "type": "select",
        "id": "padding_bottom",
        "label": "Top Padding (in spacing units)",
        "options": [
          {
            "value": "default",
            "label": "Default (5)"
          },
          {
            "value": "0",
            "label": "0"
          },
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "8",
            "label": "8"
          },
          {
            "value": "10",
            "label": "10"
          }
        ]
      }
    ],
    "blocks": [
      {
        "type": "logo_image",
        "name": "Logo",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
            "info": "400 x 300px recommended"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Logo list",
        "category": "Image",
        "blocks": [
          {
            "type": "logo_image"
          },
          {
            "type": "logo_image"
          },
          {
            "type": "logo_image"
          },
          {
            "type": "logo_image"
          }
        ]
      }
    ]
  }
{% endschema %}
