{% capture text_content %}
<p class="paragraph--block-text">{{ section.settings.content }}</p>
{% endcapture %}

{% include "content-section.image-with-text" with {
  id: "our-story--about-valerie",
  title: section.settings.title,
  image: section.settings.image,
  color_region: "light-alt",
} %}

{% schema %}
{
  "name": "About Valerie",
  "settings": [
    {
      "id": "title",
      "label": "Title",
      "type": "text",
      "default": "About Valerie"
    },
    {
      "id": "content",
      "label": "Content",
      "type": "textarea",
      "default": "Valerie merges contemporary technology with skillful artistry to create elegant designs inspired by classic styles. With her keen eye for detail and passion for individuality, her designs celebrate not only the beauty of life and love but also the natural world and the stunning gemstones that come from it. A Valerie Madison piece features styles and stones not seen in traditional pieces, such as salt-and-pepper diamonds, rose-cut diamonds, uniquely shaped stones, vibrant hues, and more."
    },
    {
      "id": "image",
      "label": "Image of Valerie",
      "type": "image_picker"
    }
  ]
}
{% endschema %}