<h1>our story section</h1>

{% for block in section.settings.blocks %}
  <h2>
    {{ block.type }}
  </h2>
{% endfor %}
{% render 'our-story.intro', title: "Test title"  %}

{% schema %}
{
  "name": "Our story",
  "blocks": [
    {
      "type": "intro",
      "name": "Intro",
      "settings": [
        {
          "id": "title",
          "label": "Title",
          "type": "text",
          "default": "Default Our Story Title"
        }
      ]
    }
  ]
}
{% endschema %}