<div class="container">
  <div class="row">
    <div class="one-whole columns">
      {% render "page-heading" with {
       title: section.settings.title_text,
       align: "center"
     } %}
    </div>
  </div>
</div>

{% for block in section.blocks %}
  {% if block.type == "collection" %}    
    {% render "content-section.collection" with {
      collection: block.settings.collection,
      title: block.settings.title,
      title_cta_text: block.settings.title_cta_text,
      description: block.settings.subtitle,
      products_limit: block.settings.products_limit,
      color_region: block.settings.color_region,
      padding_top: 3,
      padding_bottom: 3,
    } %}
  {% elsif block.type == "image_with_text" %}
    {% capture text_content %}
      {% if block.settings.text != blank %}
        <div>
          {{ block.settings.text }}
        </div>
      {% endif %}

      {% if block.settings.cta_link != blank %}
        <a href="{{ block.settings.cta_link }}"
            class="cta-link {% if block.settings.color_region =='dark' or block.settings.color_region == 'dark_alt' %}cta-link--inverted{% endif %}">
          {{ block.settings.cta_text | default: "Read More" }}
        </a>
      {% endif %}
    {% endcapture %}

    {% render "content-section.image-with-text" with {
      title: block.settings.title,
      image: block.settings.image,
      cta_text: block.settings.cta_text,
      cta_link: block.settings.cta_link,
      text_content: text_content,
      color_region: block.settings.color_region,
      image_position: block.settings.image_position,
      padding_top: 3,
      padding_bottom: 3,
    } %}
  {% endif %}
{% endfor %}


{% schema %}
  {
    "name": "Page | Gift Guide",
    "settings": [
      {
        "type": "text",
        "id": "title_text",
        "label": "Title Text",
        "default": "Gift Guide"
      }
    ],
    "blocks": [
      {
        "name": "Collection Block",
        "type": "collection",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "text",
            "id": "subtitle",
            "label": "Subtitle"
          },
          {
            "type": "text",
            "id": "title_cta_text",
            "label": "CTA Text"
          },
          {
            "type": "collection",
            "id": "collection",
            "label": "Collection"
          },
          {
            "type": "select",
            "id": "color_region",
            "label": "Color Region",
            "options": [
              {
                "value": "light",
                "label": "Light"
              },
              {
                "value": "light-alt",
                "label": "Light - alternative"
              },
              {
                "value": "dark",
                "label": "Dark"
              },
              {
                "value": "dark-alt",
                "label": "Dark - alternative"
              }
            ]
          }
        ]
      },
      {
        "name": "Image with Text Block",
        "type": "image_with_text",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
            "info": "1024x1024px recommended"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Title"
          },
          {
            "type": "textarea",
            "id": "text",
            "label": "Text",
            "default": "<p>Text content</p>"
          },
          {
            "type": "text",
            "id": "cta_text",
            "label": "CTA Text",
            "default": "Read more"
          },
          {
            "type": "url",
            "id": "cta_link",
            "label": "CTA Link"
          },
          {
            "type": "select",
            "id": "image_position",
            "label": "Image Position (Desktop)",
            "options": [
              {
                "value": "left",
                "label": "Left (default)"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ]
          },
          {
            "type": "checkbox",
            "id": "is_full_width",
            "label": "Full Width"
          },
          {
            "type": "select",
            "id": "color_region",
            "label": "Color Region",
            "options": [
              {
                "value": "light",
                "label": "Light"
              },
              {
                "value": "light-alt",
                "label": "Light - alternative"
              },
              {
                "value": "dark",
                "label": "Dark"
              },
              {
                "value": "dark-alt",
                "label": "Dark - alternative"
              }
            ]
          }
        ]
      }
    ]
  }
{% endschema %}
