/* Home page - general
================================================== */

.banner-full-link {
  line-height: 0;
  font-size: 0;
  color: transparent;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}

.banner-full-link + .caption {
  pointer-events: none;
  cursor: pointer;
}

.caption {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 3;
  max-width: $site-width;
  padding: 0 ($gutter * 0.5);

  @include prefix(transform, translate(0, -50%), ms webkit spec);

  a {
    pointer-events: all;
  }

  @include respond-to('large-down') {
    width: calc(90% + #{$gutter});
  }

  @include respond-to('medium-down') {
    text-align: center;
    width: calc(100% - 40px);

    &.position-left,
    &.position-right {
      text-align: center;
    }
  }

  @include respond-to('small-down') {
    width: calc(100% - 40px);
    padding: 0;
  }

  &.position-center {
    left: 0;
    right: 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    @include respond-to('medium-down') {
      width: 85%;
    }

    @include respond-to('small-down') {
      width: 100%;
    }
  }

  .caption-content {
    text-align: left;

    @include respond-to('small-down') {
      text-align: center;
    }
  }

  &.position-left {
    left: 0;
    right: 0;
    text-align: left;
  }

  &.position-right {
    left: 0;
    right: 0;
    text-align: right;
  }

  .pretext {
    margin-bottom: 0;

    p {
      margin: 0;
    }
  }

  .headline,
  .subtitle {
    margin-bottom: 2rem;
  }

  .pretext:empty,
  .headline:empty,
  .subtitle:empty {
    display: none;

    &:before {
      height: 0;
    }
  }
}

.caption--below-true {
  @include respond-to('small-down') {
    margin: 20px auto !important;
    position: static;
    transform: none;
    width: 100%;
  }

  .caption-background-true.caption-transparency-false {
    background-color: $vm-color-white;
  }

  .caption-background-true.caption-transparency-true {
    @include respond-to('small-down') {
      background-color: transparent;
    }
  }
}

.caption--below-false {
  @include respond-to('small-down') {
    .caption-content.caption-background-true {
      padding: 15px;
    }
  }
}

.caption-content {
  display: inline-block;
  max-width: 50%;

  .subtitle {
    p {
      // TODO - ???
      pointer-events: all;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  @include respond-to('medium-down') {
    max-width: 100%;
  }

  @include respond-to('small-down') {
    width: 100%;
  }
}

/* Transparency settings for each type of caption */

$backgroundTransparency: 0.6;

/* Slideshow */

.homepage-slideshow {
  .gallery-cell:not(:first-child) {
    height: 0;
  }

  .caption-content {
    max-width: 50%;
  }

  .caption.position-left,
  .caption.position-right {
    .caption-content {
      padding: 0 3rem;

      @include respond-to('small-down') {
        padding: 0;
      }
    }
  }

  @include respond-to('small-down') {
    .caption-content {
      max-width: 100%;
    }
  }
}

.homepage-slideshow.flickity-enabled {
  .gallery-cell:not(:first-child) {
    height: auto;
  }
}

// Contact Section
.contact-form_position--right {
  float: right;
}

.featured-blog-section {
  .blog_excerpt {
    margin-bottom: 0;
  }

  h5 {
    margin-top: 1.5rem;
  }
}

.banner {
  width: 100%;
  position: relative;
  overflow: hidden;
  // {% if settings.image_loading_style != 'color' %}
  // background-color: {{ settings.banner_placeholder_background_color }};
  // {% endif %}

  @include respond-to('small-down') {
    max-height: inherit;
    background-color: transparent;
  }

  img {
    width: 100%;
    display: block;
  }
}

.banner.page-banner {
  overflow: hidden;
  max-height: 100vh;
}

.caption.captionOverlay--true {
  max-width: 960px;
  left: 0;
  right: 0;
  margin: 0 auto;
  position: absolute;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  z-index: 3;

  h2,
  .subtitle {
  }

  @include respond-to('medium-down') {
    top: 50%;
  }
}

.dark-overlay-true:after {
  content: '';
  position: absolute;
  z-index: 2;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

$banner-crop-height: 60vh;

.mobile-banner--crop-left {
  @include respond-to('small-down') {
    @include object-fit(cover, left);
    min-height: $banner-crop-height;
  }
}

.mobile-banner--crop-right {
  @include respond-to('small-down') {
    @include object-fit(cover, right);
    min-height: $banner-crop-height;
  }
}

.mobile-banner--crop-center {
  @include respond-to('small-down') {
    @include object-fit(cover, center);
    min-height: $banner-crop-height;
  }
}
