/* #Home page - collection in detail
================================================== */

.collection-in-detail {
  .section {
    margin: 0;
  }

  .half {
    width: 50%;
    float: left;
    position: relative;

    @include respond-to('medium-down') {
      width: 100%;
    }
  }

  .product-details {
    padding: 40px 2rem;
  }

  .frontpage_product_stagger--true {
    .section:nth-of-type(even) .half {
      float: right;
    }
  }

  .product_gallery.multi-image {
    width: 100%;
    display: block;
    margin-bottom: 0;
  }
}
