/* #Home page - featured collection
================================================== */

.featured-collection-section {
}

.featured-collection__description.section {
  padding: 0 20px;
  margin: 20px 0;
}

.featured-collection__products.container {
  padding: 0;
}
