/* #Home page - featured products
================================================== */

.featured-products-section {
  .product_gallery {
    margin-bottom: 0;
    padding-bottom: 0;

    img {
      width: 100%;
      vertical-align: bottom;
    }
  }
}
