/* #Home page - featured promotions
================================================== */

@use "sass:math";

.collection-card {
  text-align: left;
  margin: 0 0 3rem;
  overflow: hidden;

  figcaption {
    margin: 1rem 0 0;
  }

  h4 {
    margin-bottom: 0;
  }

  @include respond-to('medium-down') {
    margin-bottom: 2rem;
  }
}
