/* #Home page - image with text
================================================== */

.image-with-text {
}

.image-with-text__row {
  display: flex;
  justify-content: stretch;

  @include respond-to('medium-down') {
    flex-direction: column;
  }
}

.image-with-text__block {
  flex-basis: 50%;
  flex-grow: 1;
  flex-shrink: 0;

  &.image-with-text__block--text {
    display: flex;
    align-items: center;
  }
}

.image-with-text__image {
  // padding: 2rem;
}

.image-with-text__text {
  padding: $vm-content-section-padding;

  @include respond-to('medium-down') {
    padding: 2rem;
  }
}
