/* #Home page - image with text
================================================== */

.image-with-text .featured-link--half a[href] img {
  box-shadow: #000 0em 0em 0em;
  transition: opacity 0.2s linear;
}

.image-with-text .featured-link--half:hover a[href] img.lazyloaded {
  opacity: 0.8;
}

.standard--width .image-with-text .featured-link--image,
.full-width--false.image-with-text .featured-link--image {
  background-color: transparent;
}

.featured-link--section {
  width: 100%;
  box-sizing: border-box;
  float: left;
  min-height: 100px;
  @include flexbox();
  @include flex-wrap(wrap);
}

.featured-link--half.featured-link__imageHalf {
  background-color: transparent;
  text-align: center;

  a {
    width: 100%;
    display: block;

    img {
      width: 100%;
    }
  }
}

.featured-link--half {
  box-sizing: border-box;
  float: left;
  width: 50%;
  position: relative;
  text-align: center;
  display: table;
  @include flex(1 0 auto);
  @include flexbox();
  @include align-items(center);
  @include justify-content(center);
  // background: $vm-color-cream;

  @include respond-to('small-down') {
    width: 100%;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 100%;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
  }

  .featured-link--wrap {
    width: 100%;
    height: 100%; /* Fix for SVG set at 2 images per row */
    @include flex(0 0 auto);
  }

  img {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;

    @include respond-to('small-down') {
      width: 100%;
      max-width: auto;
    }
  }

  .info {
    display: inline-block;
    max-width: 80%;
    margin: 0 auto;
    padding: 2rem;

    &.text-align--right {
      text-align: right;

      .description:before {
        margin-right: 0;
      }
    }

    &.text-align--left {
      text-align: left;

      .description:before {
        margin-left: 0;
      }
    }

    @include respond-to('small-down') {
      position: static;
      transform: translateY(0);
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      max-width: 100%;
    }
  }

  .description {
    margin-bottom: 2rem;
  }
}

.image-align--right.featured_collections.across-1
  .featured-link--section:nth-child(odd) {
  @include flex-direction(row-reverse);
  .featured-link--half {
    float: right;
  }
}

.image-align--left.featured_collections.across-1
  .featured-link--section:nth-child(even) {
  @include flex-direction(row-reverse);
  .featured-link--half {
    float: right;
  }
}

.featured_collections.across-2 {
  @include flexbox();
  @include flex-wrap(wrap);
}

.image-align--left.featured_collections.across-2 {
  .featured-link--section {
    @include flex-direction(row);
    @include respond-to('medium-down') {
      &:nth-of-type(2n) {
        @include flex-direction(row-reverse);
      }
    }
  }

  .featured-link--image:nth-of-type(4n + 3) {
    @include flex-direction(row-reverse);

    @include respond-to('medium-down') {
      @include flex-direction(row);
    }
  }

  .featured-link--image:nth-of-type(4n + 4) {
    @include flex-direction(row-reverse);
  }
}

.image-align--right.featured_collections.across-2 {
  .featured-link--section {
    @include flex-direction(row-reverse);

    @include respond-to('medium-down') {
      &:nth-of-type(2n) {
        @include flex-direction(row);
      }
    }
  }

  .featured-link--image:nth-of-type(4n + 3) {
    @include flex-direction(row);

    @include respond-to('medium-down') {
      @include flex-direction(row-reverse);
    }
  }

  .featured-link--image:nth-of-type(4n + 4) {
    @include flex-direction(row);
  }
}

.featured_collections.across-2 {
  .featured-link--section {
    width: 50%;

    @include respond-to('medium-down') {
      width: 100%;
    }
  }

  .featured-link--half {
    @include respond-to('medium-down') {
      width: 50%;
    }

    @include respond-to('small-down') {
      width: 100%;
    }
  }

  .featured-link--image:nth-of-type(2n + 1) {
    clear: both;
  }

  .featured-link--image:nth-of-type(2n + 2) .featured-link--half {
    float: left;

    @include respond-to('medium-down') {
      float: right;
    }
  }

  .featured-link--image:nth-of-type(3n + 3) .featured-link--half {
    float: right;

    @include respond-to('medium-down') {
      float: left;
    }
  }

  .featured-link--image:nth-of-type(4n + 4) .featured-link--half {
    float: right;
  }
}
