/* #Home page - slideshow
================================================== */

.homepage-slideshow:hover .flickity-prev-next-button {
  opacity: 1;
}

.homepage-slideshow.text-animation--false .caption {
  opacity: 0;
  transition: opacity 0.3s linear;
}

.homepage-slideshow.text-animation--false.flickity-enabled .caption {
  opacity: 1;
}

.text-animation--true {
  .caption-content {
    opacity: 0;

    @include respond-to('small-down') {
      opacity: 1;
      animation-duration: 0s;
    }
  }
}

.homepage-slideshow {
  position: relative;
  overflow: hidden;

  &.single-image {
    .flickity-prev-next-button {
      display: none;
    }

    .flickity-page-dots {
      display: none;
    }
  }

  .gallery-cell {
    width: 100%;

    img {
      width: 100%;
      display: block;
    }

    @include respond-to('small-down') {
      background-color: transparent;
    }
  }

  .flickity-prev-next-button {
    opacity: 0;
    // width: 4%;
    height: 100%;
    border-radius: 0;

    @include respond-to('medium-up') {
      opacity: 0;
    }
  }

  .flickity-page-dots {
    bottom: 2em;
    display: none;

    @include respond-to('medium-up') {
      display: block;
    }

    .dot {
      height: 8px;
      width: 8px;
      margin: 0 8px;
      border-radius: 100%;
      // background: $vm-color-sea-green;
    }

    @include respond-to('small-down') {
      position: relative;
      display: block;
      margin-top: 1rem;
      bottom: 0;
    }
  }
}

/* Home - product slider */

.js-product-slider {
  .product_clear {
    display: none;
  }

  .column.alpha,
  .columns.alpha {
    margin: 0 10px 0 20px;
  }

  .flickity-prev-next-button {
    border-radius: 0;
  }
}
