/* #Home page - testimonials
================================================== */

.vm-testimonial-slide {
  display: none;
  min-height: 370px;
  transition: all 500ms ease;

  .vm-testimonial-slide__content {
    padding: 0 8rem;
  }

  .vm-testimonial-slide__testimonial {
    margin: get-vm-spacer(6) 0;
  }

  &.is-hidden {
    opacity: 0;
  }

  &.is-active {
    display: block;
  }

  @include respond-to("large-down") {
    .vm-testimonial-slide__content {
      padding: 0 2rem;
    }
  }

  @include respond-to("medium-down") {
    .vm-testimonial-slide__title {
      @include vm-heading-2();
    }

    .vm-testimonial-slide__testimonial {
      line-height: $vm-paragraph-2-line-height;
      margin: get-vm-spacer(3) 0;
    }

    .vm-testimonial-slide__content {
      padding: 0;
    }
  }
}

.vm-testimonial__buttons-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8rem;

  @include respond-to("large-down") {
    padding: 0 2rem;
  }

  @include respond-to("medium-down") {
    padding: 0;
  }
}

.vm-testimonial__slide-index-indicator {
  margin: 0;

  .divider {
    color: $vm-color-sand;
  }
}

.vm-testimonial__slide-button {
  background: transparent;

  svg {
    display: block;
    width: 2.4rem;
    fill: $vm-color-sea-green;
    transition: all 0.2s;
  }

  &:hover {
    background: transparent;

    svg {
      transform: translateX(0.5rem);
      fill: $vm-color-sand;
    }
  }

  &.vm-testimonial__slide-button--prev {
    transform: rotate(180deg);
  }
}

.color-region--dark,
.color-region--dark-alt {
  .vm-testimonial__slide-button {
    svg {
      fill: #fff;
    }

    &:hover {
      svg {
        fill: $vm-color-sand;
      }
    }
  }
}
