/* #Home page - text columns with images
================================================== */

.text-columns-with-images-section {
  .border-style--box {
    padding: 10%;
    // border: 1px solid {{ settings.headline_border_color }};
  }

  .border-style--quote {
    padding-left: 20px;
    // border-left: 1px solid {{ settings.headline_border_color }};
    margin-bottom: 10%;
  }

  .text-column {
    margin-bottom: 25px;
  }

  a.continue-button {
    margin-top: 10px;
  }

  h2.title + .feature_divider {
    margin-bottom: 40px;
  }

  img {
    margin: 0 0 15px;
  }
}

/* OOTS Content Creator slideshow */
.flexslider {
  img {
    display: block;
    margin: 0 auto;
  }
}
