/* # VM page - Our Story
================================================== */
/* #Variables
================================================== */
/* Variables - General
================================================== */
/* Variables - Colors
================================================== */
/* Variables - Typography
================================================== */
/* Variables - Components
================================================== */
/* Variables - Misc
================================================== */
/* Variables - Misc
================================================== */
/* Mixins
================================================== */
/* Mixins - general
================================================== */
/*
  This mixin can be used to set the object-fit:
  @include object-fit(contain);
   or object-fit and object-position:
  @include object-fit(cover, top);
*/
/*
  Prefix mixin for generating vendor prefixes.
  Based on https://github.com/thoughtbot/bourbon/blob/v4-stable/app/assets/stylesheets/addons/_prefixer.scss

  Usage:
    // Input:
    .element {
      @include prefix(transform, scale(1), ms webkit spec);
    }

    // Output:
    .element {
      -ms-transform: scale(1);
      -webkit-transform: scale(1);
      transform: scale(1);
    }
*/
/* Mixins - typography
================================================== */
/* Mixins - typography
================================================== */
.content-section.content-section--our-story--intro .icon-wrapper {
  padding: 3rem 0 0;
  text-align: center;
}
.content-section.content-section--our-story--intro .icon-wrapper img {
  height: 150px;
}
@media only screen and (max-width: 480px) {
  .content-section.content-section--our-story--intro {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .content-section.content-section--our-story--intro .icon-wrapper img {
    height: 100px;
  }
}

.content-section.content-section--our-story--about-valerie p {
  margin-right: 1rem;
}
.content-section.content-section--our-story--about-valerie p:first-child {
  margin-top: 1rem;
}
@media only screen and (max-width: 480px) {
  .content-section.content-section--our-story--about-valerie.content-section p {
    margin-right: 0;
    margin-top: 0;
  }
}

.our-story__timeline {
  display: flex;
  flex-direction: column;
}

.our-story__timeline-event {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  width: calc(50% + 2px);
  border-right: 2px solid #dec1a8;
  flex-grow: 0;
  flex-shrink: 0;
  text-align: right;
}
.our-story__timeline-event:before {
  content: "";
  position: absolute;
  top: 3.5rem;
  right: 0;
  border-bottom: 2px solid #dec1a8;
  width: 3.5rem;
}
.our-story__timeline-event:after {
  content: "";
  position: absolute;
  top: calc( 3.5rem - 2.5px );
  right: 3.5rem;
  width: 7px;
  height: 7px;
  border-radius: 7px;
  background-color: #dec1a8;
}
.our-story__timeline-event.our-story__timeline-event--even {
  margin-left: 50%;
  border-right: 0 solid transparent;
  border-left: 2px solid #dec1a8;
  text-align: left;
}
.our-story__timeline-event.our-story__timeline-event--even:before {
  right: auto;
  left: 0;
}
.our-story__timeline-event.our-story__timeline-event--even:after {
  right: auto;
  left: 3.5rem;
}
.our-story__timeline-event.our-story__timeline-event--even .our-story__timeline-event__body {
  margin-right: 0;
  margin-left: 3rem;
}
.our-story__timeline-event .our-story__timeline-event__body {
  padding: 3rem 2rem;
  margin-right: 3rem;
}
.our-story__timeline-event .our-story__timeline-event__year-spacer {
  height: 3rem;
}
@media only screen and (max-width: 480px) {
  .our-story__timeline-event.our-story__timeline-event {
    width: auto;
    text-align: left;
    border-left: 2px solid #dec1a8;
    border-right: 0 solid transparent;
    margin: 0;
  }
  .our-story__timeline-event.our-story__timeline-event:before {
    right: auto;
    left: 0;
    width: 2.5rem;
  }
  .our-story__timeline-event.our-story__timeline-event:after {
    right: auto;
    left: 2.5rem;
  }
  .our-story__timeline-event.our-story__timeline-event .our-story__timeline-event__body {
    padding: 3rem 0 3rem 3rem;
    margin: 0 0 0 1rem;
  }
}

.our-story__timeline-past-dots,
.our-story__timeline-future-dots {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.our-story__timeline-past-dots .our-story__timeline-past-dots__dot,
.our-story__timeline-past-dots .our-story__timeline-future-dots__dot,
.our-story__timeline-future-dots .our-story__timeline-past-dots__dot,
.our-story__timeline-future-dots .our-story__timeline-future-dots__dot {
  margin: 0.5rem 0 0;
  width: 2px;
  height: 2px;
  border-radius: 2px;
  background-color: #dec1a8;
  transform: translateX(1px);
}
.our-story__timeline-past-dots .our-story__timeline-past-dots__dot,
.our-story__timeline-future-dots .our-story__timeline-past-dots__dot {
  margin: 0 0 0.5rem;
}
.our-story__timeline-past-dots .our-story__timeline-future-dots__dot,
.our-story__timeline-future-dots .our-story__timeline-future-dots__dot {
  margin: 0.5rem 0 0;
}
@media only screen and (max-width: 480px) {
  .our-story__timeline-past-dots,
.our-story__timeline-future-dots {
    align-items: flex-start;
  }
  .our-story__timeline-past-dots .our-story__timeline-past-dots__dot,
.our-story__timeline-past-dots .our-story__timeline-future-dots__dot,
.our-story__timeline-future-dots .our-story__timeline-past-dots__dot,
.our-story__timeline-future-dots .our-story__timeline-future-dots__dot {
    transform: translateX(0);
  }
}

.our-story__pillar .our-story__pillar__image-wrapper {
  text-align: center;
  margin-bottom: 2rem;
}
.our-story__pillar .our-story__pillar__image-wrapper img {
  height: 150px;
}
.our-story__pillar h4 {
  margin: 1rem 0;
}
@media only screen and (max-width: 480px) {
  .our-story__pillar {
    padding: 0;
    margin-bottom: 5rem;
  }
  .our-story__pillar:last-child {
    margin-bottom: 0;
  }
  .our-story__pillar img {
    height: 100px;
  }
}

.our-story__our-team-intro {
  margin-bottom: 7rem;
}
@media only screen and (max-width: 480px) {
  .our-story__our-team-intro {
    margin-bottom: 3rem;
  }
}

.our-story__team-member {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
}

.our-story__team-member .our-story__team-member__image-wrapper {
  flex-basis: 40%;
}
.our-story__team-member .our-story__team-member__body {
  flex-basis: 60%;
  margin-top: 1rem;
  margin-left: 2rem;
}
.our-story__team-member .our-story__team-member__body h3 {
  margin-bottom: 0;
}

.content-section.content-section--our-story--visit-store {
  background-color: #f8f4f4;
}
.content-section.content-section--our-story--visit-store p:first-child {
  margin-top: 1rem;
}

@media only screen and (min-width: 801px) {
  .our-story__store-mobile-map-wrapper {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  .our-story__store-map-wrapper {
    display: none;
  }
}

.our-story__store-calendly-embed h4 {
  text-align: center;
  margin-bottom: 1rem;
}