/* # VM page - FAQ
================================================== */
/* #Variables
================================================== */
/* Variables - General
================================================== */
/* Variables - Colors
================================================== */
/* Variables - Typography
================================================== */
/* Variables - Components
================================================== */
/* Variables - Misc
================================================== */
/* Mixins
================================================== */
/* Mixins - general
================================================== */
/*
  This mixin can be used to set the object-fit:
  @include object-fit(contain);
   or object-fit and object-position:
  @include object-fit(cover, top);
*/
/*
  Prefix mixin for generating vendor prefixes.
  Based on https://github.com/thoughtbot/bourbon/blob/v4-stable/app/assets/stylesheets/addons/_prefixer.scss

  Usage:
    // Input:
    .element {
      @include prefix(transform, scale(1), ms webkit spec);
    }

    // Output:
    .element {
      -ms-transform: scale(1);
      -webkit-transform: scale(1);
      transform: scale(1);
    }
*/
/* Mixins - typography
================================================== */
.page-faq .page-heading {
  padding: 10rem 0;
}
.page-faq .page-heading__title {
  text-align: center;
}
.page-faq .row {
  margin-bottom: 0;
}
@media only screen and (max-width: 800px) {
  .page-faq .page-heading {
    padding: 5rem 0;
  }
}

.content-section.content-section--faq {
  padding-top: 0;
  padding-bottom: 7rem;
}
@media only screen and (max-width: 800px) {
  .content-section.content-section--faq {
    padding-bottom: 3rem;
  }
}

.content-section.content-section--faq .content-section__heading {
  margin-bottom: 5rem;
}

.row.faq__item {
  margin-bottom: 1rem;
}
.row.faq__item a {
  text-decoration: underline;
}
.row.faq__item h4 {
  margin-top: 7px;
}