/* Eternity Bracelets Page
================================================== */
/* #Variables
================================================== */
/* Variables - General
================================================== */
/* Variables - Colors
================================================== */
/* Variables - Typography
================================================== */
/* Variables - Components
================================================== */
/* Variables - Misc
================================================== */
/* Variables - Misc
================================================== */
/* Mixins
================================================== */
/* Mixins - general
================================================== */
/*
  This mixin can be used to set the object-fit:
  @include object-fit(contain);
   or object-fit and object-position:
  @include object-fit(cover, top);
*/
/*
  Prefix mixin for generating vendor prefixes.
  Based on https://github.com/thoughtbot/bourbon/blob/v4-stable/app/assets/stylesheets/addons/_prefixer.scss

  Usage:
    // Input:
    .element {
      @include prefix(transform, scale(1), ms webkit spec);
    }

    // Output:
    .element {
      -ms-transform: scale(1);
      -webkit-transform: scale(1);
      transform: scale(1);
    }
*/
/* Mixins - typography
================================================== */
/* Mixins - typography
================================================== */
.eternity-bracelets__image-wrapper {
  background-color: red;
  display: flex;
  padding: 0 2rem 0;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 800px) {
  .eternity-bracelets__image-wrapper {
    padding: 2rem 2rem 0;
  }
}

.eternity-bracelets__content-wrapper {
  padding: 2rem;
}
@media only screen and (max-width: 800px) {
  .eternity-bracelets__content-wrapper {
    padding: 0;
  }
}

.content-section.content-section--eternity-bracelets-banner {
  padding-top: 0;
}
.content-section.content-section--eternity-bracelets-banner .page-heading {
  text-align: center;
}
@media only screen and (max-width: 800px) {
  .content-section.content-section--eternity-bracelets-banner {
    padding-bottom: 0;
  }
  .content-section.content-section--eternity-bracelets-banner .page-heading {
    padding: 7rem 0 3rem;
  }
}

.eternity-bracelets__banner-row {
  height: 25rem;
  margin-bottom: 40px;
  display: flex;
  align-items: flex-end;
  justify-content: stretch;
}
.eternity-bracelets__banner-row:last-child {
  margin-bottom: 0;
}

.eternity-braclets__banner-image {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 800px) {
  .eternity-braclets__banner-image {
    width: 100%;
    flex-basis: 100%;
    margin: 0;
  }
}
@media only screen and (max-width: 800px) {
  .eternity-braclets__banner-image.eternity-braclets__banner-image--large {
    display: none;
  }
}
.eternity-braclets__banner-image.eternity-braclets__banner-image--medium {
  padding-bottom: 40px;
  margin-bottom: -3px;
}
@media only screen and (max-width: 800px) {
  .eternity-braclets__banner-image.eternity-braclets__banner-image--medium {
    padding-bottom: 0;
    margin-bottom: 0;
  }
}
.eternity-braclets__banner-image.eternity-braclets__banner-image--small {
  margin-right: 20%;
}
@media only screen and (max-width: 800px) {
  .eternity-braclets__banner-image.eternity-braclets__banner-image--small {
    display: none;
  }
}

.content-section.content-section--eternity-bracelets-cta {
  text-align: center;
}
@media only screen and (max-width: 800px) {
  .content-section.content-section--eternity-bracelets-cta {
    padding: 0 0 3rem;
  }
}