/* Eternity Bracelets Page
================================================== */
/* #Variables
================================================== */
/* Variables - General
================================================== */
/* Variables - Colors
================================================== */
/* Variables - Typography
================================================== */
/* Variables - Components
================================================== */
/* Variables - Misc
================================================== */
/* Mixins
================================================== */
/* Mixins - general
================================================== */
/*
  This mixin can be used to set the object-fit:
  @include object-fit(contain);
   or object-fit and object-position:
  @include object-fit(cover, top);
*/
/*
  Prefix mixin for generating vendor prefixes.
  Based on https://github.com/thoughtbot/bourbon/blob/v4-stable/app/assets/stylesheets/addons/_prefixer.scss

  Usage:
    // Input:
    .element {
      @include prefix(transform, scale(1), ms webkit spec);
    }

    // Output:
    .element {
      -ms-transform: scale(1);
      -webkit-transform: scale(1);
      transform: scale(1);
    }
*/
/* Mixins - typography
================================================== */
.eternity-bracelets__banner-wrapper {
  height: 25rem;
  display: flex;
  align-items: flex-end;
  justify-content: stretch;
}

.eternity-braclets__banner-photo {
  background-color: #714457;
  flex: 1;
}
.eternity-braclets__banner-photo.eternity-braclets__banner-photo--large {
  width: 66.6666666667%;
  flex-basis: 66.6666666667%;
  height: 100%;
  margin-right: 10px;
}
.eternity-braclets__banner-photo.eternity-braclets__banner-photo--small {
  width: 33.3333333333%;
  flex-basis: 33.3333333333%;
  height: 15rem;
  margin-left: 10px;
}