const videoSection = {
  init: function () {
    var e = $("[data-video-element]").get(),
      g = Plyr.setup(e, { controls: videoControls, fullscreen: { enabled: !0, fallback: !0, iosNative: !0 }, storage: { enabled: !1 } });
    $.each(g, function (e, t) {
      var a = t.id;
      t.isHTML5 && $(t.elements.wrapper).find("video").attr("data-plyr-video-id", a),
        t.on("play", function (e) {
          var a = e.detail.plyr;
          $.each(g, function (e, t) {
            a.id != t.id && t.pause();
          });
        }),
        globalVideoPlayers && globalVideoPlayers.push(t);
    }),
      $("[data-video-element]").each(function (e, t) {
        var a = $(t),
          o = a.parents(".shopify-section").attr("id", i),
          n = o.find(a),
          l = n.parents(".video-wrapper"),
          s = l.find("[data-play-button]"),
          r = l.find("[data-secondary-button]"),
          d = l.find("[data-video-text]"),
          c = l.find("[data-video-text-container]"),
          p = l.find(".video-wrapper__image"),
          m = l.data("poster-image-uploaded"),
          u = l.data("aspect-ratio"),
          i = l.data("video-src"),
          y = l.data("autoplay"),
          f = l.data("autoloop"),
          h = l.data("mute-video");
        $.each(g, function (e, t) {
          var a, i;
          if ((t.isYouTube || t.isVimeo ? ((a = l.attr("id")), (i = $(t.elements.original).attr("id"))) : t.isHTML5 && ((a = l.find("[data-plyr-video-id]").data("plyr-video-id")), (i = t.id), (n = o.find(".plyr--video"))), i == a))
            return (
              l.removeClass("play-button-icon--visible"),
              y
                ? 768 < $(window).width() || t.isYouTube || t.isVimeo
                  ? ((t.autoplay = !0), p.hide(), n.show(), c.hasClass("display-text-over-video--false") ? d.hide() : d.show(), s.hide())
                  : $(window).width() < 768 &&
                    t.isHTML5 &&
                    (p.hide(),
                    n.show(),
                    s.show(),
                    t.on("play", function () {
                      n.show(), s.hide();
                    }))
                : m
                ? (p.show(), n.hide())
                : (p.hide(), n.show()),
              p.on("click", function () {
                $(this).hide(), n.show(), t.play();
              }),
              h && (t.muted = !0),
              u && (t.ratio = u),
              f && (t.loop = !0),
              s &&
                s.on("click", function () {
                  t.play();
                }),
              t.on("play", function () {
                p.hide(), l.removeClass("play-button-icon--visible"), n.show(), c.hasClass("display-text-over-video--false") ? c.hide() : c.show(), s && s.hide(), r && r.hide();
              }),
              t.on("pause", function () {
                (!s.is(":hidden") && 0 != s.length) || l.addClass("play-button-icon--visible");
              }),
              ((!t.playing && s.is(":hidden")) || 0 == s.length) && l.addClass("play-button-icon--visible"),
              !1
            );
        });
      });
  },
};

const selectCallback = function (i, e) {
var t,
  a,
  o = $(".product-" + e.product.id),
  n = $(".notify-form-" + e.product.id),
  l = $(".product_form, .shopify-product-form", o),
  s = l.data("variant-inventory"),
  r = $(".notify_form__inputs"),
  d = Shopify.translation.notify_email,
  c = Shopify.translation.notify_email_send,
  p = r.data("url");
i
  ? null != i.title && ((t = i.title.replace(/"/g, "&quot;")), (a = Shopify.translation.notify_message_first + t + Shopify.translation.notify_message_last + p))
  : (a = Shopify.translation.notify_message_first + Shopify.translation.notify_message_last + p);
var m,
  u,
  y =
    (r.hasClass("customer--true")
      ? '<input type="hidden" class="notify_email" name="contact[email]" id="contact[email]" value="{{ customer.email }}" />'
      : '<input required type="email" class="notify_email" name="contact[email]" id="contact[email]" placeholder="' + d + '" value="{{ contact.fields.email }}" />') +
    '<input type="hidden" name="challenge" value="false" /><input type="hidden" name="contact[body]" class="notify_form_message" data-body="' +
    a +
    '" value="' +
    a +
    '" /><input class="action_button" type="submit" value="' +
    c +
    '" style="margin-bottom:0px" />';
if (
  (i &&
    i.featured_image &&
    o.is(":visible") &&
    $(".js-product-gallery, .js-gallery-modal", o).each(function () {
      var e,
        t = $(this),
        a = Flickity.data(this);
      t.is(":visible") && null != a && ((e = $('[data-image-id="' + i.featured_media.id + '"]').data("index")), a.select(e, !1, !0));
    }),
  "false" == $("#buildring").val() && (Flickity.data(".js-product-gallery").select(0, !1, !1), $("#buildring").val("true")),
  i)
)
  if (
    (s &&
      s.forEach(function (e) {
        e.id === i.id && ((i.inventory_quantity = e.inventory_quantity), (i.inventory_management = e.inventory_management), (i.inventory_policy = e.inventory_policy));
      }),
    $(".sku span", o).text(i.sku),
    "swatches" == Shopify.theme_settings.product_form_style)
  )
    for (var f = 0, h = i.options.length; f < h; f++) {
      var g = l.find('.swatch[data-option-index="' + escape(f) + '"] :radio[value="' + i.options[f].replace(/\"/g, '\\"') + '"]');
      g.length && (g.get(0).checked = !0);
    }
  else $(".notify_form_message", o).attr("value", $(".notify_form_message", o).data("body") + " - " + t);
i && 1 == i.available
  ? (i.price < i.compare_at_price
      ? ($(".was_price", o).html('<span class="money">' + Shopify.formatMoney(i.compare_at_price, $("body").data("money-format")) + "</span>"),
        $(".savings", o).html(
          Shopify.translation.savings_text +
            " " +
            parseInt((100 * (i.compare_at_price - i.price)) / i.compare_at_price) +
            '% (<span class="money">' +
            Shopify.formatMoney(i.compare_at_price - i.price, $("body").data("money-format")) +
            "</span>)"
        ),
        $(".current_price", o).parent().addClass("sale"))
      : ($(".was_price", o).html(""), $(".savings", o).html(""), $(".current_price", o).parent().removeClass("sale")),
    i.inventory_management && 0 < i.inventory_quantity
      ? (Shopify.theme_settings.display_inventory_left &&
          ((items_left_text = 1 == i.inventory_quantity ? Shopify.translation.one_item_left : Shopify.translation.items_left_text),
          (m = parseInt(Shopify.theme_settings.inventory_threshold)),
          i.inventory_quantity <= m ? $(".items_left", o).html(i.inventory_quantity + " " + items_left_text) : $(".items_left", o).html("")),
        Shopify.theme_settings.limit_quantity && "deny" == i.inventory_policy && $(".quantity", o).attr("max", i.inventory_quantity))
      : ($(".items_left", o).text(""), $(".quantity", o).removeAttr("max")),
    $(".sold_out", o).text(""),
    0 < i.price
      ? $(".current_price", o)
          .removeClass("sold_out")
          .html('<span class="money">' + Shopify.formatMoney(i.price, $("body").data("money-format")) + "</span>")
      : $(".current_price", o).removeClass("sold_out").html(Shopify.theme_settings.free_text),
    $(".add_to_cart", o).removeClass("disabled").removeAttr("disabled").find("span").text($(".add_to_cart", o).data("label")),
    $(".shopify-payment-button", o).removeClass("disabled"),
    $(".purchase-details__buttons", o).removeClass("product-is-unavailable"),
    $(".modal_price", o).removeClass("variant-unavailable"),
    n.hide(),
    r.empty())
  : ((u = i ? Shopify.theme_settings.sold_out_text : Shopify.translation.unavailable_text),
    i
      ? (0 < i.price ? $(".current_price", o).html('<span class="money">' + Shopify.formatMoney(i.price, $("body").data("money-format")) + "</span>") : $(".current_price", o).html(Shopify.theme_settings.free_text),
        Shopify.theme_settings.display_sold_out_price && $(".current_price", o).parents(".price__container--display-price-true").addClass("has-margin-right"),
        $(".modal_price", o).removeClass("variant-unavailable"))
      : ($(".modal_price", o).addClass("variant-unavailable"),
        $(".current_price", o).html(""),
        $(".was_price", o).html(""),
        $(".savings", o).html(""),
        $(".current_price", o).parents(".price__container--display-price-true").removeClass("has-margin-right")),
    Shopify.theme_settings.display_sold_out_price || ($(".current_price", o).html(""), $(".was_price", o).html(""), $(".savings", o).html("")),
    $(".items_left", o).text(""),
    $(".quantity", o).removeAttr("max"),
    $(".sold_out", o).text(u),
    $(".purchase-details__buttons", o).addClass("product-is-unavailable"),
    $(".add_to_cart", o).addClass("disabled").attr("disabled", "disabled").find("span").text(u),
    $(".shopify-payment-button").addClass("disabled"),
    n.hide(),
    r.empty(),
    i && !i.available && (n.fadeIn(), r.empty(), r.append(y))),
  Currency.show_multiple_currencies && currencyConverter.convertCurrencies(),
  $(".affirm-as-low-as").attr("data-amount", i.price),
  $("span[itemprop=price]").attr("content", parseFloat(Math.round(100 * i.price) / 1e4).toFixed(2));
};

const productPage = {
  init: function () {
    $(".js-full-width-product-images").length && imageFunctions.fullWidth(".product-template .product .description img", ".js-full-width-product-images"),
      $("[data-product-gallery]").each(function (e, t) {
        var a = $(this);
        productPage.enableGallery(a);
      }),
      "?contact_posted=true" === window.location.search && ($(".notify_form .contact-form").hide(), $(".notify_form .contact-form").prev(".message").html(Shopify.translation.notify_success_text)),
      $(".notify_form .contact-form").each(function () {
        var t = $(this);
        t.on("submit", function (e) {
          "true" !== $('input[name="challenge"]', t).val() &&
            ($.ajax({
              type: t.attr("method"),
              url: t.attr("action"),
              data: t.serialize(),
              success: function (e) {
                t.fadeOut("slow", function () {
                  t.prev(".message").html(Shopify.translation.notify_success_text);
                });
              },
              error: function (e) {
                $('input[name="challenge"]', t).val("true"), t.submit();
              },
            }),
            e.preventDefault());
        });
      }),
      "swatches" == Shopify.theme_settings.product_form_style &&
        $("body").on("change", ".swatch :radio", function () {
          var e,
            t = $(this).closest(".swatch").attr("data-option-index"),
            a = $(this).val(),
            i = $(this).closest(".product_form form");
          e = i.siblings(".notify_form").length ? i.siblings(".notify_form") : $(".js-notify-form");
          var o,
            n = i.find(".swatch_options input:checked").eq(0).val(),
            l = i.find(".swatch_options input:checked").eq(1).val() || "",
            s = i.find(".swatch_options input:checked").eq(2).val() || "";
          (o = n && l && s ? n + " / " + l + " / " + s : n && l ? n + " / " + l : n),
            e.find(".notify_form_message").attr("value", e.find(".notify_form_message").data("body") + " - " + o),
            $(this).closest("form").find(".single-option-selector").eq(t).val(a).trigger("change");
        }),
      $(".js-product-gallery a").fancybox({
        width: 800,
        height: 800,
        baseClass: "product-section__lightbox",
        clickContent: !1,
        afterShow: function (e, t) {
          e.$trigger.first().parents(".js-product-gallery").data("zoom") && $(".fancybox-image").wrap('<span class="zoom-wrap" style="display:inline-block"></span>').css("display", "block").parent().zoom({ touch: !1, magnify: 1 });
        },
        afterClose: function (e, t) {
          var a = e.$trigger.first().parents(".js-product-gallery");
          a.hide(),
            setTimeout(function () {
              a.fadeIn(100), $(".js-product-gallery").find(".is-selected a").focus();
            }, 1);
        },
      }),
      $(".js-product_section .product_form_options").each(function () {
        $(this).find(".selector-wrapper select").length != $(this).data("options-size") &&
          new Shopify.OptionSelectors($(this).data("select-id"), { product: $(this).data("product"), onVariantSelected: selectCallback, enableHistoryState: $(this).data("enable-state") });
      }),
      $(".product-recommendations-container").length && productPage.loadProductRecommendations(),
      this.initializeQuantityBox();
  },
  enableGallery: function (e) {
    var l = $(e),
      t = l.find(".gallery-cell"),
      i = l.closest(".js-product_section").find(".product_gallery_nav"),
      a = i.find(".gallery-cell"),
      o = l.data("zoom"),
      n = l.data("product-lightbox"),
      s = l.data("thumbnails-enabled"),
      r = l.data("thumbnails-slider-enabled"),
      d = l.data("thumbnails-position"),
      c = l.data("gallery-arrows-enabled"),
      p = l.data("slideshow-animation"),
      m = l.data("slideshow-speed");
    !0 === o && (is_touch_device() && $(window).width() < 768 ? "false" === n && imageFunctions.zoom(l) : imageFunctions.zoom(l, !1)),
      l.on("ready.flickity", function () {
        t.each(function (e, t) {
          var a,
            i = $(t).data("media-type") || $(t).find("[data-media-type]").data("media-type");
          switch (i) {
            case "external_video":
            case "video":
              if (((a = $(t).find("[data-plyr-video-id]").data("plyr-video-id")), videoPlayers))
                for (var o = 0; o < videoPlayers.length; o++) (videoPlayers[o].id != a && videoPlayers[o].media.id != a) || $(t).hasClass("is-selected") || (videoPlayers[o].keyboard = { focused: !1, global: !1 });
              break;
            case "model":
              $(t).hasClass("is-selected") &&
                "model" == i &&
                isScreenSizeLarge() &&
                ($(t).on("mouseenter", function () {
                  l.flickity("unbindDrag");
                }),
                $(t).on("mouseleave", function () {
                  l.flickity("bindDrag");
                }));
          }
        });
        var a = l.data("video-loop");
        $.each(videoPlayers, function (e, t) {
          t.loop = a;
        });
      }),
      l.on("change.flickity", function () {
        t.each(function (e, t) {
          var a = $(t).data("media-type") || $(t).find("[data-media-type]").data("media-type");
          if ($(t).hasClass("is-selected"))
            switch (a) {
              case "model":
                isScreenSizeLarge() &&
                  ($(t).on("mouseenter", function () {
                    l.flickity("unbindDrag");
                  }),
                  $(t).on("mouseleave", function () {
                    l.flickity("bindDrag");
                  })),
                  $(t)
                    .find("model-viewer")
                    .on("shopify_model_viewer_ui_toggle_play", function () {
                      l.flickity("unbindDrag");
                    }),
                  $(t)
                    .find("model-viewer")
                    .on("shopify_model_viewer_ui_toggle_pause", function () {
                      l.flickity("bindDrag");
                    });
                break;
              default:
                l.flickity("bindDrag");
            }
          else
            switch (a) {
              case "external_video":
                $.each(videoPlayers, function (e, t) {
                  t.pause();
                });
                break;
              case "video":
                $.each(videoPlayers, function (e, t) {
                  t.pause();
                });
                break;
              case "model":
                $.each(productMedia.models, function (e, t) {
                  t.pause();
                });
            }
        }),
          productMedia.showModelIcon(l);
      }),
      l.flickity({
        wrapAround: !0,
        adaptiveHeight: !0,
        dragThreshold: 10,
        imagesLoaded: !0,
        pageDots: !1,
        prevNextButtons: 1 < l.data("media-count") || 1 < t.length,
        autoPlay: 1e3 * m,
        fade: "fade" === p,
        watchCSS: !1,
        arrowShape: arrowSize,
      }),
      $.each(videoPlayers, function (e, t) {
        t.on("controlshidden", function (e) {
          l.find(".flickity-prev-next-button").css("height", "auto");
        }),
          t.on("controlsshown", function (e) {
            l.find(".flickity-prev-next-button").css("height", "calc(100% - 64px)");
          });
      });
    var u,
      y,
      f = l.find(".flickity-prev-next-button");
    function h() {
      t.each(function (e, t) {
        var a,
          i,
          o,
          n,
          l = $(t),
          s = l.data("media-type") || l.find("[data-media-type]").data("media-type"),
          r = l.find("video").data("plyr-video-id"),
          d = l.find("iframe").attr("id");
        l.hasClass("is-selected") &&
          ("video" == s
            ? (r = l.find("video").data("plyr-video-id")) &&
              ((o = r),
              (n = l),
              $.each(videoPlayers, function (e, t) {
                t.media.dataset.plyrVideoId == o &&
                  (t.play(),
                  t.on("exitfullscreen", function () {
                    n.closest(".product-gallery").find(".product-gallery__thumbnails").focus();
                  }));
              }))
            : "external_video" == s &&
              d &&
              ((a = d),
              (i = l),
              $.each(videoPlayers, function (e, t) {
                t.playing && t.pause(),
                  t.media.id == a &&
                    (t.play(),
                    t.on("exitfullscreen", function () {
                      i.closest(".product-gallery").find(".product-gallery__thumbnails").focus();
                    }));
              })));
      });
    }
    (f || a) &&
      isScreenSizeLarge() &&
      (f.on("click", function () {
        var n = l.data("product-id");
        return (
          l.on("settle.flickity", function (e, t) {
            var a,
              i = l.find(".gallery-cell.is-selected"),
              o = i.data("media-type") || i.find("[data-media-type]").data("media-type");
            ("video" != o && "external_video" != o) || h(),
              "model" == o &&
                ((a = []),
                $.each(productMedia.models, function (e, t) {
                  $(t.container).closest(".gallery-cell").data("product-id") == n && a.push(t);
                }),
                $.each(a, function (e, t) {
                  $(t.container).closest(".gallery-cell").hasClass("is-selected") && t.play();
                })),
              l.off("settle.flickity");
          }),
          !1
        );
      }),
      a.on("click", function (e) {
        var t = $(e.currentTarget).index(),
          n = l.data("product-id");
        return (
          l.flickity("select", t),
          l.on("settle.flickity", function (e, t) {
            var a,
              i = l.find(".gallery-cell.is-selected"),
              o = i.data("media-type") || i.find("[data-media-type]").data("media-type");
            ("video" != o && "external_video" != o) || h(),
              "model" == o &&
                ((a = []),
                $.each(productMedia.models, function (e, t) {
                  $(t.container).closest(".gallery-cell").data("product-id") == n && a.push(t);
                }),
                $.each(a, function (e, t) {
                  $(t.container).closest(".gallery-cell").hasClass("is-selected") && t.play();
                })),
              l.off("settle.flickity");
          }),
          !1
        );
      }),
      a.keypress(function (e) {
        var t = $(e.currentTarget).index(),
          a = l.data("product-id");
        if (13 == e.which) {
          l.flickity("select", t);
          var i = l.find(".gallery-cell.is-selected");
          l.on("settle.flickity", function (e, t) {
            i.find("[data-youtube-video]").attr("tabindex", "0"), i.find("model-viewer, .plyr, a").focus(), l.off("settle.flickity");
          });
          var o,
            n = i.data("media-type") || i.find("[data-media-type]").data("media-type");
          return (
            ("video" != n && "external_video" != n) || h(),
            "model" == n &&
              ((o = []),
              $.each(productMedia.models, function (e, t) {
                $(t.container).closest(".gallery-cell").data("product-id") == a && o.push(t);
              }),
              $.each(o, function (e, t) {
                $(t.container).closest(".gallery-cell").hasClass("is-selected") && t.play();
              })),
            !1
          );
        }
      })),
      1 == s && 1 == r && 1 < t.length
        ? 798 < $(window).width()
          ? "left" == d || "right" == d
            ? (i.css("max-height", l.closest(".product-gallery").outerHeight()),
              i.addClass("vertical-slider-enabled"),
              a.on("click", function (e) {
                var t = $(e.currentTarget).index();
                l.flickity("select", t);
              }),
              (u = a.height()),
              (y = i.height()),
              l.on("select.flickity", function () {
                var e = l.data("flickity");
                i.find(".is-nav-selected").removeClass("is-nav-selected");
                var t = a.eq(e.selectedIndex).addClass("is-nav-selected").position().top + i.scrollTop() - (y + u) / 2;
                i.animate({ scrollTop: t });
              }))
            : (i.flickity({ cellAlign: "center", contain: !0, groupCells: "80%", imagesLoaded: !0, pageDots: !1, prevNextButtons: 5 < a.length && c, asNavFor: l[0], arrowShape: arrowSize }),
              setTimeout(function () {
                i.flickity("resize");
              }, 500),
              $(window).on("load", function () {
                i.flickity("resize");
              }),
              $.each(a, function (e, t) {
                var a = $(t);
                a.hasClass("is-selected") &&
                  a.on("focus", function () {
                    i.flickity("selectCell", e);
                  });
              }))
          : i.flickity({ cellAlign: "center", contain: !0, groupCells: "80%", imagesLoaded: !0, pageDots: !1, prevNextButtons: 5 < a.length && c, asNavFor: l[0], arrowShape: arrowSize })
        : 1 == s &&
          i.find(".product-gallery__thumbnail").on("click", function () {
            var e = $(this).index();
            l.flickity("selectCell", e);
          }),
      $(window).on("load", function () {
        l.flickity("resize");
      }),
      setTimeout(function () {
        l.flickity("resize");
      }, 500);
  },
  loadProductRecommendations: function () {
    var e = $(".meta-related-recommended-collection"),
      t = $(".product-recommendations"),
      a = t.data("productId"),
      i = t.data("limit"),
      o = t.data("enabled"),
      n = e.data("enabled"),
      l = $("[data-product-recommendations-container]"),
      s = $(".js-recommended-products-slider");
    if (e.length) {
      if (!n) return void l.empty();
      l.html(e.html()),
        s.length && this.recommendedProductsSlider(),
        $("[data-product-recommendations-container] .js-product_section .product_form_options").each(function () {
          0 === $(this).find("select").length && new Shopify.OptionSelectors($(this).data("select-id"), { product: $(this).data("product"), onVariantSelected: selectCallback, enableHistoryState: $(this).data("enable-state") });
        }),
        Shopify.PaymentButton && Shopify.PaymentButton.init(),
        $(".recommended-products-section").empty();
    } else if (t.length) {
      if (!o) return void l.empty();
      $.ajax({
        type: "GET",
        url: "/recommendations/products?section_id=product-recommendations&limit=" + i + "&product_id=" + a,
        success: function (e) {
          var t = $(e).find(".product-recommendations").html();
          l.empty(),
            l.html(t),
            s.length && productPage.recommendedProductsSlider(),
            $("[data-product-recommendations-container] .js-product_section .product_form_options").each(function () {
              new Shopify.OptionSelectors($(this).data("select-id"), { product: $(this).data("product"), onVariantSelected: selectCallback, enableHistoryState: $(this).data("enable-state") });
            }),
            Currency.show_multiple_currencies && currencyConverter.convertCurrencies(),
            Shopify.PaymentButton && Shopify.PaymentButton.init(),
            0 === $("[data-recommended-product-count]").data() && $("[data-product-recommendations-container]").hide(),
            videoFeature.setupRecommendedVideoPlayer(),
            Shopify.theme_settings.collection_secondary_image && imageFunctions.showSecondaryImage(),
            hideNoScript();
        },
      });
    } else l.hide();
  },
  productSwatches: function () {
    var e;
    "swatches" == Shopify.theme_settings.product_form_style &&
      ($(".js-product_section").length &&
        ((e = $(".js-product_section").find(".product_form")).addClass("is-visible"),
        e.each(function () {
          var e = $(this).data("product"),
            t = ".product-" + $(this).data("product-id") + " .js-product_section";
          1 < $(this).find(".swatch_options .swatch").length && Shopify.linkOptionSelectors(e, t);
        })),
      1 < $(".js-product_section").length &&
        $("body").on("click", ".swatch-element", function () {
          var e = $(this).data("value").toString();
          $(this)
            .siblings('input[value="' + e.replace(/\"/g, '\\"') + '"]')
            .prop("checked", !0)
            .trigger("change");
          var t = $(this).parents(".product_form").data("product"),
            a = ".product-" + $(this).parents(".product_form").data("product-id") + " .js-product_section";
          1 < $(this).parents(".product_form").find(".swatch_options .swatch").length && Shopify.linkOptionSelectors(t, a);
        }));
  },
  recommendedProductsSlider: function () {
    $(".js-recommended-products-slider .products-slider").each(function (e, t) {
      var a,
        i,
        o,
        n = $(this).data("products-per-slide"),
        l = $(this).data("products-limit"),
        s = $(this).data("products-available"),
        r = ("2" == n && n < s && n < l) || ("4" == n && n < s && n < l) || ("6" == n && n < s && n < l) ? "left" : "center",
        d = (i = a = n < s && n < l);
      ("2" == n && n < s) || ("4" == n && n < s) || ("6" == n && n < s) ? (o = 0) : "3" == n && s ? (o = 1) : "5" == n && s ? (o = 2) : "7" == n && s && (o = 3),
        $(window).width() <= 798 && ((r = "center"), (d = i = a = !0), (o = 1), $(this).parents(".even-num-slides").removeClass("even-num-slides")),
        $(this).flickity({ lazyLoad: 2, imagesLoaded: !0, draggable: a, cellAlign: r, prevNextButtons: i, wrapAround: d, pageDots: usePageDots, contain: !0, freeScroll: !0, arrowShape: arrowSize, initialIndex: o });
    });
  },
  initializeQuantityBox: function () {
    $("body").on("click", ".js-change-quantity", function () {
      var e = $(this),
        t = $(this).siblings("input"),
        a = parseInt(t.val()),
        i = 1e29,
        o = t.attr("min") || 0;
      return (
        null != t.attr("max") && (i = t.attr("max")),
        isNaN(a) || a < o
          ? (t.val(o), !1)
          : i < a
          ? (t.val(i), !1)
          : ("plus" == e.data("func") ? a < i && t.val(a + 1) : (o < a && t.val(a - 1), e.parents(".cart_item").length && a - 1 == 0 && e.closest(".cart_item").addClass("animated fadeOutUp")), void t.trigger("change"))
      );
    });
  },
  unload: function (e) {
    e.find(".products-slider").flickity("destroy"), $("body").off("click", ".js-change-quantity");
  },
};

const social = {
  twitter: function () {
    window.twttr ||
      (window.twttr = (function (e, t) {
        var a,
          i,
          o = e.getElementsByTagName("script")[0];
        if (!e.getElementById(t))
          return (
            ((i = e.createElement("script")).id = t),
            (i.src = "https://platform.twitter.com/widgets.js"),
            o.parentNode.insertBefore(i, o),
            window.twttr ||
              (a = {
                _e: [],
                ready: function (e) {
                  a._e.push(e);
                },
              })
          );
      })(document, "twitter-wjs")),
      window.twttr &&
        window.twttr.ready(function (e) {
          e.widgets.load(document.getElementById("twitter-timeline"));
        });
  },
  unload: function () {},
},
instagram = {
  loadContent: function (l) {
    var e;
    l.clientID &&
      ((e = "https://api.instagram.com/v1/users/self/media/recent/?access_token=" + l.clientID),
      $.ajax({
        type: "GET",
        url: e,
        dataType: "jsonp",
        success: function (e) {
          if (200 === e.meta.code && e.data.length) {
            var e = e.data,
              t = 0;
            l.el.empty();
            for (var a = 0; a < e.length; a++) {
              var i,
                o = e[a],
                n = o.images.low_resolution.url;
              if (
                (-1 < !o.images.low_resolution.url.indexOf("null") &&
                  ((i = '<div class="il-photo__img instagram__bg" style="background-image:url(' + n + ')" data-filter="' + o.filter + '" /></div>'), (i = '<a href="' + o.link + '" target="_blank" class="instagram__link">' + i + "</a>")),
                o.videos &&
                  ((i = '<div class="instagram__video instagram__bg" style="background-image:url(' + n + ')" data-filter="' + o.filter + '" /></div>'),
                  (i = '<a href="' + o.link + '" target="_blank" class="instagram__link instagram__video-link">' + i + "</a>")),
                "" !== (i = i && '<div class="' + l.column + ' columns instagram__item small-down--one-whole">' + i + "</div>") && (l.el.append(i), t++),
                t == l.limit)
              )
                break;
            }
          }
        },
        error: function () {},
      }));
  },
};
