var featuredCollectionSection = {
  init: function () {
    $(".js-product-slider .products-slider").each(function (e, t) {
      var a,
        i,
        o,
        n = $(this).data("products-per-slide"),
        l = $(this).data("products-limit"),
        s = $(this).data("products-available"),
        r = ("2" == n && n < s && n < l) || ("4" == n && n < s && n < l) || ("6" == n && n < s && n < l) ? "left" : "center",
        d = (i = a = n < s && n < l);
      ("2" == n && n < s) || ("4" == n && n < s) || ("6" == n && n < s) ? (o = 0) : "3" == n && s ? (o = 1) : "5" == n && s ? (o = 2) : "7" == n && s && (o = 3),
        $(window).width() <= 798 && ((r = "center"), (d = i = a = !0), (o = 1), $(this).parents(".even-num-slides").removeClass("even-num-slides")),
        $(this).flickity({ lazyLoad: 2, imagesLoaded: !0, draggable: a, prevNextButtons: i, wrapAround: d, cellAlign: r, pageDots: usePageDots, contain: !0, freeScroll: !0, arrowShape: arrowSize, initialIndex: o }),
        $(this).addClass("slider-initialized");
    });
  },
  unload: function (e) {
    var t = e.find(".js-product-slider");
    t.hasClass("flickity-enabled") && t.flickity("destroy");
  },
},
featuredPromotions = {
  init: function () {
    (798 < $(window).width() || 0 == $(window).width()) &&
      ($(".feature-overlay").hover(
        function () {
          $(this)
            .find(".feature-details")
            .slideDown("100", function () {
              $(this).addClass("reveal-details");
            });
        },
        function () {
          $(this).find(".feature-details").removeClass("reveal-details"), $(this).find(".feature-details").slideUp("100");
        }
      )
      );
  },
},
gallery = {
  init: function () {
    $(".gallery-horizontal")
      .find(".gallery-image-wrapper")
      .each(function () {
        var e,
          t,
          a = $(this),
          i = $(this).find("img");
        $("<img />")
          .attr("src", $(i).attr("src"))
          .on("load", function () {
            (e = this.width),
              (t = this.height),
              $(a).css("flex-basis", (200 * e) / t),
              $(a).css("flex-grow", (200 * e) / t),
              $(a)
                .find("i")
                .css("padding-bottom", (t / e) * 100 + "%");
          });
      }),
      $("[rel=gallery]").length && $("[rel=gallery]").fancybox({ baseClass: "gallery-section__lightbox", clickContent: "nextOrClose" });
  },
},
videoSection = {
  init: function () {
    var e = $("[data-video-element]").get(),
      g = Plyr.setup(e, { controls: videoControls, fullscreen: { enabled: !0, fallback: !0, iosNative: !0 }, storage: { enabled: !1 } });
    $.each(g, function (e, t) {
      var a = t.id;
      t.isHTML5 && $(t.elements.wrapper).find("video").attr("data-plyr-video-id", a),
        t.on("play", function (e) {
          var a = e.detail.plyr;
          $.each(g, function (e, t) {
            a.id != t.id && t.pause();
          });
        }),
        globalVideoPlayers && globalVideoPlayers.push(t);
    }),
      $("[data-video-element]").each(function (e, t) {
        var a = $(t),
          o = a.parents(".shopify-section").attr("id", i),
          n = o.find(a),
          l = n.parents(".video-wrapper"),
          s = l.find("[data-play-button]"),
          r = l.find("[data-secondary-button]"),
          d = l.find("[data-video-text]"),
          c = l.find("[data-video-text-container]"),
          p = l.find(".video-wrapper__image"),
          m = l.data("poster-image-uploaded"),
          u = l.data("aspect-ratio"),
          i = l.data("video-src"),
          y = l.data("autoplay"),
          f = l.data("autoloop"),
          h = l.data("mute-video");
        $.each(g, function (e, t) {
          var a, i;
          if ((t.isYouTube || t.isVimeo ? ((a = l.attr("id")), (i = $(t.elements.original).attr("id"))) : t.isHTML5 && ((a = l.find("[data-plyr-video-id]").data("plyr-video-id")), (i = t.id), (n = o.find(".plyr--video"))), i == a))
            return (
              l.removeClass("play-button-icon--visible"),
              y
                ? 768 < $(window).width() || t.isYouTube || t.isVimeo
                  ? ((t.autoplay = !0), p.hide(), n.show(), c.hasClass("display-text-over-video--false") ? d.hide() : d.show(), s.hide())
                  : $(window).width() < 768 &&
                    t.isHTML5 &&
                    (p.hide(),
                    n.show(),
                    s.show(),
                    t.on("play", function () {
                      n.show(), s.hide();
                    }))
                : m
                ? (p.show(), n.hide())
                : (p.hide(), n.show()),
              p.on("click", function () {
                $(this).hide(), n.show(), t.play();
              }),
              h && (t.muted = !0),
              u && (t.ratio = u),
              f && (t.loop = !0),
              s &&
                s.on("click", function () {
                  t.play();
                }),
              t.on("play", function () {
                p.hide(), l.removeClass("play-button-icon--visible"), n.show(), c.hasClass("display-text-over-video--false") ? c.hide() : c.show(), s && s.hide(), r && r.hide();
              }),
              t.on("pause", function () {
                (!s.is(":hidden") && 0 != s.length) || l.addClass("play-button-icon--visible");
              }),
              ((!t.playing && s.is(":hidden")) || 0 == s.length) && l.addClass("play-button-icon--visible"),
              !1
            );
        });
      });
  },
},
cart = {
  init: function () {
    $("#cart_form .tos_agree").length &&
      $("body").on("click", "#cart_form input[type='submit']", function () {
        if (!$(this).parents("form").find(".tos_agree").is(":checked")) {
          var e = '<p class="warning animated bounceIn">' + Shopify.translation.agree_to_terms_warning + "</p>";
          return 0 == $("p.warning").length && $(this).before(e), !1;
        }
        $(this).submit();
      });
  },
};
selectCallback = function (i, e) {
var t,
  a,
  o = $(".product-" + e.product.id),
  n = $(".notify-form-" + e.product.id),
  l = $(".product_form, .shopify-product-form", o),
  s = l.data("variant-inventory"),
  r = $(".notify_form__inputs"),
  d = Shopify.translation.notify_email,
  c = Shopify.translation.notify_email_send,
  p = r.data("url");
i
  ? null != i.title && ((t = i.title.replace(/"/g, "&quot;")), (a = Shopify.translation.notify_message_first + t + Shopify.translation.notify_message_last + p))
  : (a = Shopify.translation.notify_message_first + Shopify.translation.notify_message_last + p);
var m,
  u,
  y =
    (r.hasClass("customer--true")
      ? '<input type="hidden" class="notify_email" name="contact[email]" id="contact[email]" value="{{ customer.email }}" />'
      : '<input required type="email" class="notify_email" name="contact[email]" id="contact[email]" placeholder="' + d + '" value="{{ contact.fields.email }}" />') +
    '<input type="hidden" name="challenge" value="false" /><input type="hidden" name="contact[body]" class="notify_form_message" data-body="' +
    a +
    '" value="' +
    a +
    '" /><input class="action_button" type="submit" value="' +
    c +
    '" style="margin-bottom:0px" />';
if (
  (i &&
    i.featured_image &&
    o.is(":visible") &&
    $(".js-product-gallery, .js-gallery-modal", o).each(function () {
      var e,
        t = $(this),
        a = Flickity.data(this);
      t.is(":visible") && null != a && ((e = $('[data-image-id="' + i.featured_media.id + '"]').data("index")), a.select(e, !1, !0));
    }),
  "false" == $("#buildring").val() && (Flickity.data(".js-product-gallery").select(0, !1, !1), $("#buildring").val("true")),
  i)
)
  if (
    (s &&
      s.forEach(function (e) {
        e.id === i.id && ((i.inventory_quantity = e.inventory_quantity), (i.inventory_management = e.inventory_management), (i.inventory_policy = e.inventory_policy));
      }),
    $(".sku span", o).text(i.sku),
    "swatches" == Shopify.theme_settings.product_form_style)
  )
    for (var f = 0, h = i.options.length; f < h; f++) {
      var g = l.find('.swatch[data-option-index="' + escape(f) + '"] :radio[value="' + i.options[f].replace(/\"/g, '\\"') + '"]');
      g.length && (g.get(0).checked = !0);
    }
  else $(".notify_form_message", o).attr("value", $(".notify_form_message", o).data("body") + " - " + t);
i && 1 == i.available
  ? (i.price < i.compare_at_price
      ? ($(".was_price", o).html('<span class="money">' + Shopify.formatMoney(i.compare_at_price, $("body").data("money-format")) + "</span>"),
        $(".savings", o).html(
          Shopify.translation.savings_text +
            " " +
            parseInt((100 * (i.compare_at_price - i.price)) / i.compare_at_price) +
            '% (<span class="money">' +
            Shopify.formatMoney(i.compare_at_price - i.price, $("body").data("money-format")) +
            "</span>)"
        ),
        $(".current_price", o).parent().addClass("sale"))
      : ($(".was_price", o).html(""), $(".savings", o).html(""), $(".current_price", o).parent().removeClass("sale")),
    i.inventory_management && 0 < i.inventory_quantity
      ? (Shopify.theme_settings.display_inventory_left &&
          ((items_left_text = 1 == i.inventory_quantity ? Shopify.translation.one_item_left : Shopify.translation.items_left_text),
          (m = parseInt(Shopify.theme_settings.inventory_threshold)),
          i.inventory_quantity <= m ? $(".items_left", o).html(i.inventory_quantity + " " + items_left_text) : $(".items_left", o).html("")),
        Shopify.theme_settings.limit_quantity && "deny" == i.inventory_policy && $(".quantity", o).attr("max", i.inventory_quantity))
      : ($(".items_left", o).text(""), $(".quantity", o).removeAttr("max")),
    $(".sold_out", o).text(""),
    0 < i.price
      ? $(".current_price", o)
          .removeClass("sold_out")
          .html('<span class="money">' + Shopify.formatMoney(i.price, $("body").data("money-format")) + "</span>")
      : $(".current_price", o).removeClass("sold_out").html(Shopify.theme_settings.free_text),
    $(".add_to_cart", o).removeClass("disabled").removeAttr("disabled").find("span").text($(".add_to_cart", o).data("label")),
    $(".shopify-payment-button", o).removeClass("disabled"),
    $(".purchase-details__buttons", o).removeClass("product-is-unavailable"),
    $(".modal_price", o).removeClass("variant-unavailable"),
    n.hide(),
    r.empty())
  : ((u = i ? Shopify.theme_settings.sold_out_text : Shopify.translation.unavailable_text),
    i
      ? (0 < i.price ? $(".current_price", o).html('<span class="money">' + Shopify.formatMoney(i.price, $("body").data("money-format")) + "</span>") : $(".current_price", o).html(Shopify.theme_settings.free_text),
        Shopify.theme_settings.display_sold_out_price && $(".current_price", o).parents(".price__container--display-price-true").addClass("has-margin-right"),
        $(".modal_price", o).removeClass("variant-unavailable"))
      : ($(".modal_price", o).addClass("variant-unavailable"),
        $(".current_price", o).html(""),
        $(".was_price", o).html(""),
        $(".savings", o).html(""),
        $(".current_price", o).parents(".price__container--display-price-true").removeClass("has-margin-right")),
    Shopify.theme_settings.display_sold_out_price || ($(".current_price", o).html(""), $(".was_price", o).html(""), $(".savings", o).html("")),
    $(".items_left", o).text(""),
    $(".quantity", o).removeAttr("max"),
    $(".sold_out", o).text(u),
    $(".purchase-details__buttons", o).addClass("product-is-unavailable"),
    $(".add_to_cart", o).addClass("disabled").attr("disabled", "disabled").find("span").text(u),
    $(".shopify-payment-button").addClass("disabled"),
    n.hide(),
    r.empty(),
    i && !i.available && (n.fadeIn(), r.empty(), r.append(y))),
  Currency.show_multiple_currencies && currencyConverter.convertCurrencies(),
  $(".affirm-as-low-as").attr("data-amount", i.price),
  $("span[itemprop=price]").attr("content", parseFloat(Math.round(100 * i.price) / 1e4).toFixed(2)),
  $(".money").attr("data-currency-usd", "$ " + parseFloat(Math.round(100 * i.price) / 1e4).toFixed(2)),
  $(".money").html("$ " + parseFloat(Math.round(100 * i.price) / 1e4).toFixed(2));
};
var productPage = {
  init: function () {
    $(".js-full-width-product-images").length && imageFunctions.fullWidth(".product-template .product .description img", ".js-full-width-product-images"),
      $("[data-product-gallery]").each(function (e, t) {
        var a = $(this);
        productPage.enableGallery(a);
      }),
      "?contact_posted=true" === window.location.search && ($(".notify_form .contact-form").hide(), $(".notify_form .contact-form").prev(".message").html(Shopify.translation.notify_success_text)),
      $(".notify_form .contact-form").each(function () {
        var t = $(this);
        t.on("submit", function (e) {
          "true" !== $('input[name="challenge"]', t).val() &&
            ($.ajax({
              type: t.attr("method"),
              url: t.attr("action"),
              data: t.serialize(),
              success: function (e) {
                t.fadeOut("slow", function () {
                  t.prev(".message").html(Shopify.translation.notify_success_text);
                });
              },
              error: function (e) {
                $('input[name="challenge"]', t).val("true"), t.submit();
              },
            }),
            e.preventDefault());
        });
      }),
      "swatches" == Shopify.theme_settings.product_form_style &&
        $("body").on("change", ".swatch :radio", function () {
          var e,
            t = $(this).closest(".swatch").attr("data-option-index"),
            a = $(this).val(),
            i = $(this).closest(".product_form form");
          e = i.siblings(".notify_form").length ? i.siblings(".notify_form") : $(".js-notify-form");
          var o,
            n = i.find(".swatch_options input:checked").eq(0).val(),
            l = i.find(".swatch_options input:checked").eq(1).val() || "",
            s = i.find(".swatch_options input:checked").eq(2).val() || "";
          (o = n && l && s ? n + " / " + l + " / " + s : n && l ? n + " / " + l : n),
            e.find(".notify_form_message").attr("value", e.find(".notify_form_message").data("body") + " - " + o),
            $(this).closest("form").find(".single-option-selector").eq(t).val(a).trigger("change");
        }),
      $(".js-product-gallery a").fancybox({
        width: 800,
        height: 800,
        baseClass: "product-section__lightbox",
        clickContent: !1,
        afterShow: function (e, t) {
          e.$trigger.first().parents(".js-product-gallery").data("zoom") && $(".fancybox-image").wrap('<span class="zoom-wrap" style="display:inline-block"></span>').css("display", "block").parent().zoom({ touch: !1, magnify: 1 });
        },
        afterClose: function (e, t) {
          var a = e.$trigger.first().parents(".js-product-gallery");
          a.hide(),
            setTimeout(function () {
              a.fadeIn(100), $(".js-product-gallery").find(".is-selected a").focus();
            }, 1);
        },
      }),
      $(".js-product_section .product_form_options").each(function () {
        $(this).find(".selector-wrapper select").length != $(this).data("options-size") &&
          new Shopify.OptionSelectors($(this).data("select-id"), { product: $(this).data("product"), onVariantSelected: selectCallback, enableHistoryState: $(this).data("enable-state") });
      }),
      $(".product-recommendations-container").length && productPage.loadProductRecommendations(),
      this.initializeQuantityBox();
  },
  enableGallery: function (e) {
    var l = $(e),
      t = l.find(".gallery-cell"),
      i = l.closest(".js-product_section").find(".product_gallery_nav"),
      a = i.find(".gallery-cell"),
      o = l.data("zoom"),
      n = l.data("product-lightbox"),
      s = l.data("thumbnails-enabled"),
      r = l.data("thumbnails-slider-enabled"),
      d = l.data("thumbnails-position"),
      c = l.data("gallery-arrows-enabled"),
      p = l.data("slideshow-animation"),
      m = l.data("slideshow-speed");
    !0 === o && (is_touch_device() && $(window).width() < 768 ? "false" === n && imageFunctions.zoom(l) : imageFunctions.zoom(l, !1)),
      l.on("ready.flickity", function () {
        t.each(function (e, t) {
          var a,
            i = $(t).data("media-type") || $(t).find("[data-media-type]").data("media-type");
          switch (i) {
            case "external_video":
            case "video":
              if (((a = $(t).find("[data-plyr-video-id]").data("plyr-video-id")), videoPlayers))
                for (var o = 0; o < videoPlayers.length; o++) (videoPlayers[o].id != a && videoPlayers[o].media.id != a) || $(t).hasClass("is-selected") || (videoPlayers[o].keyboard = { focused: !1, global: !1 });
              break;
            case "model":
              $(t).hasClass("is-selected") &&
                "model" == i &&
                isScreenSizeLarge() &&
                ($(t).on("mouseenter", function () {
                  l.flickity("unbindDrag");
                }),
                $(t).on("mouseleave", function () {
                  l.flickity("bindDrag");
                }));
          }
        });
        var a = l.data("video-loop");
        $.each(videoPlayers, function (e, t) {
          t.loop = a;
        });
      }),
      l.on("change.flickity", function () {
        t.each(function (e, t) {
          var a = $(t).data("media-type") || $(t).find("[data-media-type]").data("media-type");
          if ($(t).hasClass("is-selected"))
            switch (a) {
              case "model":
                isScreenSizeLarge() &&
                  ($(t).on("mouseenter", function () {
                    l.flickity("unbindDrag");
                  }),
                  $(t).on("mouseleave", function () {
                    l.flickity("bindDrag");
                  })),
                  $(t)
                    .find("model-viewer")
                    .on("shopify_model_viewer_ui_toggle_play", function () {
                      l.flickity("unbindDrag");
                    }),
                  $(t)
                    .find("model-viewer")
                    .on("shopify_model_viewer_ui_toggle_pause", function () {
                      l.flickity("bindDrag");
                    });
                break;
              default:
                l.flickity("bindDrag");
            }
          else
            switch (a) {
              case "external_video":
                $.each(videoPlayers, function (e, t) {
                  t.pause();
                });
                break;
              case "video":
                $.each(videoPlayers, function (e, t) {
                  t.pause();
                });
                break;
              case "model":
                $.each(productMedia.models, function (e, t) {
                  t.pause();
                });
            }
        }),
          productMedia.showModelIcon(l);
      }),
      l.flickity({
        wrapAround: !0,
        adaptiveHeight: !0,
        dragThreshold: 10,
        imagesLoaded: !0,
        pageDots: !1,
        prevNextButtons: 1 < l.data("media-count") || 1 < t.length,
        autoPlay: 1e3 * m,
        fade: "fade" === p,
        watchCSS: !1,
        arrowShape: arrowSize,
      }),
      $.each(videoPlayers, function (e, t) {
        t.on("controlshidden", function (e) {
          l.find(".flickity-prev-next-button").css("height", "auto");
        }),
          t.on("controlsshown", function (e) {
            l.find(".flickity-prev-next-button").css("height", "calc(100% - 64px)");
          });
      });
    var u,
      y,
      f = l.find(".flickity-prev-next-button");
    function h() {
      t.each(function (e, t) {
        var a,
          i,
          o,
          n,
          l = $(t),
          s = l.data("media-type") || l.find("[data-media-type]").data("media-type"),
          r = l.find("video").data("plyr-video-id"),
          d = l.find("iframe").attr("id");
        l.hasClass("is-selected") &&
          ("video" == s
            ? (r = l.find("video").data("plyr-video-id")) &&
              ((o = r),
              (n = l),
              $.each(videoPlayers, function (e, t) {
                t.media.dataset.plyrVideoId == o &&
                  (t.play(),
                  t.on("exitfullscreen", function () {
                    n.closest(".product-gallery").find(".product-gallery__thumbnails").focus();
                  }));
              }))
            : "external_video" == s &&
              d &&
              ((a = d),
              (i = l),
              $.each(videoPlayers, function (e, t) {
                t.playing && t.pause(),
                  t.media.id == a &&
                    (t.play(),
                    t.on("exitfullscreen", function () {
                      i.closest(".product-gallery").find(".product-gallery__thumbnails").focus();
                    }));
              })));
      });
    }
    (f || a) &&
      isScreenSizeLarge() &&
      (f.on("click", function () {
        var n = l.data("product-id");
        return (
          l.on("settle.flickity", function (e, t) {
            var a,
              i = l.find(".gallery-cell.is-selected"),
              o = i.data("media-type") || i.find("[data-media-type]").data("media-type");
            ("video" != o && "external_video" != o) || h(),
              "model" == o &&
                ((a = []),
                $.each(productMedia.models, function (e, t) {
                  $(t.container).closest(".gallery-cell").data("product-id") == n && a.push(t);
                }),
                $.each(a, function (e, t) {
                  $(t.container).closest(".gallery-cell").hasClass("is-selected") && t.play();
                })),
              l.off("settle.flickity");
          }),
          !1
        );
      }),
      a.on("click", function (e) {
        var t = $(e.currentTarget).index(),
          n = l.data("product-id");
        return (
          l.flickity("select", t),
          l.on("settle.flickity", function (e, t) {
            var a,
              i = l.find(".gallery-cell.is-selected"),
              o = i.data("media-type") || i.find("[data-media-type]").data("media-type");
            ("video" != o && "external_video" != o) || h(),
              "model" == o &&
                ((a = []),
                $.each(productMedia.models, function (e, t) {
                  $(t.container).closest(".gallery-cell").data("product-id") == n && a.push(t);
                }),
                $.each(a, function (e, t) {
                  $(t.container).closest(".gallery-cell").hasClass("is-selected") && t.play();
                })),
              l.off("settle.flickity");
          }),
          !1
        );
      }),
      a.keypress(function (e) {
        var t = $(e.currentTarget).index(),
          a = l.data("product-id");
        if (13 == e.which) {
          l.flickity("select", t);
          var i = l.find(".gallery-cell.is-selected");
          l.on("settle.flickity", function (e, t) {
            i.find("[data-youtube-video]").attr("tabindex", "0"), i.find("model-viewer, .plyr, a").focus(), l.off("settle.flickity");
          });
          var o,
            n = i.data("media-type") || i.find("[data-media-type]").data("media-type");
          return (
            ("video" != n && "external_video" != n) || h(),
            "model" == n &&
              ((o = []),
              $.each(productMedia.models, function (e, t) {
                $(t.container).closest(".gallery-cell").data("product-id") == a && o.push(t);
              }),
              $.each(o, function (e, t) {
                $(t.container).closest(".gallery-cell").hasClass("is-selected") && t.play();
              })),
            !1
          );
        }
      })),
      1 == s && 1 == r && 1 < t.length
        ? 798 < $(window).width()
          ? "left" == d || "right" == d
            ? (i.css("max-height", l.closest(".product-gallery").outerHeight()),
              i.addClass("vertical-slider-enabled"),
              a.on("click", function (e) {
                var t = $(e.currentTarget).index();
                l.flickity("select", t);
              }),
              (u = a.height()),
              (y = i.height()),
              l.on("select.flickity", function () {
                var e = l.data("flickity");
                i.find(".is-nav-selected").removeClass("is-nav-selected");
                var t = a.eq(e.selectedIndex).addClass("is-nav-selected").position().top + i.scrollTop() - (y + u) / 2;
                i.animate({ scrollTop: t });
              }))
            : (i.flickity({ cellAlign: "center", contain: !0, groupCells: "80%", imagesLoaded: !0, pageDots: !1, prevNextButtons: 5 < a.length && c, asNavFor: l[0], arrowShape: arrowSize }),
              setTimeout(function () {
                i.flickity("resize");
              }, 500),
              $(window).on("load", function () {
                i.flickity("resize");
              }),
              $.each(a, function (e, t) {
                var a = $(t);
                a.hasClass("is-selected") &&
                  a.on("focus", function () {
                    i.flickity("selectCell", e);
                  });
              }))
          : i.flickity({ cellAlign: "center", contain: !0, groupCells: "80%", imagesLoaded: !0, pageDots: !1, prevNextButtons: 5 < a.length && c, asNavFor: l[0], arrowShape: arrowSize })
        : 1 == s &&
          i.find(".product-gallery__thumbnail").on("click", function () {
            var e = $(this).index();
            l.flickity("selectCell", e);
          }),
      $(window).on("load", function () {
        l.flickity("resize");
      }),
      setTimeout(function () {
        l.flickity("resize");
      }, 500);
  },
  loadProductRecommendations: function () {
    var e = $(".meta-related-recommended-collection"),
      t = $(".product-recommendations"),
      a = t.data("productId"),
      i = t.data("limit"),
      o = t.data("enabled"),
      n = e.data("enabled"),
      l = $("[data-product-recommendations-container]"),
      s = $(".js-recommended-products-slider");
    if (e.length) {
      if (!n) return void l.empty();
      l.html(e.html()),
        s.length && this.recommendedProductsSlider(),
        $("[data-product-recommendations-container] .js-product_section .product_form_options").each(function () {
          0 === $(this).find("select").length && new Shopify.OptionSelectors($(this).data("select-id"), { product: $(this).data("product"), onVariantSelected: selectCallback, enableHistoryState: $(this).data("enable-state") });
        }),
        Shopify.PaymentButton && Shopify.PaymentButton.init(),
        $(".recommended-products-section").empty();
    } else if (t.length) {
      if (!o) return void l.empty();
      $.ajax({
        type: "GET",
        url: "/recommendations/products?section_id=product-recommendations&limit=" + i + "&product_id=" + a,
        success: function (e) {
          var t = $(e).find(".product-recommendations").html();
          l.empty(),
            l.html(t),
            s.length && productPage.recommendedProductsSlider(),
            $("[data-product-recommendations-container] .js-product_section .product_form_options").each(function () {
              new Shopify.OptionSelectors($(this).data("select-id"), { product: $(this).data("product"), onVariantSelected: selectCallback, enableHistoryState: $(this).data("enable-state") });
            }),
            Currency.show_multiple_currencies && currencyConverter.convertCurrencies(),
            Shopify.PaymentButton && Shopify.PaymentButton.init(),
            0 === $("[data-recommended-product-count]").data() && $("[data-product-recommendations-container]").hide(),
            videoFeature.setupRecommendedVideoPlayer(),
            Shopify.theme_settings.collection_secondary_image && imageFunctions.showSecondaryImage(),
            hideNoScript();
        },
      });
    } else l.hide();
  },
  productSwatches: function () {
    var e;
    "swatches" == Shopify.theme_settings.product_form_style &&
      ($(".js-product_section").length &&
        ((e = $(".js-product_section").find(".product_form")).addClass("is-visible"),
        e.each(function () {
          var e = $(this).data("product"),
            t = ".product-" + $(this).data("product-id") + " .js-product_section";
          1 < $(this).find(".swatch_options .swatch").length && Shopify.linkOptionSelectors(e, t);
        })),
      1 < $(".js-product_section").length &&
        $("body").on("click", ".swatch-element", function () {
          var e = $(this).data("value").toString();
          $(this)
            .siblings('input[value="' + e.replace(/\"/g, '\\"') + '"]')
            .prop("checked", !0)
            .trigger("change");
          var t = $(this).parents(".product_form").data("product"),
            a = ".product-" + $(this).parents(".product_form").data("product-id") + " .js-product_section";
          1 < $(this).parents(".product_form").find(".swatch_options .swatch").length && Shopify.linkOptionSelectors(t, a);
        }));
  },
  recommendedProductsSlider: function () {
    $(".js-recommended-products-slider .products-slider").each(function (e, t) {
      var a,
        i,
        o,
        n = $(this).data("products-per-slide"),
        l = $(this).data("products-limit"),
        s = $(this).data("products-available"),
        r = ("2" == n && n < s && n < l) || ("4" == n && n < s && n < l) || ("6" == n && n < s && n < l) ? "left" : "center",
        d = (i = a = n < s && n < l);
      ("2" == n && n < s) || ("4" == n && n < s) || ("6" == n && n < s) ? (o = 0) : "3" == n && s ? (o = 1) : "5" == n && s ? (o = 2) : "7" == n && s && (o = 3),
        $(window).width() <= 798 && ((r = "center"), (d = i = a = !0), (o = 1), $(this).parents(".even-num-slides").removeClass("even-num-slides")),
        $(this).flickity({ lazyLoad: 2, imagesLoaded: !0, draggable: a, cellAlign: r, prevNextButtons: i, wrapAround: d, pageDots: usePageDots, contain: !0, freeScroll: !0, arrowShape: arrowSize, initialIndex: o });
    });
  },
  initializeQuantityBox: function () {
    $("body").on("click", ".js-change-quantity", function () {
      var e = $(this),
        t = $(this).siblings("input"),
        a = parseInt(t.val()),
        i = 1e29,
        o = t.attr("min") || 0;
      return (
        null != t.attr("max") && (i = t.attr("max")),
        isNaN(a) || a < o
          ? (t.val(o), !1)
          : i < a
          ? (t.val(i), !1)
          : ("plus" == e.data("func") ? a < i && t.val(a + 1) : (o < a && t.val(a - 1), e.parents(".cart_item").length && a - 1 == 0 && e.closest(".cart_item").addClass("animated fadeOutUp")), void t.trigger("change"))
      );
    });
  },
  unload: function (e) {
    e.find(".products-slider").flickity("destroy"), $("body").off("click", ".js-change-quantity");
  },
},
header = {
  init: function () {
    function i() {
      $("body").removeClass("is-active").removeClass("blocked-scroll"), $(".dropdown_link").toggleClass("active_link"), $(".cart_container").removeClass("active_link");
    }
    $(".dropdown_link--vertical").length &&
      ($(".dropdown_link--vertical, .vertical-menu_submenu").on("mouseover", function (e) {
        $(this)
          .parents(".main_nav")
          .find('[data-dropdown="' + $(this).data("dropdown-rel") + '"]'),
          $(this).attr("data-click-count");
        $(".dropdown_container").hide(),
          $(".active_link").removeClass("active_link"),
          $(this).hasClass("active_link") || ($(".dropdown_container").hide(), $(this).children("a").addClass("active_link"), $(".is-absolute").parent().addClass("feature_image"));
      }),
      is_touch_device() &&
        $(".vertical-menu .sublink a, .vertical-menu_submenu .sublink a").on("touchstart click", function (o) {
          o.stopPropagation();
          var e = $(this);
          function t(e) {
            var t = $(e)
                .parents(".main_nav")
                .find('[data-dropdown="' + $(this).data("dropdown-rel") + '"]'),
              a = $(e).next(".vertical-menu_submenu"),
              i = $(e).attr("data-click-count");
            return (
              $(".dropdown_link--vertical").not(e).attr("data-click-count", 0),
              $(".dropdown_link--vertical").attr("data-no-instant", !0),
              $(".dropdown_container").hide(),
              t.show(),
              $(".vertical-menu_submenu").removeClass("is-visible"),
              a.addClass("is-visible"),
              "touchstart" == o.type && (i++, $(e).attr("data-click-count", i), i < 2) ? (o.preventDefault(), void o.stopPropagation()) : void 0
            );
          }
          "touchstart" == o.type ? ((clicked = !0), $(this).attr("data-click-count") < 1 && (t(e), o.preventDefault())) : "click" != o.type || clicked ? (clicked = !1) : $(this).attr("data-click-count") < 1 && (t(e), o.preventDefault());
        })),
      $(".promo_banner").length &&
        "dismiss" != Cookies.get("promo_banner") &&
        ($("body").addClass("promo_banner-show"),
        $(".promo_banner").on("click", ".promo_banner-close", function () {
          $("body").removeClass("promo_banner-show"), Cookies.set("promo_banner", "dismiss", { expires: 30 });
        })),
      $(".vertical-menu_submenu, .vertical-menu_sub-submenu").each(function () {
        $(this).is(":off-right") && $(this).addClass("vertical-menu--align-right");
      }),
      $("html").on("click", function (e) {
        !$(e.target).closest(".cart_container").length && $(".cart_content").is(":visible") && i(),
          $(e.target).closest(".dropdown_container").length ||
            !$(".dropdown").is(":visible") ||
            $(e.target).hasClass("url-deadlink") ||
            ($("body").removeClass("is-active"), $(".dropdown_link").removeClass("active_link"), $(".dropdown_container").hide(), $(".mobile_nav").find("div").removeClass("open"));
      }),
      798 < $(window).width()
        ? ($(".header").hasClass("header-fixed--true")
            ? ($("body").on("click", '.banner a[href^="#"]', function (e) {
                e.preventDefault();
                var t = $(this).attr("href"),
                  a = $(".main_nav_wrapper.sticky_nav").outerHeight();
                $("html, body").animate({ scrollTop: $(t).offset().top - a }, 2e3);
              }),
              $(".main_nav_wrapper").hasClass("sticky_nav") ||
                new Headhesive(".main_nav_wrapper", {
                  offset: 700,
                  throttle: 300,
                  classes: { clone: "sticky_nav", stick: "sticky_nav--stick", unstick: "sticky_nav--unstick" },
                  onInit: function () {
                    $(".sticky_nav .secondary_logo").css("display", "none"),
                      $(".sticky_nav .primary_logo").css("display", "block"),
                      $(".sticky_nav .icon-search").css("display", "block"),
                      $(".sticky_nav .search_container").css("display", "none"),
                      $(".sticky_nav .nav:last").prepend($(".header .cart_container").clone()),
                      "inline" == Shopify.theme_settings.menu_position ? $(".sticky_nav").height() : $(".sticky_nav .nav").height();
                  },
                  onStick: function () {
                    $(".sticky_nav .mini_cart").css("height", $(".sticky_nav .main_nav").height()), $(".sticky_nav .cart_content").css("top", $(".sticky_nav .main_nav").height());
                  },
                  onUnstick: function () {
                    $(".cart_container").removeClass("active_link");
                  },
                }))
            : ($(".header-fixed--true").removeClass("header-fixed--true"), 1 < $(".main_nav_wrapper").length && $(".main_nav_wrapper").first().remove()),
          $("img.primary_logo:visible") ? $(".logo img", $(".feature_image .header")).attr("src", $(".logo img").data("src-home")) : $(".logo img").attr("src", $(".logo img").data("src")))
        : $("#header").hasClass("mobile_nav-fixed--true")
        ? ($("body").addClass("mobile_nav-fixed--true"),
          $("body").on("click", '.banner a[href^="#"]', function (e) {
            e.preventDefault();
            var t = $(this).attr("href"),
              a = $("#header").outerHeight();
            $("html, body").animate({ scrollTop: $(t).offset().top - a }, 2e3);
          }))
        : $("body").addClass("mobile_nav-fixed--false"),
      $("#header .cart_content").length < 1 && $("#header .cart_container").append($(".header .cart_content").clone()),
      (is_touch_device() && $(window).width() <= 798) || $(window).width() <= 798
        ? ($(".dropdown_link").attr("data-no-instant", !0),
          $("body").on("click", ".dropdown_link", function (e) {
            if (($(".nav a").removeClass("active_link"), $("#header").is(":visible"))) {
              var t = $(this)
                .parents("#header")
                .find('[data-dropdown="' + $(this).data("dropdown-rel") + '"]');
              $(this).hasClass("mini_cart") || $(".cart_container").removeClass("active_link");
            } else {
              if ($(this).hasClass("icon-search")) return (window.location = $(this).attr("href")), !1;
              t = $(this)
                .parents(".main_nav")
                .find('[data-dropdown="' + $(this).data("dropdown-rel") + '"]');
            }
            if (
              (t.is(":visible") || void 0 === t.attr("class")
                ? (t.hide(), $("body").removeClass("is-active"))
                : ($(".dropdown_container").hide(),
                  $(this).hasClass("cart_container") || $(".is-absolute").parent().removeClass("feature_image"),
                  t.show(),
                  $("body").addClass("is-active"),
                  $(".mobile_nav").find("div").removeClass("open")),
              t.is(":visible"))
            )
              return e.stopPropagation(), !1;
          }),
          $("body").on("click", ".mobile_nav", function () {
            $(this).find("div").toggleClass("open");
          }),
          "redirect_cart" != Shopify.theme_settings.cart_action &&
            $(".mini_cart").on("click", function (e) {
              var t,
                a = $(this).parent();
              a.hasClass("active_link")
                ? (i(), $("body").removeClass("blocked-scroll"))
                : ((t = a), $("body").addClass("blocked-scroll"), $(".mobile_nav div").removeClass("open"), $(".dropdown_link").removeClass("active_link"), t.addClass("active_link"), $("body").addClass("blocked-scroll")),
                (is_touch_device() || $(window).width() <= 798) && e.preventDefault();
            }),
          $(".cart_content__continue-shopping").on("click", function (e) {
            i();
          }))
        : ($(".nav a, .logo a")
            .not(".cart_content a")
            .on("mouseenter", function () {
              $(this).hasClass("active_link") || ($(".dropdown_container").hide(), $(".active_link").removeClass("active_link"), $(".is-absolute").parent().addClass("feature_image"));
            }),
          $(".main_nav, .top_bar, .cart_container").on("mouseleave", function () {
            798 < $(window).width() && $(".dropdown_container").hide(), $(".active_link").removeClass("active_link"), $(".is-absolute").parent().addClass("feature_image");
          }),
          $(".dropdown_link, .dropdown_link--vertical").attr("data-click-count", 0),
          $(".dropdown_link").on("mouseover touchstart", function (e) {
            798 < $(window).width() && $(".dropdown_container").hide();
            var t = $(this)
                .parents(".main_nav")
                .find('[data-dropdown="' + $(this).data("dropdown-rel") + '"]'),
              a = $(this).attr("data-click-count");
            if (
              ($(".active_link").removeClass("active_link"),
              $(this).hasClass("active_link") ||
                (t.show(),
                $(this).hasClass("mini_cart")
                  ? $("body").hasClass("cart") || $(this).parent(".cart_container").addClass("active_link")
                  : (798 < $(window).width() && $(this).addClass("active_link"), $(".is-absolute").parent().removeClass("feature_image"))),
              is_touch_device() && ($(".dropdown_link").not(this).attr("data-click-count", 0), $(".dropdown_link").attr("data-no-instant", !0), "touchstart" == e.type && (a++, $(this).attr("data-click-count", a), a < 2)))
            )
              return e.preventDefault(), e.stopPropagation(), !1;
          }));
  },
  removeDataAttributes: function (e) {
    if ($(e).length) {
      for (var a = $(e), t = [], i = a.get(0).attributes, o = i.length, n = 0; n < o; n++) "data-" === i[n].name.substring(0, 5) && t.push(i[n].name);
      $.each(t, function (e, t) {
        a.removeAttr(t);
      });
    }
  },
  loadMegaMenu: function () {
    $(".sticky_nav .mega-menu").remove(),
      $(".header .mega-menu").remove(),
      $(".mega-menu-container .mega-menu").clone().appendTo(".sticky_nav .main_nav"),
      header.removeDataAttributes(".sticky_nav .mega-menu.dropdown_container .dropdown_column"),
      $(".mega-menu-container .mega-menu").each(function (e) {
        var t = $(this).data("dropdown");
        $('[data-dropdown-rel="' + t + '"]')
          .find("span")
          .remove(),
          $('[data-dropdown-rel="' + t + '"]')
            .not(".icon-search")
            .append(' <span class="icon-down-arrow"></span>')
            .addClass("mega-menu-parent")
            .addClass("dropdown_link")
            .removeClass("top_link"),
          $('[data-dropdown="' + t + '"]').each(function (e) {
            $(this).hasClass("mega-menu") || $(this).remove();
          }),
          $(this).clone().appendTo(".header .main_nav");
      }),
      $(".dropdown_link--vertical").length &&
        ($(".dropdown_link--vertical.mega-menu-parent + .vertical-menu_submenu").remove(),
        $(".dropdown_link--vertical:not(.mega-menu-parent)").each(function (e) {
          var t = $(this).data("dropdown-rel");
          $('[data-dropdown="' + t + '"]').remove();
        })),
      $(".mega-menu-parent").on("mouseenter", function () {
        $(this).hasClass("active_link") ||
          ($(".dropdown_container").hide(),
          $(this)
            .parents(".main_nav")
            .find('[data-dropdown="' + $(this).data("dropdown-rel") + '"]')
            .toggle(),
          $(this).addClass("active_link"),
          $(".is-absolute").parent().removeClass("feature_image"));
      }),
      header.removeDataAttributes(".header .mega-menu.dropdown_container .dropdown_column"),
      (is_touch_device() || $(window).width() <= 798) && $(".dropdown_link").attr("data-no-instant", !0),
      header.loadMobileMegaMenu();
  },
  loadMobileMegaMenu: function () {
    $(".mega-menu-container .mobile-mega-menu").each(function (e) {
      $('[data-mobile-dropdown-rel="' + $(this).data("mobile-dropdown") + '"]')
        .find("span")
        .remove(),
        $('[data-mobile-dropdown-rel="' + $(this).data("mobile-dropdown") + '"] > a')
          .append(' <span class="right icon-down-arrow"></span>')
          .attr("data-no-instant", "true"),
        $('[data-mobile-dropdown-rel="' + $(this).data("mobile-dropdown") + '"]').addClass("mobile-mega-menu-parent sublink"),
        $('[data-mobile-dropdown-rel="' + $(this).data("mobile-dropdown") + '"]').append(this),
        $('[data-mobile-dropdown-rel="' + $(this).data("mobile-dropdown") + '"] > ul').each(function (e) {
          $(this).hasClass("mobile-mega-menu") || $(this).remove();
        });
    });
  },
  unloadMegaMenu: function () {
    $(".header .mega-menu").remove(),
      $(".mega-menu-container .mega-menu").each(function (e) {
        $(this).data("dropdown");
        $('.mega-menu-parent[data-dropdown-rel="' + $(this).data("dropdown") + '"]')
          .find(".icon-down-arrow")
          .remove();
      });
  },
  unload: function () {
    $("body").off("click", ".mobile_nav"),
      $("body").off("click", ".dropdown_link"),
      $("html").off("click"),
      $(".mini_cart").off("click"),
      $(".cart_content__continue-shopping").off("click"),
      $("body").off("click", '.banner a[href^="#"]'),
      $(".main_nav_wrapper.sticky_nav").remove();
  },
},
social = {
  twitter: function () {
    window.twttr ||
      (window.twttr = (function (e, t) {
        var a,
          i,
          o = e.getElementsByTagName("script")[0];
        if (!e.getElementById(t))
          return (
            ((i = e.createElement("script")).id = t),
            (i.src = "https://platform.twitter.com/widgets.js"),
            o.parentNode.insertBefore(i, o),
            window.twttr ||
              (a = {
                _e: [],
                ready: function (e) {
                  a._e.push(e);
                },
              })
          );
      })(document, "twitter-wjs")),
      window.twttr &&
        window.twttr.ready(function (e) {
          e.widgets.load(document.getElementById("twitter-timeline"));
        });
  },
  unload: function () {},
},
instagram = {
  loadContent: function (l) {
    var e;
    l.clientID &&
      ((e = "https://api.instagram.com/v1/users/self/media/recent/?access_token=" + l.clientID),
      $.ajax({
        type: "GET",
        url: e,
        dataType: "jsonp",
        success: function (e) {
          if (200 === e.meta.code && e.data.length) {
            var e = e.data,
              t = 0;
            l.el.empty();
            for (var a = 0; a < e.length; a++) {
              var i,
                o = e[a],
                n = o.images.low_resolution.url;
              if (
                (-1 < !o.images.low_resolution.url.indexOf("null") &&
                  ((i = '<div class="il-photo__img instagram__bg" style="background-image:url(' + n + ')" data-filter="' + o.filter + '" /></div>'), (i = '<a href="' + o.link + '" target="_blank" class="instagram__link">' + i + "</a>")),
                o.videos &&
                  ((i = '<div class="instagram__video instagram__bg" style="background-image:url(' + n + ')" data-filter="' + o.filter + '" /></div>'),
                  (i = '<a href="' + o.link + '" target="_blank" class="instagram__link instagram__video-link">' + i + "</a>")),
                "" !== (i = i && '<div class="' + l.column + ' columns instagram__item small-down--one-whole">' + i + "</div>") && (l.el.append(i), t++),
                t == l.limit)
              )
                break;
            }
          }
        },
        error: function () {},
      }));
  },
};
$(".social-feeds-wrap").each(function (e, t) {
social.twitter();
var a = $(this).find(".js-instafeed");
instagram.loadContent({ el: a, clientID: a.data("client-id"), limit: a.data("count"), column: a.data("column") });
});
var mapFunction = {
init: function () {
  var a;
  0 < $(".lazymap").length && lazyframe(".lazymap"),
    $(".maps").hasClass("js-api-map") &&
      ((a = []),
      $(".map").each(function (e, t) {
        a.push(this),
          (a[e].sectionid = $(this).data("id")),
          (a[e].address = $(this).data("address")),
          (a[e].directions = $(this).data("directions-address")),
          (a[e].zoom = $(this).data("zoom")),
          (a[e].mapstyle = $(this).data("style")),
          (a[e].showpin = $(this).data("pin")),
          (a[e].apikey = $(this).data("api-key"));
      }),
      $.each(a, function (e, t) {
        $.ajaxSetup({ cache: !0 }),
          $.getScript("https://maps.googleapis.com/maps/api/js?key=" + a[e].apikey).then(function () {
            mapFunction.findLocation(a[e]), $.ajaxSetup({ cache: !1 });
          });
      }));
},
findLocation: function (a) {
  var i, o;
  new google.maps.Geocoder().geocode({ address: a.address }, function (e, t) {
    t == google.maps.GeocoderStatus.OK ? ((i = e[0].geometry.location.lat()), (o = e[0].geometry.location.lng()), mapFunction.initMap(i, o, a)) : console.log("Error:" + t);
  });
},
initMap: function (e, t, a) {
  var i = { lat: e, lng: t },
    o = [],
    o =
      "aubergine" == a.mapstyle
        ? [
            { elementType: "geometry", stylers: [{ color: "#1d2c4d" }] },
            { elementType: "labels.text.fill", stylers: [{ color: "#8ec3b9" }] },
            { elementType: "labels.text.stroke", stylers: [{ color: "#1a3646" }] },
            { featureType: "administrative.country", elementType: "geometry.stroke", stylers: [{ color: "#4b6878" }] },
            { featureType: "administrative.land_parcel", elementType: "labels.text.fill", stylers: [{ color: "#64779e" }] },
            { featureType: "administrative.province", elementType: "geometry.stroke", stylers: [{ color: "#4b6878" }] },
            { featureType: "landscape.man_made", elementType: "geometry.stroke", stylers: [{ color: "#334e87" }] },
            { featureType: "landscape.natural", elementType: "geometry", stylers: [{ color: "#023e58" }] },
            { featureType: "poi", elementType: "geometry", stylers: [{ color: "#283d6a" }] },
            { featureType: "poi", elementType: "labels.text.fill", stylers: [{ color: "#6f9ba5" }] },
            { featureType: "poi", elementType: "labels.text.stroke", stylers: [{ color: "#1d2c4d" }] },
            { featureType: "poi.park", elementType: "geometry.fill", stylers: [{ color: "#023e58" }] },
            { featureType: "poi.park", elementType: "labels.text.fill", stylers: [{ color: "#3C7680" }] },
            { featureType: "road", elementType: "geometry", stylers: [{ color: "#304a7d" }] },
            { featureType: "road", elementType: "labels.text.fill", stylers: [{ color: "#98a5be" }] },
            { featureType: "road", elementType: "labels.text.stroke", stylers: [{ color: "#1d2c4d" }] },
            { featureType: "road.highway", elementType: "geometry", stylers: [{ color: "#2c6675" }] },
            { featureType: "road.highway", elementType: "geometry.stroke", stylers: [{ color: "#255763" }] },
            { featureType: "road.highway", elementType: "labels.text.fill", stylers: [{ color: "#b0d5ce" }] },
            { featureType: "road.highway", elementType: "labels.text.stroke", stylers: [{ color: "#023e58" }] },
            { featureType: "transit", elementType: "labels.text.fill", stylers: [{ color: "#98a5be" }] },
            { featureType: "transit", elementType: "labels.text.stroke", stylers: [{ color: "#1d2c4d" }] },
            { featureType: "transit.line", elementType: "geometry.fill", stylers: [{ color: "#283d6a" }] },
            { featureType: "transit.station", elementType: "geometry", stylers: [{ color: "#3a4762" }] },
            { featureType: "water", elementType: "geometry", stylers: [{ color: "#0e1626" }] },
            { featureType: "water", elementType: "labels.text.fill", stylers: [{ color: "#4e6d70" }] },
          ]
        : "retro" == a.mapstyle
        ? [
            { elementType: "geometry", stylers: [{ color: "#ebe3cd" }] },
            { elementType: "labels.text.fill", stylers: [{ color: "#523735" }] },
            { elementType: "labels.text.stroke", stylers: [{ color: "#f5f1e6" }] },
            { featureType: "administrative", elementType: "geometry.stroke", stylers: [{ color: "#c9b2a6" }] },
            { featureType: "administrative.land_parcel", elementType: "geometry.stroke", stylers: [{ color: "#dcd2be" }] },
            { featureType: "administrative.land_parcel", elementType: "labels.text.fill", stylers: [{ color: "#ae9e90" }] },
            { featureType: "landscape.natural", elementType: "geometry", stylers: [{ color: "#dfd2ae" }] },
            { featureType: "poi", elementType: "geometry", stylers: [{ color: "#dfd2ae" }] },
            { featureType: "poi", elementType: "labels.text.fill", stylers: [{ color: "#93817c" }] },
            { featureType: "poi.park", elementType: "geometry.fill", stylers: [{ color: "#a5b076" }] },
            { featureType: "poi.park", elementType: "labels.text.fill", stylers: [{ color: "#447530" }] },
            { featureType: "road", elementType: "geometry", stylers: [{ color: "#f5f1e6" }] },
            { featureType: "road.arterial", elementType: "geometry", stylers: [{ color: "#fdfcf8" }] },
            { featureType: "road.highway", elementType: "geometry", stylers: [{ color: "#f8c967" }] },
            { featureType: "road.highway", elementType: "geometry.stroke", stylers: [{ color: "#e9bc62" }] },
            { featureType: "road.highway.controlled_access", elementType: "geometry", stylers: [{ color: "#e98d58" }] },
            { featureType: "road.highway.controlled_access", elementType: "geometry.stroke", stylers: [{ color: "#db8555" }] },
            { featureType: "road.local", elementType: "labels.text.fill", stylers: [{ color: "#806b63" }] },
            { featureType: "transit.line", elementType: "geometry", stylers: [{ color: "#dfd2ae" }] },
            { featureType: "transit.line", elementType: "labels.text.fill", stylers: [{ color: "#8f7d77" }] },
            { featureType: "transit.line", elementType: "labels.text.stroke", stylers: [{ color: "#ebe3cd" }] },
            { featureType: "transit.station", elementType: "geometry", stylers: [{ color: "#dfd2ae" }] },
            { featureType: "water", elementType: "geometry.fill", stylers: [{ color: "#b9d3c2" }] },
            { featureType: "water", elementType: "labels.text.fill", stylers: [{ color: "#92998d" }] },
          ]
        : "silver" == a.mapstyle
        ? [
            { elementType: "geometry", stylers: [{ color: "#f5f5f5" }] },
            { elementType: "labels.icon", stylers: [{ visibility: "off" }] },
            { elementType: "labels.text.fill", stylers: [{ color: "#616161" }] },
            { elementType: "labels.text.stroke", stylers: [{ color: "#f5f5f5" }] },
            { featureType: "administrative.land_parcel", elementType: "labels.text.fill", stylers: [{ color: "#bdbdbd" }] },
            { featureType: "poi", elementType: "geometry", stylers: [{ color: "#eeeeee" }] },
            { featureType: "poi", elementType: "labels.text.fill", stylers: [{ color: "#757575" }] },
            { featureType: "poi.park", elementType: "geometry", stylers: [{ color: "#e5e5e5" }] },
            { featureType: "poi.park", elementType: "labels.text.fill", stylers: [{ color: "#9e9e9e" }] },
            { featureType: "road", elementType: "geometry", stylers: [{ color: "#ffffff" }] },
            { featureType: "road.arterial", elementType: "labels.text.fill", stylers: [{ color: "#757575" }] },
            { featureType: "road.highway", elementType: "geometry", stylers: [{ color: "#dadada" }] },
            { featureType: "road.highway", elementType: "labels.text.fill", stylers: [{ color: "#616161" }] },
            { featureType: "road.local", elementType: "labels.text.fill", stylers: [{ color: "#9e9e9e" }] },
            { featureType: "transit.line", elementType: "geometry", stylers: [{ color: "#e5e5e5" }] },
            { featureType: "transit.station", elementType: "geometry", stylers: [{ color: "#eeeeee" }] },
            { featureType: "water", elementType: "geometry", stylers: [{ color: "#c9c9c9" }] },
            { featureType: "water", elementType: "labels.text.fill", stylers: [{ color: "#9e9e9e" }] },
          ]
        : "night" == a.mapstyle
        ? [
            { elementType: "geometry", stylers: [{ color: "#242f3e" }] },
            { elementType: "labels.text.fill", stylers: [{ color: "#746855" }] },
            { elementType: "labels.text.stroke", stylers: [{ color: "#242f3e" }] },
            { featureType: "administrative.locality", elementType: "labels.text.fill", stylers: [{ color: "#d59563" }] },
            { featureType: "poi", elementType: "labels.text.fill", stylers: [{ color: "#d59563" }] },
            { featureType: "poi.park", elementType: "geometry", stylers: [{ color: "#263c3f" }] },
            { featureType: "poi.park", elementType: "labels.text.fill", stylers: [{ color: "#6b9a76" }] },
            { featureType: "road", elementType: "geometry", stylers: [{ color: "#38414e" }] },
            { featureType: "road", elementType: "geometry.stroke", stylers: [{ color: "#212a37" }] },
            { featureType: "road", elementType: "labels.text.fill", stylers: [{ color: "#9ca5b3" }] },
            { featureType: "road.highway", elementType: "geometry", stylers: [{ color: "#746855" }] },
            { featureType: "road.highway", elementType: "geometry.stroke", stylers: [{ color: "#1f2835" }] },
            { featureType: "road.highway", elementType: "labels.text.fill", stylers: [{ color: "#f3d19c" }] },
            { featureType: "transit", elementType: "geometry", stylers: [{ color: "#2f3948" }] },
            { featureType: "transit.station", elementType: "labels.text.fill", stylers: [{ color: "#d59563" }] },
            { featureType: "water", elementType: "geometry", stylers: [{ color: "#17263c" }] },
            { featureType: "water", elementType: "labels.text.fill", stylers: [{ color: "#515c6d" }] },
            { featureType: "water", elementType: "labels.text.stroke", stylers: [{ color: "#17263c" }] },
          ]
        : [];
  $(".js-map-link").attr("href", "https://www.google.com/maps/place/" + a.directions + "/@" + e + "," + t);
  var n = { zoom: a.zoom, center: i, styles: o, disableDefaultUI: !1 },
    l = new google.maps.Map(document.getElementById(a.sectionid), n);
  1 == a.showpin && new google.maps.Marker({ position: i, map: l });
},
};
