/* #Variables
================================================== */
/* variables/general
================================================== */
/* Variables - Colors
================================================== */
:root {
  --vm-color-sea-green: #1c4747;
  --vm-color-plum: #714457;
  --vm-color-sand: #dec1a8;
  --vm-color-cream: #faf6f4;
  --vm-color-white: #fff;
}

/* Variables - Typography
================================================== */
/* Variables - Components
================================================== */
/* Variables - Misc
================================================== */
/* Variables - Misc
================================================== */
/* Mixins
================================================== */
/* Mixins - general
================================================== */
/*
  This mixin can be used to set the object-fit:
  @include object-fit(contain);
   or object-fit and object-position:
  @include object-fit(cover, top);
*/
/*
  Prefix mixin for generating vendor prefixes.
  Based on https://github.com/thoughtbot/bourbon/blob/v4-stable/app/assets/stylesheets/addons/_prefixer.scss

  Usage:
    // Input:
    .element {
      @include prefix(transform, scale(1), ms webkit spec);
    }

    // Output:
    .element {
      -ms-transform: scale(1);
      -webkit-transform: scale(1);
      transform: scale(1);
    }
*/
/* Mixins - typography
================================================== */
/* Mixins - typography
================================================== */
.vm-styleguide__swatch {
  display: flex;
}

.vm-styleguide__swatch__column {
  padding: 15px;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
}

/* #Variables
================================================== */
/* variables/general
================================================== */
/* Variables - Colors
================================================== */
:root {
  --vm-color-sea-green: #1c4747;
  --vm-color-plum: #714457;
  --vm-color-sand: #dec1a8;
  --vm-color-cream: #faf6f4;
  --vm-color-white: #fff;
}

/* Variables - Typography
================================================== */
/* Variables - Components
================================================== */
/* Variables - Misc
================================================== */
/* Variables - Misc
================================================== */
/* Mixins
================================================== */
/* Mixins - general
================================================== */
/*
  This mixin can be used to set the object-fit:
  @include object-fit(contain);
   or object-fit and object-position:
  @include object-fit(cover, top);
*/
/*
  Prefix mixin for generating vendor prefixes.
  Based on https://github.com/thoughtbot/bourbon/blob/v4-stable/app/assets/stylesheets/addons/_prefixer.scss

  Usage:
    // Input:
    .element {
      @include prefix(transform, scale(1), ms webkit spec);
    }

    // Output:
    .element {
      -ms-transform: scale(1);
      -webkit-transform: scale(1);
      transform: scale(1);
    }
*/
/* Mixins - typography
================================================== */
/* Mixins - typography
================================================== */
.vm-styleguide-layout {
  display: flex;
  flex-direction: row;
}

.vm-styleguide-content {
  width: calc(100% - 300px);
  min-height: 80vh;
  padding: 2rem;
}
.vm-styleguide-content .container {
  margin-left: 0;
}

.vm-styleguide__page-title {
  margin-top: 7rem;
  margin-bottom: 7rem;
}
.vm-styleguide__page-title sup {
  color: #dec1a8;
}

/* #Variables
================================================== */
/* variables/general
================================================== */
/* Variables - Colors
================================================== */
:root {
  --vm-color-sea-green: #1c4747;
  --vm-color-plum: #714457;
  --vm-color-sand: #dec1a8;
  --vm-color-cream: #faf6f4;
  --vm-color-white: #fff;
}

/* Variables - Typography
================================================== */
/* Variables - Components
================================================== */
/* Variables - Misc
================================================== */
/* Variables - Misc
================================================== */
/* Mixins
================================================== */
/* Mixins - general
================================================== */
/*
  This mixin can be used to set the object-fit:
  @include object-fit(contain);
   or object-fit and object-position:
  @include object-fit(cover, top);
*/
/*
  Prefix mixin for generating vendor prefixes.
  Based on https://github.com/thoughtbot/bourbon/blob/v4-stable/app/assets/stylesheets/addons/_prefixer.scss

  Usage:
    // Input:
    .element {
      @include prefix(transform, scale(1), ms webkit spec);
    }

    // Output:
    .element {
      -ms-transform: scale(1);
      -webkit-transform: scale(1);
      transform: scale(1);
    }
*/
/* Mixins - typography
================================================== */
/* Mixins - typography
================================================== */
.vm-styleguide__color-region-example {
  border: 5px solid white;
  padding: 3rem;
}
.vm-styleguide__color-region-example.vm-styleguide__color-region-example--region-light {
  border-color: #faf6f4;
}
.vm-styleguide__color-region-example.vm-styleguide__color-region-example--region-light-alt {
  border-color: #faf6f4;
}
.vm-styleguide__color-region-example.vm-styleguide__color-region-example--region-dark {
  border-color: #714457;
}
.vm-styleguide__color-region-example.vm-styleguide__color-region-example--region-dark-alt {
  border-color: #1c4747;
}

/* #Variables
================================================== */
/* variables/general
================================================== */
/* Variables - Colors
================================================== */
:root {
  --vm-color-sea-green: #1c4747;
  --vm-color-plum: #714457;
  --vm-color-sand: #dec1a8;
  --vm-color-cream: #faf6f4;
  --vm-color-white: #fff;
}

/* Variables - Typography
================================================== */
/* Variables - Components
================================================== */
/* Variables - Misc
================================================== */
/* Variables - Misc
================================================== */
/* Mixins
================================================== */
/* Mixins - general
================================================== */
/*
  This mixin can be used to set the object-fit:
  @include object-fit(contain);
   or object-fit and object-position:
  @include object-fit(cover, top);
*/
/*
  Prefix mixin for generating vendor prefixes.
  Based on https://github.com/thoughtbot/bourbon/blob/v4-stable/app/assets/stylesheets/addons/_prefixer.scss

  Usage:
    // Input:
    .element {
      @include prefix(transform, scale(1), ms webkit spec);
    }

    // Output:
    .element {
      -ms-transform: scale(1);
      -webkit-transform: scale(1);
      transform: scale(1);
    }
*/
/* Mixins - typography
================================================== */
/* Mixins - typography
================================================== */
.vm-styleguide__font-example {
  font-size: 42px;
  line-height: 1.2;
}
.vm-styleguide__font-example.vm-styleguide__font-example--font-proxima-nova {
  font-family: proxima-nova, sans-serif;
}
.vm-styleguide__font-example.vm-styleguide__font-example--font-orpheus-pro {
  font-family: orpheuspro, serif;
}
.vm-styleguide__font-example.vm-styleguide__font-example--weight-normal {
  font-weight: 400;
}
.vm-styleguide__font-example.vm-styleguide__font-example--weight-semibold {
  font-weight: 600;
}
.vm-styleguide__font-example.vm-styleguide__font-example--weight-bold {
  font-weight: 700;
}

.vm-styleguide__component-example__color-region {
  margin-bottom: 2rem;
  text-align: center;
}

.vm-styleguide__subsection-row {
  margin-bottom: 7rem;
}
.vm-styleguide__subsection-row .row {
  align-items: center;
}
.vm-styleguide__subsection-row .vm-styleguide__subsection-row__body h1,
.vm-styleguide__subsection-row .vm-styleguide__subsection-row__body h2,
.vm-styleguide__subsection-row .vm-styleguide__subsection-row__body h3,
.vm-styleguide__subsection-row .vm-styleguide__subsection-row__body h4,
.vm-styleguide__subsection-row .vm-styleguide__subsection-row__body h5,
.vm-styleguide__subsection-row .vm-styleguide__subsection-row__body h6,
.vm-styleguide__subsection-row .vm-styleguide__subsection-row__body p {
  margin-bottom: 0;
}

.vm-styleguide__subsection-row-data-table tr {
  background: transparent;
}
.vm-styleguide__subsection-row-data-table tr:nth-child(odd) {
  background: transparent;
}
.vm-styleguide__subsection-row-data-table td {
  padding: 0;
}
.vm-styleguide__subsection-row-data-table .vm-styleguide__subsection-row-data-table__title,
.vm-styleguide__subsection-row-data-table .vm-styleguide__subsection-row-data-table__value {
  margin: 0;
}
.vm-styleguide__subsection-row-data-table .vm-styleguide__subsection-row-data-table__title {
  opacity: 0.6;
}
.vm-styleguide__subsection-row-data-table .vm-styleguide__subsection-row-data-table__value {
  text-transform: lowercase;
}

.vm-styleguide__subsection {
  margin: 2rem 0;
}

.vm-styleguide__subsection-title {
  position: relative;
  margin-bottom: 5rem;
}
.vm-styleguide__subsection-title sup {
  position: absolute;
  top: 0.5em;
  left: -2.5em;
  right: auto;
  color: #dec1a8;
}

.vm-styleguide__content-section-description {
  margin: 5rem 0;
}

.vm-styleguide-sidebar {
  background-color: #faf6f4;
  flex-basis: 300px;
  flex-grow: 0;
  flex-shrink: 0;
}

.vm-styleguide-sidebar__nav {
  position: sticky;
  top: 6rem;
  padding: 2rem;
}
.vm-styleguide-sidebar__nav ul {
  list-style: none;
  padding-left: 0;
}
.vm-styleguide-sidebar__nav .vm-styleguide-sidebar__nav-item sup {
  color: #dec1a8;
}
.vm-styleguide-sidebar__nav .vm-styleguide-sidebar__nav-link.vm-styleguide-sidebar__nav-link--active {
  color: #dec1a8;
}

.vm-styleguide__swatch-color .vm-styleguide__swatch-color__square {
  padding-top: 100%;
  position: relative;
  cursor: pointer;
}
.vm-styleguide__swatch-color .vm-styleguide__swatch-color__square .vm-styleguide__swatch-color__label {
  position: absolute;
  top: 50%;
  left: 1rem;
  right: 1rem;
  transform: translateY(-50%);
  text-align: center;
  opacity: 0;
  transition: 0.5s opacity;
}
.vm-styleguide__swatch-color .vm-styleguide__swatch-color__square:hover .vm-styleguide__swatch-color__label, .vm-styleguide__swatch-color .vm-styleguide__swatch-color__square.vm-styleguide__swatch-color__square--has-copied .vm-styleguide__swatch-color__label {
  opacity: 1;
}
.vm-styleguide__swatch-color .vm-styleguide__swatch-color__title {
  margin: 1rem 0 0.5rem;
}
.vm-styleguide__swatch-color p {
  margin: 0;
}
.vm-styleguide__swatch-color .vm-styleguide__swatch-color__values .vm-styleguide__swatch-color__value-label {
  margin-bottom: 0;
  opacity: 0.6;
}