/* Pages - Collection
================================================== */

.collection-banner {
  overflow: hidden;
  aspect-ratio: 3 / 1;
  object-fit: cover;
  object-position: center;

  picture {
    display: flex;
  }

  img {
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  @include respond-to("medium-down") {
    aspect-ratio: 2 / 1;
  }
}

.collection-head {
  margin: get-vm-spacer(2) 0;

  .page-heading__title {
    margin-bottom: get-vm-spacer(1);
  }

  .sort_by {
    margin: 0;
    color: $vm-color-sea-green;
  }
}

.collection {
  .sidebar-wrap {
    // position: sticky;
    // To be set by js to account for header height
    // top: 0;
  }

  // @include respond-to("medium-down") {
  //   .sidebar {
  //     display: none;
  //   }
  // }
}
