/* Pages - FAQ
================================================== */

.page-faq {
  .faq--heading {
    padding-top: 50px;

    &:first-child {
      padding-top: initial;
    }
  }

  .container.main.content {
    width: 70%;
  }

  @include respond-to('medium-down') {
    .container.main.content {
      // TODO - use an actual container for this
      padding: 0 20px;
      width: 100%;
    }
  }
}
