/* Pages - general styles
================================================== */

.page-banner .container.content {
  margin-top: $vm-content-section-padding;
  margin-bottom: $vm-content-section-padding;
}

.page-narrow .container.content {
  margin-bottom: $vm-content-section-padding;
}
