/* #Policy pages
================================================== */

.container .shopify-policy__container {
  margin: 5rem auto;
  max-width: 75%;
  padding-left: 0;
  padding-right: 0;

  @include respond-to("medium-down") {
    margin: 1rem 0;
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}

.shopify-policy__container {
  .shopify-policy__title {
    text-align: left;
  }
}
