/* #Policy pages
================================================== */

.container .shopify-policy__container {
  margin: 0;
  max-width: none;
  padding-left: 0;
  padding-right: 0;
}

.shopify-policy__container {
  .shopify-policy__title {
    text-align: left;
  }
}
