.thumbnail {

  .image__container {
    position: relative;
  }
}
.product-list .thumbnail,
.slider-gallery .thumbnail,
.list-collections .thumbnail {
  position: relative;
  margin-bottom: get-vm-spacer(2);
  display: block;

  .thumbnail-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    overflow: hidden;
    transition: opacity 0.3s ease-in;

    > a {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    @include respond-to('medium-down') {
      display: none;
    }

    @include respond-to('widescreen-up') {
      line-height: 1.5;
    }
  }

  img {
    vertical-align: bottom;
    transition: opacity 0.3s ease-in;
    width: 100%;
    @include object-fit(contain, top center);
  }

  .product-info__caption {
    display: block;
    text-align: left;
    margin-top: 10px;

    @include respond-to('medium-down') {
      display: block;
    }
  }
}

@include respond-to('large-down') {
  .touchevents {
    .product-info__caption {
      display: block;
    }
    .thumbnail-overlay {
      display: none;
    }
  }
}

.hidden-product-link {
  line-height: 0;
  font-size: 0;
  color: transparent;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.featured_collections .thumbnail {
  text-align: center;
}

// Swap to second image on hover
.has-secondary-media-swap {
  img {
    visibility: visible;
    height: auto;
  }

  .secondary-media-hidden {
    display: none;
    opacity: 0;
    visibility: hidden;
    height: 0 !important; // override inline height on image-element snippet
  }
}

.quick_shop,
.view_all {
  cursor: pointer;
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  margin-top: 2rem;
  opacity: 0;
  pointer-events: all;
  -webkit-appearance: none;

  -ms-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  transition: opacity 0.3s ease-out, transform 0.3s ease-out, color 0.3s linear,
    background-color 0.3s linear;
}

.thumbnail {
  .sale span.money {
    color: $vm-sale-price-color;
  }

  .was_price span.money {
    color: $vm-was-price-color;
  }
}

/* Product banners */

.new {
  position: relative;
  display: inline;
  padding: 5px;
  border-radius: 2px;
  font-size: 12px;
}

// $collection-height: 300px;

.product-list,
.slider-gallery {
  .thumbnail img {
    // max-height: $collection-height;
    // width: 100%;
    @include object-fit(contain);
  }

  .thumbnail video,
  .thumbnail .plyr--youtube {
    // width: 100%;
    // max-height: $collection-height;
  }

  .thumbnail .plyr--youtube {
    // height: $collection-height;
  }

  .thumbnail .plyr--youtube .plyr__video-embed {
    height: 100%;
  }
}

// {% endif %}

/* Sold out and coming soon text */

.thumbnail .sold-out,
.thumbnail .coming-soon {
  opacity: 0.5;
  // color: {{ settings.regular_color }};
}

.thumbnail-overlay .sold-out,
.thumbnail-overlay .coming-soon {
  opacity: 0.5;
  // color: {{ settings.product_hover_text_color }};
}

/* Sale text */

.thumbnail .sale,
.sale {
  color: $vm-sale-price-color;
}

.banner_holder {
  position: absolute;
  top: 0;
  right: 0;
}

.sale_banner,
.new_banner,
.preorder_banner {
  // background: {{ settings.sale_banner_color }};
  // font-family: {{ settings.nav__font.family }}, {{ settings.nav__font.fallback_families }};
  // font-weight: {{ settings.nav__font.weight }};
  // font-style: {{ settings.nav__font.style }};
  // font-size: 15px;
  // text-transform: {{ settings.nav_font_style }};
  // letter-spacing: {{ settings.nav_letter_spacing }}px;
  background: $vm-color-plum;
  color: $vm-color-white;
  @include vm-paragraph-3();
  padding: 8px 12px;
  text-align: center;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
}

a.secondary_button,
input.secondary_button {
  display: block;
  padding: 15px 0;
  text-align: center;
  border-top: solid 1px $vm-border-color;
  border-bottom: solid 1px $vm-border-color;
  margin: 10px 0;
  -webkit-appearance: none;
}

.thumbnail .title,
.thumbnail .price .money {

}

.thumbnail .price,
.thumbnail .title {
  display: block;
  margin-bottom: 5px;
}

.thumbnail .title {
  word-break: break-word;
}

.cart_price {
  float: right;
  text-align: right;
  padding-left: 20px;
  font-weight: bold;
  display: none;
}

#estimated-shipping,
.excluding_tax {
  display: block;
}

.cart_page_image {
  text-align: center;
  margin: 1rem 0 2rem;
  display: block;
  border-width: 0 !important;

  img {
    width: 100%;
    display: block;
  }
}

.cart_content_info {
  padding: 0;

  h5 {
    padding: 0;
    margin-bottom: 10px;
    margin-top: 0;
  }

  .price_total {
    clear: both;
    padding: 0;
    margin-bottom: 20px;
    font-size: 20px;
  }
}

.subtotal {
  padding-top: 20px;
  padding-left: 40px;

  @include respond-to('medium-down') {
    padding-left: 0;
  }
}

.continue-shopping {
  display: block;
  // color: secondary-button-color({{ settings.btn_color }});
  text-align: center;
  // font-family: {{ settings.nav__font.family }}, {{ settings.nav__font.fallback_families }};
  // font-weight: {{ settings.button_weight }};
  // font-style: {{ settings.nav__font.style }};
  // font-size: {{ settings.button_font_size }}px;
  // text-transform: {{ settings.button_font_style }};
  // letter-spacing: {{ settings.nav_letter_spacing }}px;
  margin-top: 1rem;
}

.subtotal_amount {
  font-size: 1.4em;
  font-weight: bold;
}

button.update {
  width: 30%;
  float: right;
}

.size_chart {
  float: right;
  padding-top: 5px;
}

#size-chart {
  display: none;
}

#size-chart h5 {
  padding: 15px 0 0 0;
  text-align: center;
}

.js-sizechart-lightbox {
  cursor: default !important; //using important to overwrite the fancybox styles
}

.price_total_text {
  font-weight: normal;
  display: none;
}

.was_price {
  text-decoration: line-through;
  color: $vm-was-price-color;
  text-shadow: none;
  font-weight: normal;
}

.cart_savings {
  text-align: left;
}

.savings {
  // font-size: {{ settings.regular_font_size }}px;
  display: block;
}

.thumbnails a {
  display: block;
  margin-bottom: 1em;
}
