/* Pages - Product
================================================== */

.product-content-wrapper {
  position: sticky;
  top: 0;
}

.product_section {
  padding-top: get-vm-spacer(2);

  @include respond-to("medium-down") {
    padding-top: get-vm-spacer(0);
  }
}

.modal_price {
  padding-bottom: 8px;
  display: block;
}

.product_section .description.bottom {
  margin-top: 15px;
  border-bottom: none;
}

.sale_banner_product,
.new_banner_product,
.preorder_banner_product {
  padding: get-vm-spacer(1) 0;
  text-align: left;

  h5 {
    margin: 0;
  }
}

.recommended-products__title {
  margin-top: get-vm-spacer(3);
}

.product_links {
  @include vm-paragraph-3();
  border-top: 1px solid $vm-border-color;
  padding: 2rem 0 0;

  a {
    border-bottom: 0 !important;
  }

  p {
    margin: 2px 0;
  }
}

// Product images - desktop
.product-images-modal-wrapper {
  display: none;
  $modal-z-index: 100000000;

  .product-images-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $modal-z-index;
  }

  .product-images-modal__underlay {
    position: fixed;
    background: $vm-color-cream;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $modal-z-index + 1;
  }

  .product-images-modal__content {
    position: relative;
    padding: get-vm-spacer(3);
    z-index: $modal-z-index + 2;
  }

  &.is-active {
    display: block;
  }
}

.product-images-modal__thumbnail-list-column {
  position: relative;
}

.product-images-modal__close-button-wrapper {
  position: absolute;
  top: 0;
  left: 0;
}

.product-images-modal__thumbnail-list-wrapper {
  display: flex;
  height: calc(100vh - #{get-vm-spacer(6)});
  align-items: center;
  justify-content: center;
}

.product-images-modal__thumbnail-list {
  display: flex;
  flex-wrap: wrap;
}

.product-images-modal__thumbnail-wrapper {
  width: 50%;
  padding: 3px;
}

.product-images-modal__thumbnail {
  cursor: pointer;
  border: 2px solid transparent;
  transition: border-color 0.2s;

  &.is-active {
    border-color: $vm-color-sea-green;
  }
}

.product-images-modal__image-cell-list {
  overflow-y: scroll;
  height: calc(100vh - #{get-vm-spacer(6)});
}

.product-images-modal__image-cell {
  margin: get-vm-spacer(1);

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

// Product images - mobile
.product-images-mobile {
  margin: 0 (-($gutter)) get-vm-spacer(1);
}

.product-images-mobile__images-container {
  overflow-x: hidden;
}

.product-images-mobile__images-container__inner {
  transition: transform 0.2s;
  display: flex;
  flex-direction: row;

  &.is-active {
    transition: none;
  }
}

.product-images-mobile__image {
  display: block;
  width: 100%;
  height: auto;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 100%;
}

.product-images-mobile__dots {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: get-vm-spacer(2) 0;
}

.product-images-mobile__dots__dot {
  $size: 8px;
  width: $size;
  height: $size;
  background-color: rgba($vm-color-sea-green, 0.2);
  border-radius: 50%;
  margin: 0 5px;
  transition: background-color 0.2s;

  &:hover,
  &.is-active {
    background-color: $vm-color-sea-green;
  }
}

.product-quantity-box {
  margin-right: 0;
  user-select: none;

  label {
    margin-bottom: 0.5em;
    text-align: left;
  }

  .quantity {
    text-align: center;
    padding: 6px 15px;
    width: 38%;
    height: 44px;
    border-radius: 0;
    -webkit-appearance: none;
    float: left;
    border-left: 0 none;
    border-right: 0 none;

    @include respond-to($medium-down) {
      width: calc(100% - 88px);
    }
  }

  .product-plus,
  .product-minus {
    background: $vm-button-background-color;
    color: $vm-button-text-color;
    border: 1px solid $vm-button-border-color;
    font-weight: 300;
    position: relative;
    cursor: pointer;
    display: block;
    height: 44px;
    width: 44px;
    line-height: 44px;
    text-align: center;
    float: left;

    &:hover {
      background-color: $vm-button-hover-background-color;
      border-color: $vm-button-hover-border-color;
      color: $vm-button-hover-text-color;
    }

    @include respond-to("medium-down") {
      display: inline;
      display: initial;
      margin: 0;
    }
  }

  .product-plus {
    border-left: 0;
    font-size: 16px;
  }

  .product-minus {
    border-right: 0;
    font-size: 18px;
  }
}

.product-quantity-box + .inline_purchase {
  margin-top: 31.5px;
  width: 55%;
  float: left;
}

.product_section {
  .product_form {
    margin-bottom: get-vm-spacer(0.5);
  }

  .product_form,
  .contact-form {
    // max-width: 400px;

    @include respond-to("medium-down") {
      max-width: 100%;
    }
  }
}

/* Full width product image template */

.product-full_width_images .product_section .description img {
  display: none;
}

.full-width-product-images {
  img {
    display: block;
    width: 100%;
  }

  .caption.align-center,
  .caption.align-right,
  .caption.align-left {
    @include respond-to("small-down") {
      text-align: center;
    }
  }
}

.collection,
.product-template {
  background-color: $vm-color-cream;
}

.product {
  .image-list {
    background-color: $vm-color-white;
  }
}

.product-info__caption {
  color: $vm-color-sea-green !important;

  &:hover {
    color: $vm-link-hover-color !important;
  }
}

div {
  &.collection_title_tags {
    padding-right: 25px;
    border-right: solid 1px $vm-border-color;
  }
}

.product-price-wrapper {
  margin: get-vm-spacer(2) 0;

  .affirm-as-low-as-wrapper {
    min-height: 1.4rem;
  }

  .affirm-as-low-as {
    margin: 0;
  }
}

.notify_form #contact_form .action_button {
  width: 100%;
}

.product_image_col {
  margin-top: 15px;
  text-align: center;
}

.count {
  font-style: normal;
  font-size: 13px;
}

.checkout {
  display: block;
  float: right;
  margin-top: 0px;
}

.additional-checkout-buttons {
  text-align: center;
  margin-top: 0;

  & > *:not(script) {
    padding: 10px 0 0 10px;
    vertical-align: top;
    line-height: 1;

    @include respond-to("small-down") {
      padding: 10px 0 0 5px;
    }

    &:first-child,
    &:empty {
      padding-left: 0px;
    }
  }
}

.or {
  line-height: 40px;
  font-style: normal;
  font-size: 14px;
  padding: 0 10px;
  text-align: center;

  @include respond-to("small-down") {
    line-height: initial;
    text-align: left;
  }
}

.product-info {
  margin-bottom: get-vm-spacer(2);
}

.shipping_estimate #fromDate,
.shipping_estimate #toDate,
.product .description h6 em a {
  font-weight: 600;
}

/* SM - Hide Paypal Button */
.product {
  .shopify-payment-button,
  .shopify-payment-button__more-options,
  .shopify-payment-button__button--branded {
    visibility: hidden;
    display: none;
  }
}

// Hacky solution to make add to cart button + ring size dropdown line up
.purchase-details {
  .columns,
  .column {
    display: flex;
    align-items: flex-end;
    justify-content: stretch;

    > * {
      width: 100%;
    }
  }

  .line-item-property__field {
    select {
      margin-bottom: 0;
    }

    @include respond-to("large-up") {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.product_section .smart-payment-button--true.product_form {
  max-width: 100%;
}

.smart-payment-button--true button .checkmark path {
  stroke: $vm-color-sea-green;
}

.smart-payment-button--false .purchase-details {
  @include align-items(flex-end);
}

.smart-payment-button--false {
  margin-bottom: 20px;
}

.product-quantity-box.purchase-details__quantity {
  margin-right: 5px;
  width: calc(50% - 12px);

  @include respond-to("small-down") {
    width: 100%;
  }

  input.quantity {
    padding-top: 11px;
    padding-bottom: 11px;
    line-height: 1.4;
    min-height: 44px;
    margin-bottom: 0;
    width: calc(100% - 88px);
  }
}

.smart-payment-button--true .product-quantity-box.purchase-details__quantity {
  width: calc(50% - 6px);

  @include respond-to("medium-down") {
    width: 100%;
    margin-right: 0;

    .input.quantity {
      width: calc(100% - 88px);
    }
  }
}

p.checkout_button {
  margin-bottom: 0;
}

.product-page__product-image-cell-list {
  display: flex;
  flex-wrap: wrap;
}

.product-page__product-image-cell {
  cursor: zoom-in;
  aspect-ratio: 1/1;
  width: 50%;
  padding: 0 get-vm-spacer(0.5) get-vm-spacer(0.5);
}

.purchase-details__buttons.purchase-details__spb--true {
  @include respond-to("medium-down") {
    margin-left: 0;
    margin-bottom: 0;
  }

  .action_button.action_button--secondary {
    @include respond-to("medium-down") {
      @include flex(1 0 100%);
      margin-right: 0px;
      margin-top: 0;
      margin-bottom: 10px;
      max-width: 100%;
    }
  }
}

// When product is unavailable
.purchase-details__buttons {
  &.product-is-unavailable {
    .add_to_cart,
    .shopify-payment-button {
      opacity: 0.5;
      pointer-events: none;
    }

    .add_to_cart {
      padding: 10px 5px;
    }
  }
}

#checkout {
  min-height: 54px; /* Match the height of additional checkout buttons. */
}

.additional-checkout-button + .additional-checkout-button {
  margin-left: 0 !important;
  max-width: 100% !important;
}

.additional-checkout-button,
.additional-checkout-button.additional-checkout-button--paypal,
.additional-checkout-button.additional-checkout-button--google-pay {
  min-width: 100% !important; /* Overwrite inline style */
}
