/* Pages - Search
================================================== */

.search-page__results-count {
  padding-bottom: get-vm-spacer(1);
  border-bottom: 2px solid $vm-color-cream;
  margin-bottom: 0;
}

.search-page-result {
  a {
    padding: get-vm-spacer(2);
    display: block;
    transition: background-color 0.2s, color 0.2s;
    color: $vm-color-sea-green;

    &:hover {
      background: $vm-color-cream;
    }
  }

  p:last-child {
    margin-bottom: 0;
  }

  .row {
    align-items: center;
  }

  .search-page-result__type-heading {
    color: $vm-color-sea-green;
    opacity: 0.6;
    margin-bottom: 0;
  }

  @include respond-to("medium-down") {
    a {
      padding: get-vm-spacer(1);
      margin: 0 (get-vm-spacer(1) * -1);
    }

    .row {
      align-items: flex-start;
    }

    .search-page-result__title {
      @include vm-subheading-2();
    }
  }
}
