/* Variables - Misc
================================================== */

$vm-border-color: $vm-color-sea-green;
$vm-content-section-padding: 5rem;
$vm-content-section-mobile-padding: 3rem;

$vm-sale-price-color: $vm-color-plum;
$vm-was-price-color: $vm-color-sand;
