/* Variables - Misc
================================================== */

$vm-border-color: $vm-color-black;

$vm-sale-price-color: $vm-color-plum;
$vm-was-price-color: $vm-color-black;

$product-media-fill-color: $vm-color-black;
$product-media-bg-color: #fff;
