/* Variables - Misc
================================================== */

$vm-spacer: 1rem;

@function get-vm-spacer($amount: 1) {
  @return $vm-spacer * $amount;
}

$vm-content-section-padding: get-vm-spacer(6);
$vm-content-section-mobile-padding: get-vm-spacer(3);
