/* Variables - Typography
================================================== */

// $vm-body-text-color: $vm-color-black;
$vm-body-text-color: $vm-color-black;
// $vm-body-text-color: #111;

$vm-font-orpheus: orpheuspro, serif;
$vm-font-proxima-nova: proxima-nova, sans-serif;
$vm-font-cormorant: "Cormorant", serif;
$vm-font-cormorant-garamond: "Cormorant Garamond", serif;
$vm-font-quattrocento: "Quattrocento Sans", sans-serif;
$vm-font-montserrat: "Montserrat", sans-serif;

// $vm-body-font: $vm-font-proxima-nova;
$vm-body-font: $vm-font-montserrat;

$vm-heading-font: $vm-font-cormorant-garamond;

$vm-subheading-font: $vm-body-font;

$vm-paragraph-font: $vm-body-font;
$vm-label-font: $vm-body-font;

$vm-link-color: $vm-color-plum;
$vm-link-hover-color: rgba($vm-color-plum, 0.7);
$vm-link-transition-speed: 0.1s;

$vm-heading-accent-color: $vm-color-sand;
$vm-heading-font-weight: 400;
$vm-heading-line-height: 1.1;

$vm-heading-1-font-size: 67px;
$vm-heading-1-letter-spacing: -2px;
$vm-heading-1-line-height: $vm-heading-line-height;
$vm-heading-1-font-weight: $vm-heading-font-weight;

$vm-heading-1-mobile-font-size: 50px;

$vm-heading-2-font-size: 54px;
$vm-heading-2-letter-spacing: -1px;
$vm-heading-2-line-height: $vm-heading-line-height;
$vm-heading-2-font-weight: $vm-heading-font-weight;

$vm-heading-2-mobile-font-size: 40px;

$vm-heading-3-font-size: 34px;
$vm-heading-3-letter-spacing: 0;
$vm-heading-3-line-height: $vm-heading-line-height;
$vm-heading-3-font-weight: $vm-heading-font-weight;

$vm-heading-3-mobile-font-size: 26px;

// $vm-subheading-letter-spacing: 0.04em;
$vm-subheading-letter-spacing: 0.02em;
$vm-subheading-line-height: 1.4;
$vm-subheading-font-weight: 600;

$vm-subheading-1-font-size: 15px;
$vm-subheading-1-letter-spacing: $vm-subheading-letter-spacing;
$vm-subheading-1-line-height: $vm-subheading-line-height;
$vm-subheading-1-font-weight: $vm-subheading-font-weight;

$vm-subheading-1-mobile-font-size: 15px;

$vm-subheading-2-font-size: 13px;
$vm-subheading-2-letter-spacing: $vm-subheading-letter-spacing;
$vm-subheading-2-line-height: $vm-subheading-line-height;
$vm-subheading-2-font-weight: $vm-subheading-font-weight;

$vm-subheading-2-mobile-font-size: 13px;

$vm-subheading-3-font-size: 12px;
$vm-subheading-3-letter-spacing: $vm-subheading-letter-spacing;
$vm-subheading-3-line-height: $vm-subheading-line-height;
$vm-subheading-3-font-weight: $vm-subheading-font-weight;

$vm-subheading-3-mobile-font-size: 12px;

// $vm-paragraph-font-weight: 300;
$vm-paragraph-font-weight: 400;
$vm-paragraph-letter-spacing: 0;

$vm-paragraph-1-font-size: 18px;
$vm-paragraph-1-letter-spacing: $vm-paragraph-letter-spacing;
$vm-paragraph-1-line-height: 1.6;
$vm-paragraph-1-font-weight: $vm-paragraph-font-weight;

$vm-paragraph-1-mobile-font-size: 17px;

$vm-paragraph-2-font-size: 16px;
$vm-paragraph-2-letter-spacing: $vm-paragraph-letter-spacing;
$vm-paragraph-2-line-height: 1.6;
$vm-paragraph-2-font-weight: $vm-paragraph-font-weight;

$vm-paragraph-2-mobile-font-size: 15px;

$vm-paragraph-3-font-size: 15px;
$vm-paragraph-3-letter-spacing: $vm-paragraph-letter-spacing;
$vm-paragraph-3-line-height: 1.6;
$vm-paragraph-3-font-weight: $vm-paragraph-font-weight;

$vm-paragraph-3-mobile-font-size: 14px;
