{{ 'pages_eternity-bracelets.css' | asset_url | stylesheet_tag }}

<div class="use-flex-grid use-narrow-grid-rows">
  {% section "eternity-bracelets-banner" %}
  {% section "content-section--image-with-text" %}
  {% section "content-section--image-with-text--how-it-works" %}
  {% section "content-section--image-with-text--price-list" %}
  {% section "eternity-bracelets-cta" %}
  {% section "content-section--faq" %}
</div>