<a name="pagecontent" id="pagecontent"></a>

<div class="page page--block-text">
  <div class="container">
    <div class="row">

      <div class="twelve columns offset-by-two medium-down--one-whole medium-down--offset-by-zero">
        {% render "page-heading" with {
          title: page.title
        } %}

        <div>
          {{ page.content }}
        </div>
      </div>

    </div>
  </div>

  {% section "custom-engagement-ring-steps" %}
  {% section "custom-engagement-ring-form" %}
  
</div>
