<div class="page page--block-text">
  {{ 'pages_styleguide.css' | asset_url | stylesheet_tag }}
  
  <div id="styleguide-app"></div>

  {{ 'styleguide.js' | asset_url | script_tag }}
  {{ 'styleguide.css' | asset_url | stylesheet_tag }}
</div>