<div class="page page--our-story use-flex-grid">
  {% comment %}
  {{ 'pages_our-story.css' | asset_url | stylesheet_tag }}
  {% endcomment %}

  {% section 'our-story-intro' %}
  {% section 'our-story-about-valerie' %}
  
  {% comment %}
  {% section 'our-story-timeline' %}
  {% section 'our-story-pillars' %}
  {% section 'our-story-team' %}
  {% endcomment %}
  
  {% section 'our-story-visit-the-store' %}
</div>