<a name="pagecontent" id="pagecontent"></a>

<div class="sixteen columns page page--block-text clearfix">
  <div class="page-heading">
    <h1 class="page-heading__title">
      {{ page.title }}
    </h1>
  </div>

  {% render 'page-multi-column', content: page.content %}
</div>
