<div class="page page--our-story">
  {{ 'pages_our-story.css' | asset_url | stylesheet_tag }}

  {% section 'our-story-intro' %}
  {% section 'our-story-about-valerie' %}
  {% section 'our-story-timeline' %}
  {% section 'our-story-pillars' %}
  {% section 'our-story-team' %}
  {% section 'our-story-visit-the-store' %}
</div>