<a name="pagecontent" id="pagecontent"></a>

<div class="page page--block-text">
  
  <div class="container">
    <div class="row">
      <div class="sixteen columns">

        <div class="page-heading">
          <h1 class="page-heading__title">
            {{ page.title }}
          </h1>
        </div>

      </div>
    </div>
  </div>

  {% section "content-section--how-it-works" %}
  {% section "content-section--faq" %}
  
</div>