<div class="page page--our-story">
  <!-- <a href="#visit-the-store">visit</a> -->
  {% section 'our-story-intro' %}
  {% section 'our-story-about-valerie' %}
  {% section 'our-story-timeline' %}
  {% section 'our-story-pillars' %}
  {% section 'our-story-team' %}
  {% section 'our-story-visit-the-store' %}
</div>