/* Content Section - Image Text columns
================================================== */

.content-section.content-section--image-text-columns {
}

.content-section--image-text-columns__image-wrapper,
.content-section--image-text-columns__text-wrapper {
  display: flex;
  // align-items: center;
  justify-content: center;
  min-height: 100%;
}

.content-section--image-text-columns__image-wrapper {
  padding-right: get-vm-spacer(2);
  padding-left: 0;

  @include respond-to("medium-down") {
    padding: 0 0 get-vm-spacer(3);
  }

  .row--reverse & {
    padding-right: 0;
    padding-left: get-vm-spacer(2);

    @include respond-to("medium-down") {
      padding: 0 0 get-vm-spacer(3);
    }
  }
}

.content-section--image-text-columns__text-wrapper {
  flex-direction: column;
  // padding: get-vm-spacer(1);

  @include respond-to("medium-down") {
    padding: 0;
  }
}

.content-section.content-section--is-full-width {
  @include respond-to("large-up") {
    padding: 0;
  }

  .content-section--image-text-columns__image-wrapper {
    padding: 0;
    max-height: 80vh;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @include respond-to("medium-down") {
      padding-bottom: get-vm-spacer(3);
    }
  }

  .content-section--image-text-columns__text-wrapper {
    padding: get-vm-spacer(3);

    @include respond-to("widescreen-up") {
      p {
        max-width: 75%;
      }
    }

    @include respond-to("medium-down") {
      padding: 0;
    }
  }
}
